.active {
    color: pink;
}

.navbar>.container,
.navbar>.container-fluid {
    display: block !important;


}

/* to not collapse */
.navbar-nav {
    flex-direction: row !important;
}

.navbar-nav .nav-link {
    padding-right: 0.7rem !important;
    padding-left: 0.7rem !important;
}

.dp-menu {
    padding-top: 10%;
    padding-right: 10px;
}

.dp-div {
    margin-top: 20px;
    margin-left: -50px;
}

.dp-div > p{
   padding:5px !Important;
   margin:0 !Important;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid black;
}

.cursor {
    cursor: pointer;
}

.full-width{
    width:100%;
}

// .my-nav-btn    
// {
//     padding: 0;
//     font-size: 12px;
//     margin: 0;
//     height: 28px;
//     line-height: 28px;
// }
.my-nav-btn    
{
    padding: 0;
    font-size: 12px;
    margin: 0;
    height: 28px;
    line-height: 28px;
    background: #6b2d98;
    border: 2px solid #dc17be;
    color: white;
}
.disable {
    cursor: not-allowed;
    color: #aaa;
}

#dropdownBasic1 
{
    color:whitesmoke;
    font-weight: bold;
}
#dropdownBasic:hover
{
    color:white
}