<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button> 
<div class="collapse navbar-collapse" id="navbarNav">
-->
<div class="row">
    <div class="col-8" *ngIf="redirectEvent==null">
        <div class=" navbar" id="navbarNav" style="padding:0;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a [routerLink]="['/specialtycardpage']" class="nav-link cursor">{{ 'menu.specialtycard' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/events']" class="nav-link cursor">{{ 'menu.events' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/signandsend']" class="nav-link cursor">{{ 'menu.signandsend' | translate }}</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link cursor disable">{{ 'menu.ecards' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor disable">{{ 'menu.bestcreations' | translate }}</a>
                </li>
                -->
                <li class="nav-item">
                    <a [routerLink]="['/gifts']" class="nav-link cursor">{{ 'menu.gifts' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/stickers']" class="nav-link cursor">{{ 'menu.stickers' | translate }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-4" *ngIf="redirectEvent=='mothers day'">
        <img routerLink="/cards/events/Mother's Day" src="/assets/images/mothers/button1-min.png" class="cursor">
    </div>
    <div class="col-4" *ngIf="redirectEvent=='mothers day'">
        <img routerLink="/mother/gifts" src="/assets/images/mothers/button2-min.png" class="cursor">
    </div>
    <div class="col-4" *ngIf="isLogIn == false">
        <div class="full-width">
            <div class="row">
                <div class="col-10" style="display: flex; flex-direction: column; align-items: flex-end; justify-content: flex-end;">
                    <div ngbDropdown class="d-inline-block">
                        <a ngbDropdownToggle id="dropdownBasic1" style="cursor: pointer;">{{ 'menu.hi' | translate }}
                            {{this.userProfile?.displayName}}</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dp-div">
                            <p ngbDropdownItem routerLink='/profile/info' class="cursor">{{ 'menu.profile' | translate }}</p>
                            <div class="dropdown-divider"></div>
                            <p ngbDropdownItem routerLink='/profile/comm' class="cursor">{{ 'menu.communicationpreferences' | translate }}</p>
                            <div class="dropdown-divider"></div>
                            <p ngbDropdownItem routerLink='/profile/address' class="cursor">{{ 'menu.shippingaddress' | translate }}</p>
                            <div class="dropdown-divider"></div>
                            <p ngbDropdownItem routerLink='/profile/list' class="cursor">{{ 'menu.mylist' | translate }}</p>
                            <div class="dropdown-divider"></div>
                            <p ngbDropdownItem routerLink='/profile/orders' class="cursor">{{ 'menu.myorders' | translate }}</p>
                            <div class="dropdown-divider"></div>
                            <a ngbDropdownItem href="#" (click)="signOut()">{{ 'menu.signout' | translate }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" style="padding-top: 1%;">
                    <button mat-raised-button (click)="signOut()" class="my-nav-btn">
                        {{ 'menu.signout' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="isLogIn == true">
        <div class="full-width">
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <button mat-raised-button (click)="openLoginDialog(null)">
                        {{ 'menu.login' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>