<button class="btn btn-primary full-size" (click)="clickSignAndSend(signandsend)">
    {{'sign.title'|translate}}
</button>

<ng-template #signandsend let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'sign.title'|translate}}</h4>
    </div>
    <div class="modal-body p-1">
        <div class="main-div">
            <!--
            <div class="div-image-list">
                <img *ngFor="let url of urls" src="{{url.url}}" (click)="imageClick(url)">
            </div>
            -->
            <div class="div-image">
                <div class="editing">
                    <div class="main" *ngIf="focusURL">
                        <img class="sign-send-img" src="{{focusURL.url}}">
                        <div class="text-area d-flex align-items-center justify-content-center" *ngFor="let item of focusItems" [style.top.px]="item.top" [style.left.px]="item.left" [style.width.px]="item.width" [style.height.px]="item.height">
                            <div [style.font-family]="item.style" [style.font-size.px]="item.size" [style.text-align]="item.alignment">
                                <p [innerText]="item.text"></p>
                            </div>
                            <button class="icon icon-sm rounded-circle border" (click)="textareaClick(item.code)"><i class="fa fa-edit"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editor border py-3 px-3" [hidden]="!editorvisible">
                <div class="row">
                    <div class="col-12" *ngIf="!selected.image">
                        <label class="alert">{{'sign.insertatext'|translate}}</label>
                    </div>
                    <div class="col-12">
                        <label class="form-label">{{'sign.yourmessage'|translate}}</label>
                    </div>
                    <div class="col-12">
                        <textarea class="form-control" rows="5" (keyup)="textareaKeyup($event)" (focus)="textareaFocus($event)" (click)="areaClick($event)" [value]="selected.text" [maxLength]="selected.limit" [(ngModel)]="message"></textarea>
                    </div>
                    <div class="col-12 mt-2">
                        <emoji-mart title="Pick your emoji…" emoji="point_up" [perLine]="8" (emojiClick)="addEmoji($event)"></emoji-mart>
                    </div>
                    <div class="col-12 mt-4">
                        <label class="form-label">{{'sign.font'|translate}}</label>
                    </div>
                    <div class="col-12">
                        <select class="form-control" [value]="selected.style" (change)="fontChange($event)" [(ngModel)]="selected.style">
                            <option *ngFor="let font of fonts" value="{{font}}">{{font}}</option>
                        </select>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="row">
                            <div class="col-6">
                                <label class="form-label">{{'sign.fontsize'|translate}}</label>
                            </div>
                            <div class="col-6 text-end">
                                {{selected.size}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <input type="range" class="form-range" min="20" max="50" step="1" [value]="selected?selected.size:0" (change)="sizeChange($event)">
                    </div>
                    <div class="col-12 mt-4">
                        <label class="form-label">{{'sign.alignment'|translate}}</label>
                    </div>
                    <div class="col-12">
                        <div class="btn-group" role="group" ngbRadioGroup name="radioBasic" [(ngModel)]="selected.alignment">
                            <button [ngClass]="selected.alignment == 'left' ? 'btn btn-primary btn-lg' : 'btn btn-light btn-lg'" (click)="alignmentClick('left')">
                                <i class="fa fa-align-left"></i>
                            </button>
                            <button [ngClass]="selected.alignment == 'center' ? 'btn btn-primary btn-lg' : 'btn btn-light btn-lg'" (click)="alignmentClick('center')">
                                <i class="fa fa-align-center"></i>
                            </button>
                            <button [ngClass]="selected.alignment == 'right' ? 'btn btn-primary btn-lg' : 'btn btn-light btn-lg'" (click)="alignmentClick('right')">
                                <i class="fa fa-align-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 text-end">
                        <button class="btn btn-outline-primary action" (click)="closeEditor()">Done</button> 
                    </div>
                </div>
            </div>
            <!--
            <div class="div-textarea">
                <div class="row">
                    <div class="col-12" *ngIf="!selected.image">
                        <label class="alert">{{'sign.insertatext'|translate}}</label>
                    </div>
                    <div class="col-12">
                        <label class="form-label">{{'sign.yourmessage'|translate}}</label>
                        <br />
                        <textarea class="form-control" rows="5" (keyup)="textareaKeyup($event)" (focus)="textareaFocus($event)" (click)="areaClick($event)" [value]="selected.text" [maxLength]="selected.limit" [(ngModel)]="message"></textarea>
                    </div>
                    <div class="col-12">
                        <br />
                        <label class="form-label">{{'sign.font'|translate}}</label>
                        <br />
                        <select class="form-control" [value]="selected.style" (change)="fontChange($event)" [(ngModel)]="selected.style">
                            <option *ngFor="let font of fonts" value="{{font}}">{{font}}</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <br />
                        <label class="form-label">{{'sign.fontsize'|translate}}</label>
                        <br />
                        <input type="range" class="form-range" min="20" max="50" step="1" [value]="selected?selected.size:0" (change)="sizeChange($event)">
                    </div>
                    <div class="col-12">
                        <label class="form-label">{{'sign.alignment'|translate}}</label>
                        <br />
                        <div class="btn-group" role="group" ngbRadioGroup name="radioBasic" [(ngModel)]="selected.alignment">
                            <button [ngClass]="selected.alignment == 'left' ? 'btn btn-primary btn-lg' : 'btn btn-light btn-lg'" (click)="alignmentClick('left')">
                                <i class="fa fa-align-left"></i>
                            </button>
                            <button [ngClass]="selected.alignment == 'center' ? 'btn btn-primary btn-lg' : 'btn btn-light btn-lg'" (click)="alignmentClick('center')">
                                <i class="fa fa-align-center"></i>
                            </button>
                            <button [ngClass]="selected.alignment == 'right' ? 'btn btn-primary btn-lg' : 'btn btn-light btn-lg'" (click)="alignmentClick('right')">
                                <i class="fa fa-align-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 pt-2">
                        <div class="div text-center">
                            <app-emoji (SelectEvent)="emoticon($event)"></app-emoji>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
    <div class="modal-footer">
        <div class="row foot">
            <div class="col-8 div-images">
                <div class="div-img" *ngFor="let url of urls">
                    <img src="{{url.url}}" (click)="imageClick(url)">
                </div>
            </div>
            <div class="col-4 text-end h-100 my-auto">
                <button class="btn btn-outline-primary action" (click)="clickDone()">{{'button.done'|translate}}</button>
                <button class="btn btn-outline-secondary action" (click)="clickClear()">{{'button.clear'|translate}}</button>
                <button class="btn btn-outline-danger action" (click)="clickCancel()">{{'button.cancel'|translate}}</button>
            </div>
        </div>
    </div>
</ng-template>
<br /><br /><br />