.main-div {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.div-image-list {
    width: 100px;
    height: 100%;
    border: 1px solid var(--bs-border-color);
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-image-list img {
    max-width: 100%;
    cursor: pointer
}

.div-textarea {
    width: 300px;
    height: 100%;
    border: 1px solid var(--bs-border-color);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.div-image {
    width: 100%;
    height: 100%;
    text-align: center;
    flex: flex-grow;
    overflow-x: auto;
    overflow-y: auto;
}


.full-size {
    width: 100%;
    font-size: 18px;
    border-radius: 0px;
}

.full-height {
    height: 100%;
}

.image-list {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid var(--bs-border-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.image-list img {
    max-width: 100%;
    cursor: pointer;
}

.image-list img:hover {
    border: 1px solid blue;
}

.editing {
    text-align: center;
    display: block;
    min-width: 500px;
}

.main {
    position: relative;
    display: inline-block;
}

.main img {
    max-width: 100%;
    height: auto;
    width: auto;
    /* ie8 */
}

.text-area {
    position: absolute;
    font-family: 'Smooch';
}

.text-area-div {
    position: absolute;
    border: 1px dashed red;
    width: 100%;
    height: 100%;
}

.text-area-div-active {
    position: absolute;
    border: 1px solid #d419bb;
    width: 100%;
    height: 100%;
}

.text-area button {
    visibility: hidden;
    position: absolute;
}

.text-area:hover button {
    visibility: visible;
}

.photo-area{
    position: absolute;
    border: 1px dashed blue;
}

.photo-area button {
    visibility: hidden;
    position: absolute;
}

.photo-area:hover button {
    visibility: visible;
}


.tool {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid var(--bs-border-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.row {
    padding-bottom: 20px !important;
}

.alert {
    padding: 0 0 0 0 !important;
    color: red;
}

.action {
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-right: 10px !important;
}

.action-tool {
    flex-grow: 4;
    align-items: flex-end;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sign-send-img {
    max-width: 1400px !important;
}


.fb_dialog_content>iframe {
    bottom: 70px !important;
}

.foot {
    width: 100%;
    padding-bottom: 0px !important;
}

.div-images {
    height: 70px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.div-img {
    height: 100%;
    border: 1px solid lightgray;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.div-img img {
    height: 100%;
    object-fit: cover;
}

.active{
    border: 1px solid #d419bb
}

.editor {
    position: absolute;
    right: 15px;
    top: 5px;
    width: 350px;
    background-color: whitesmoke;
    border-color: #d419bb !important;
}

.text-p{
    height: 100%; 
    width: 100%; 
    overflow: hidden;
}