<h2>{{'profile.profile'|translate}}</h2>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h3>{{'profile.basicinfo'|translate}}</h3>
            </div>
            <div class="col-4 text-right">
                <h6>
                    <span (click)="updateMode()" class="mode">{{isEdit? ('button.save'|translate):('button.edit'|translate)}}</span>
                    <span (click)="cancelEdit()" class="mode" *ngIf="isEdit">{{'button.cancel'|translate}}</span>
                </h6>
            </div>
        </div>

        <form [formGroup]="form" class="row">
            <div class="mb-3 col-6">
                <label>* {{'profile.firstname'|translate}}</label>
                <input type="text" class="form-control" placeholder="{{'profile.firstname'|translate}}" formControlName="firstname" readonly="{{isEdit? '': 'readonly'}}" [ngClass]="{ 'is-invalid': submitted && controls()['firstname'].errors}">
            </div>
            <div class="mb-3 col-6">
                <label>* {{'profile.lastname'|translate}}</label>
                <input type="text" class="form-control" placeholder="{{'profile.lastname'|translate}}" formControlName="lastname" readonly="{{isEdit? '': 'readonly'}}" [ngClass]="{ 'is-invalid': submitted && controls()['lastname'].errors}">
            </div>

            <div class="mb-3 col-4">
                <label>* {{'profile.contact'|translate}}</label>
                <input type="text" class="form-control" placeholder="{{'profile.contact'|translate}}" formControlName="contact" readonly="{{isEdit? '': 'readonly'}}" [ngClass]="{ 'is-invalid': submitted && controls()['contact'].errors}" (keypress)="changePhone($event)">
            </div>
            <div class="mb-3 col-4">
                <label>* {{'profile.email'|translate}}</label>
                <input type="email" class="form-control" placeholder="{{'profile.email'|translate}}" formControlName="email" readonly="readonly">
            </div>
            <div class="mb-3 col-4">
                <div class="row">
                    <div class="col-12 mb-2">
                        <label>* {{'profile.gender'|translate}}</label>
                    </div>
                    <div class="col-12">
                        <div class="form-check form-check-inline">
                            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="form-check-input" value="Female" formControlName="gender" [attr.disabled]="isEdit? null: ''" [ngClass]="{ 'is-invalid': submitted && controls()['gender'].errors}">
                            <label class="form-check-label" for="customRadioInline1">{{'profile.female'|translate}}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="form-check-input" value="Male" formControlName="gender" [attr.disabled]="isEdit? null: ''" [ngClass]="{ 'is-invalid': submitted && controls()['gender'].errors}">
                            <label class="form-check-label" for="customRadioInline2">{{'profile.male'|translate}}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3 col-12">
                <label>* {{'profile.birthday'|translate}}</label>
                <div class="input-group ">
                    <select aria-label="Month" class="form-control" placeholder="{{'profile.month|translate}}" [attr.disabled]="!isEdit ? '' : null" formControlName="month" [ngClass]="{ 'is-invalid': submitted && controls()['month'].errors}">
                        <option value="" disabled selected>Month</option>
                        <option value="1">{{'month.jan'|translate}}</option>
                        <option value="2">{{'month.feb'|translate}}</option>
                        <option value="3">{{'month.mar'|translate}}</option>
                        <option value="4">{{'month.apr'|translate}}</option>
                        <option value="5">{{'month.may'|translate}}</option>
                        <option value="6">{{'month.june'|translate}}</option>
                        <option value="7">{{'month.july'|translate}}</option>
                        <option value="8">{{'month.aug'|translate}}</option>
                        <option value="9">{{'month.sept'|translate}}</option>
                        <option value="10">{{'month.oct'|translate}}</option>
                        <option value="11">{{'month.nov'|translate}}</option>
                        <option value="12">{{'month.dec'|translate}}</option>
                    </select>
                    <input type="number" aria-label="Day" class="form-control" placeholder="{{'profile.day'|translate}}" min="1" max="31" readonly="{{isEdit? '': 'readonly'}}" formControlName="day" [ngClass]="{ 'is-invalid': submitted && controls()['day'].errors}">
                    <input type="number" aria-label="Year" class="form-control" placeholder="{{'profile.year'|translate}}" min="1950" max="{{currentYear}}" readonly="{{isEdit? '': 'readonly'}}" formControlName="year" [ngClass]="{ 'is-invalid': submitted && controls()['year'].errors}">
                </div>
            </div>
        </form>

    </div>
</div>