<div class="row pt-5">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-6 pb-2 mb-2" *ngFor="let card of allCards.slice(0, loadcount)">
        <app-card [card]="card" *ngIf="card.type != 'ecard'"></app-card>
        <app-ecard [card]="card" *ngIf="card.type == 'ecard'"></app-ecard>
    </div>
</div>
<div class="row justify-content-md-center pb-5">
    <div class="col-md-4 col-sm-12 d-grid" *ngIf="loadbutton">
        <button class="loadmore" (click)="onLoadMoreClick()">LOAD MORE</button>
    </div>
</div>