.loadmore {
    border: 1px solid #8a2be2;
    background-color: #FFFFFF;
    color: #8a2be2;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
  }
  
  .loadmore:hover {
    background-color: #8a2be2;
    color: #FFFFFF;
  }