.favorite{
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    // border: red 1px solid;
    background-color: #f56e6eed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon{
    color: white;
    cursor: pointer;
}

.count{
    color: white;
    font-size: 17px;
    padding-left: 10px;
    position: relative;
}