<footer class="border-top bg">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-3">
        <h5>{{ 'footer.customerservice' | translate}}</h5>
        <div class="px-2">
          <a [routerLink]="['/page/ContactUs']" *ngIf="priceService.getLocation()=='ph'">{{ 'footer.contactus' | translate }}</a>
          <a [routerLink]="['/page/ContactUs-us']" *ngIf="priceService.getLocation()!='ph'">{{ 'footer.contactus' | translate }}</a>
        </div>
        <div class="px-2"><a [routerLink]="['/page/ChatNow']">{{ 'footer.chatnow' | translate }}</a></div>
        <div class="px-2"><a [routerLink]="['/page/ReviewProduct']">{{ 'footer.reviewproduct' | translate }}</a></div>
        <br />
        <h5>{{ 'footer.knowmore' | translate}}</h5>
        <div class="px-2"><a [routerLink]="['/page/AboutUs']">{{ 'footer.about' | translate }} FibeiGreetings</a></div>
        <div class="px-2"><a [routerLink]="['/page/PressPage']">{{ 'footer.presspage' | translate }}</a></div>
        <div class="px-2"><a [routerLink]="['/signandsendpage']">{{ 'footer.signandsend' | translate }}</a></div>
        <br />
        <h5>{{ 'footer.orderinformation' | translate }}</h5>
        <div class="px-2"><a [routerLink]="['/page/ShippingAndDelivery']">{{ 'footer.shippinganddelivery' | translate }}</a></div>
        <br />
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <a href="/"><img src="/assets/images/logo_fibeigreetings.png" class="img-fluid" style="max-height:100px;"></a>

          <br />
          <div class="im-social">
            <a [href]="instagram" target="_blank">
              <i class="fab fa-2x fa-instagram"></i>
            </a>
            <a [href]="facebook" target="_blank">
              <i class="fab fa-2x fa-facebook"></i>
            </a>
            <a [href]="pinterest" target="_blank">
              <i class="fab fa-2x fa-pinterest"></i>
            </a>
            <a [href]="twitter" target="_blank">
              <i class="fab fa-2x fa-twitter"></i>
            </a>
            <a [href]="youtube" target="_blank">
              <i class="fab fa-2x fa-youtube"></i>
            </a>
            <!-- <a href="#" target="_blank">
              <i class="fa fab fa-2x fa-tiktok"></i>
            </a> -->
            <a href="mailto:fibeigreetings1@gmail.com" target="_blank">
              <i class="fa fa-2x fa-envelope"></i>
            </a>
          </div>
          <br />
          <div>{{ 'footer.copyright' | translate }} © 2024 FiBeiGreetings.com</div>
        </div>

      </div>
      <div class="col-md-3">
        <h5>{{ 'footer.termsofuse' | translate }}</h5>
        <div class="px-2"><a [routerLink]="['/page/TermsAndCondition']">{{'footer.termsandcondition'|translate}}</a></div>
        <div class="px-2"><a [routerLink]="['/page/PrivacyPolicy']">{{'footer.privacypolicy' | translate}}</a></div>
        <br />
        <h5>{{'footer.paymentmethod'|translate}}</h5>
        <img src="/assets/images/payment_gcash.png" class="img-fluid" style="max-height:30px;margin-bottom: 10px;" *ngIf="priceService.getLocation() == 'ph'">
        <br *ngIf="priceService.getLocation() == 'ph'"/>
        <img src="/assets/images/payment_amex.png" class="img-fluid" style="max-height:40px;margin-bottom:10px;">
        <br />
        <img src="/assets/images/payment_PayPal.png" class="img-fluid" style="max-height:30px;margin-bottom:10px;">
        <br />
        <p style="display: inline-block;
          padding: 5px 10px;
          color: white;
          background: #7f0595;
          border-radius: 4px;
          margin-top: 10px;"> <i class="fa fa-credit-card" aria-hidden="true"></i> {{'footer.debitorcreditcard'|translate}}</p>
      </div>
    </div>
  </div><!-- //container -->
</footer>