.im-social a 
  {
    height: 50px;
    background: #7f05951f;
    margin: 0px 4px;
    border-radius: 50%;
    width: 50px;
    display: inline-block;
    padding: 10px;
    color: #7f0595;
      }
      .im-social a:hover
      {
        color:#000
      }