<ion-content>
    <section class="section-name padding-y-sm mothersday-component">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3"> <img src="/assets/images/graduation/banner01.png" ></div>
                <div class="col-12">
                    <img src="/assets/images/graduation/banner02.png">
                    <h2 class="text-center" style="color:#f5b926"> MESSAGE FOR THE GRADUATES </h2>
                    <img src="/assets/images/graduation/banner03.png" routerLink="/graduation/greetings" class="cursor">
                    <img src="/assets/images/graduation/banner04.png" routerLink="/cards/events/Graduation" class="cursor">
                    <img src="/assets/images/graduation/banner05.png" routerLink="/cards/events/Gifts%20for%20Graduates" class="cursor">
                    <img src="/assets/images/graduation/Shipping and Sticker Banner-min.png" >
                </div>
                
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>