<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <h3>{{'profile.changepassword'|translate}}</h3>
      </div>
      <div class="col-4 text-right">
        <h6><span (click)="open(content)" class="mode">{{'button.edit'|translate}}</span></h6>
      </div>
    </div>
    <p>
      {{'profile.resetpassword'|translate}}
    </p>
  </div>
</div>

<ng-template #content let-modal>
  <form [formGroup]="form" (ngSubmit)="save()" autocomplete="off">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{'profile.changepassword'|translate}}</h4>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label>{{'profile.currentpassword'|translate}}</label>
        <input type="password" class="form-control" placeholder="{{'profile.currentpassword'|translate}}" formControlName="password" [ngClass]="{ 'is-invalid': submitted && controls()['password'].errors}" autocomplete="new-password">
        <div *ngIf="submitted && controls()['password'].errors" class="invalid-feedback">
          <div *ngIf="controls()['password'].errors!['required']">Password is Required</div>
          <div *ngIf="controls()['password'].errors!['error']">Authetication Failed</div>
        </div>
      </div>
      <div class="mb-3">
        <label>{{'profile.newpassword'|translate}}</label>
        <input type="password" class="form-control" placeholder="{{'profile.newpassword'|translate}}" formControlName="newpassword" [ngClass]="{ 'is-invalid': submitted && controls()['newpassword'].errors}" autocomplete="new-password">
        <div *ngIf="submitted && controls()['newpassword'].errors" class="invalid-feedback">
          <div *ngIf="controls()['newpassword'].errors!['required']">New Password is Required</div>
          <div *ngIf="controls()['newpassword'].errors!['mismatch']">New Password and Confirm Password Mismatch</div>
        </div>
      </div>
      <div class="mb-3">
        <label>{{'profile.confirmnewpassword'|translate}}</label>
        <input type="password" class="form-control" placeholder="{{'profile.confirmnewpassword'|translate}}" formControlName="confirm" [ngClass]="{ 'is-invalid': submitted && controls()['confirm'].errors}" autocomplete="new-password">
        <div *ngIf="submitted && controls()['confirm'].errors" class="invalid-feedback">
          <div *ngIf="controls()['confirm'].errors!['required']">New Password is Required</div>
          <div *ngIf="controls()['confirm'].errors!['mismatch']">New Password and Confirm Password Mismatch</div>
        </div>
      </div>
      <div class="model-footer">
        <div class="mb-3">
          <button type="submit" class="btn btn-primary" [disabled]="loading">
            <span class="spinner-border spinner-border-sm" *ngIf="loading"></span> Submit
          </button>
          <button type="button" class="btn btn-danger" (click)="close()">{{'button.cancel'|translate}}</button>
        </div>
      </div>
    </div>

  </form>
</ng-template>