<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <h3>{{'profile.changepassword'|translate}}</h3>
      </div>
      <div class="col-4 text-right">
        <h6><span (click)="open(content)" class="mode">{{'button.edit'|translate}}</span></h6>
      </div>
    </div>
    <p>
      {{'profile.resetpassword'|translate}}
    </p>
  </div>
</div>

<ng-template #content let-modal>
  <form [formGroup]="form"> 
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{'profile.changepassword'|translate}}</h4>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label>{{'profile.currentpassword'|translate}}</label>
        <input type="password" class="form-control" placeholder="{{'profile.currentpassword'|translate}}" formControlName="password">
      </div>
      <div class="mb-3">
        <label>{{'profile.newpassword'|translate}}</label>
        <input type="password" class="form-control" placeholder="{{'profile.newpassword'|translate}}" formControlName="newpassword">
      </div>
      <div class="mb-3">
        <label>{{'profile.confirmnewpassword'|translate}}</label>
        <input type="password" class="form-control" placeholder="{{'profile.confirmnewpassword'|translate}}" formControlName="confirm">
      </div>
      <div class="model-footer">
        <div class="mb-3">
          <button type="button" class="btn btn-primary" (click)="save()">{{'button.save'|translate}}</button>
          <button type="button" class="btn btn-danger" (click)="close()">{{'button.cancel'|translate}}</button>
        </div>
      </div>
    </div>
    
  </form>
</ng-template>