<ion-content>
    <section class="section-name padding-y-sm mothersday-component">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/clipart/banner-1.png" style="width:100%">
                    <img src="/assets/images/clipart//banner-2.png" style="width:100%">
                    <div class="text-center"><h2  class="txt-violet">CLIPARTS LIBRARY</h2></div>
                    <div class="txt-violet">Search for Cliparts</div>
                    <div class="clip-choices">
                        <a [routerLink]="">A</a>
                        <a [routerLink]="">B</a>
                        <a [routerLink]="">C</a>
                        <a [routerLink]="">D</a>
                        <a [routerLink]="">E</a>
                        <a [routerLink]="">F</a>
                        <a [routerLink]="">G</a>
                        <a [routerLink]="">H</a>
                        <a [routerLink]="">I</a>
                        <a [routerLink]="">J</a>
                        <a [routerLink]="">K</a>
                        <a [routerLink]="">L</a>
                        <a [routerLink]="">M</a>
                        <a [routerLink]="">N</a>
                        <a [routerLink]="">O</a>
                        <a [routerLink]="">P</a>
                        <a [routerLink]="">Q</a>
                        <a [routerLink]="">R</a>
                        <a [routerLink]="">S</a>
                        <a [routerLink]="">T</a>
                        <a [routerLink]="">U</a>
                        <a [routerLink]="">V</a>
                        <a [routerLink]="">W</a>
                        <a [routerLink]="">X</a>
                        <a [routerLink]="">Y</a>
                        <a [routerLink]="">Z</a>
                        <a [routerLink]="">All Cliparts</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div style="width: 100%; padding-left: 5px; position: relative;">
                        <img src="/assets/images/clipart/buy-sticker2.png" style="width:100%">
                        <div style="height: 11%;width: 26%;position: absolute;right: 8%;bottom: 3%;cursor: pointer;"
                            [routerLink]="['/stickers']"></div>
                        <div style="height: 48.5%;width: 15.5%;position: absolute;left: 30.5%; bottom: 9%;cursor: pointer;transform: rotate(15deg);"
                            [routerLink]="['/card/EBD2aEhYlGEQKdCSFVPT']"></div>
                        <div style="height: 47%; width: 15%; position: absolute; left: 47.3%; bottom: 17%; cursor: pointer; transform: rotate(2deg);"
                            [routerLink]="['/card/KZTbS1VQyAvuBrEasUFm']"></div>
                        <div style="height: 48%; width: 15.5%; position: absolute; left: 63%; bottom: 21%; cursor: pointer; transform: rotate(-3deg);"
                            [routerLink]="['/card/zNi3LgBi17Z5uqHlydn9']"></div>
                        <div style="height: 45%; width: 15%; position: absolute; left: 80.5%; bottom: 20%; cursor: pointer; transform: rotate(13deg);"
                            [routerLink]="['/card/v2KQHDfy0tn35rXfMP1O']"></div>
                    </div>
                    <div>
                        <img [routerLink]="['/e-cards']" class="pointer" src="/assets/images/clipart/e-card.gif" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>