.title {
    width: 70%;
}

.trickortreat {
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 3/1.44;
}

.shopnow {
    height: 34%;
    cursor: pointer;
}

.hover-effect {
    opacity: .9;
}

.hover-effect:hover {
    opacity: 1;
}

.featured {
    color: #f16f18;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}

.categories {
    color: #f16f18;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 10px;
}

.banner-left {
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1.1;
    border-radius: 1rem;
}

.banner-right {
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1.1;
    border-radius: 1rem;
}

.button {
    color: #ff7418;
    border: none;
    font-weight: 800;
    font-size: 25px;
    opacity: .8;
}

.button:hover {
    color: #ffa828;
    opacity: 1;
}