<ion-content>
    <h2 style="font-size:0px;margin: 0;"  *ngIf="caption">{{caption}}</h2>
    <section class="section-name padding-y-sm">
        <div class="container animate main">
            <div class="row">
                <div class="col-md-12" *ngIf="banner != ''">
                    <img src="{{banner}}" class="img-fluid pointer" style="border-radius:6px; width:100% !important" [routerLink]="['/card/' + priority]">
                    <br /> <br />
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-2 my-auto text-start">
                    <button class="btn rounded-0" style="background-color: #8a2be2; color: #ffffff;" (click)="onBack()">Back to All Categories</button>
                </div>
                <div class="col-md-8 text-center">
                    <header class="section-heading">
                        <h3 class="section-title" *ngIf="caption">{{caption}}</h3>
                    </header>
                </div>
            </div>
            <div class="row" *ngIf="loading">
                <div class="col-md-12 my-2">
                    <mat-progress-bar mode="indeterminate" value=100></mat-progress-bar>
                </div>
            </div>
            <app-card-list *ngIf="(search === undefined) && (cards.length > 0)" [priority]="priority" [cards]="cards" [recipient]="recipient!" [mode]="type"></app-card-list>
            <app-search-list *ngIf="(search !== undefined) && (cards.length > 0)" [cards]="cards"></app-search-list>
        </div>
    </section>
    <br><br>
    <section class="section-name padding-y-sm mother-background-footer">
        <div class="container animate main">
            <div class="purple-box">
                <div class="row">
                    <div class="col-md-12">
                        <img src="assets/images/banner/option/banner.png">
                    </div>
                    <div class="col-md-4">
                        <a [routerLink]="['/events']" class="to-link"><img
                                src="assets/images/banner/option/event.png"></a>
                    </div>
                    <div class="col-md-4">
                        <a [routerLink]="['/postcards']" class="to-link"><img
                                src="assets/images/banner/option/postcard.png"></a>
                    </div>
                    <div class="col-md-4">
                        <a [routerLink]="['/specialtycardpage']" class="to-link"><img
                                src="assets/images/banner/option/specialty.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</ion-content>