.fathers-background
{
    background-image: url('../../assets/images/fathers/father and child back ground.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.father-desc
{
color:#4e3825
}

.g-bg
{
    background-image: url('../../assets/images/fathers/g-bg.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.g-p
{
    color: #25337c;
    font-weight: bold;
    font-size: 19px;

}

.cursor
{
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}
.cursor:hover
{
    opacity:1;
}

@media(max-width: 768px) {
    .g-bg {
        background:none
    }
 
  }