<ion-content>
    <section class="section-name padding-y-sm mothersday-component">
        <div class="container">
            <div class="row">
                
                 <div class="col-6">
                    <img src="/assets/images/fathers/Shop father's banner-min.png" routerLink="/cards/events/Father's Day" class="cursor">
                </div>
                <div class="col-6">
                    <img src="/assets/images/fathers/Shop Gifts Banner-min.png" routerLink="/cards/events/Gifts for Fathers" class="cursor">
                </div>
                <div class="col-md-12">
                    <img src="/assets/images/fathers/Share love-min.png">
                    <br /> <br />
                </div>
                <div class="col-md-6">
                    <img src="/assets/images/fathers/Father's day gift suggestions-min.png" routerLink="/cards/events/Gifts for Fathers" class="cursor">
                    <br /> <br />
                </div>
                <div class="col-md-6"  >
                    <div class="row" style="background:#36b5fd;padding-top: 15px; padding-bottom: 15px;">
                        <div class="col-6">
                            <img src="/assets/images/fathers/Inside remember to thank-min.png" routerLink="/father/greetings"
                                class="cursor">
                        </div>
                        <div class="col-6">
                            <img src="/assets/images/fathers/inside remember to thank-2-min.png" routerLink="/cards/events/Mugs & Teacups"
                                class="cursor">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="padding:0">
                           <img src="/assets/images/fathers/f-min.png"> 
                        </div>
                        </div>
                </div>
                    <div class="col-md-12">
                        <img src="/assets/images/fathers/Brackdrop Banner-min.png">
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12 fathers-background">
                            <div class="row">

                           
                        <div class="col-md-3 " style="vertical-align: bottom;
                        display: flex;
                        align-items: flex-end;">
                            <img src="/assets/images/fathers/fatherandson.png" class="d-none d-md-block">
                        </div>
                        <div class="col-md-8">
                                    <h3 class="father-desc">Father's Day is quickly approaching, which means it's time to shower our fathers with kind messages, cards, and gifts. By adding personalized messages, you can create an incredible and wonderful card with happy father's day greetings on your own.
                                    </h3> 
                            <div class="row">
                                <div class="col-md-3 col-6 col-sm-6">
                                    <img src="/assets/images/fathers/Card1.png" routerLink="/card/ucFryXkNfQ7s5fxlNTWL"
                                        class="cursor">
                                        <br/><br/>
                                </div>
                                <div class="col-md-3 col-6  col-sm-6">
                                    <img src="/assets/images/fathers/Card2.png" routerLink="/card/U0F9NnhFshdvGlrB9AGR"
                                        class="cursor">
                                        <br/><br/>
                                </div>
                                <div class="col-md-3 col-6  col-sm-6">
                                    <img src="/assets/images/fathers/Card3.png" routerLink="/card/ixVgJrWSkrgKRh5OxFcp"
                                        class="cursor">
                                        <br/><br/>
                                </div>
                                <div class="col-md-3 col-6  col-sm-6">
                                    <img src="/assets/images/fathers/Card4.png" routerLink="/card/JWMl8xWCCCQ2LfZavk6x"
                                        class="cursor">
                                        <br/><br/>
                                </div>
                            </div>
                            <div class="text-center" style="margin:auto">
                            <img src="/assets/images/fathers/buy-now.png" routerLink="/cards/events/Father%E2%80%99s%20Day"
                            class="cursor">
                            <br/>  <br/>
                        </div>
                        </div>
                    </div>
                </div>
                    </div>
                    <div class="col-md-12">
                        <img src="/assets/images/fathers/Back drop Banner-min.png">
                        <br /> <br />
                    </div>
                    <div class="" >
                        <div class="col-md-12 g-bg" >
                            <br/>
                            <div class="row">
                                <div class="offset-md-3 col-md-6">
                                    <p class="g-p">Fathers are great persons. That's probably why people have said so many nice, amusing, and thankful things about theirs. Choose one of these Father's Day gifts to express your appreciation to the dad in your life.</p>
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="/assets/images/fathers/g1.png" routerLink="/card/Gm6ke9oJYa4xFduNO8VA" class="cursor">
                                </div>    
                                <div class="col-md-3">
                                    <img src="/assets/images/fathers/g2.png" routerLink="/card/ODCf1QD5wHwxQtv6Dg6P" class="cursor">
                                </div>   
                                <div class="col-md-3">
                                    <img src="/assets/images/fathers/g3.png" routerLink="/card/pQXfaIsvtD0uvC4umAwp" class="cursor">
                                </div>   
                                <div class="col-md-3">
                                    <img src="/assets/images/fathers/g4.png" routerLink="/card/b9Jh3gxTa9cdZ7OtFqyd" class="cursor">
                                </div>   
                                </div>
                                <br/><br/>
                            </div>
                                
                            </div>
                        </div>

                    </div>
                <div class="col-md-12">
                    <br /> <br />
                    <img src="/assets/images/fathers/Shipping and Sticker Banner-min.png">
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>