p {
    margin-top: 20px;
}

.main {
    min-height: 100px;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-icon {
    cursor: pointer;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.less-padding {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.title {
    font-size: 22px;
    color: #212529
}

::ng-deep .carousel-control-prev,
::ng-deep .carousel-control-next {
    width: 5% !important;
}

::ng-deep .carousel-control-prev-icon,
::ng-deep .carousel-control-next-icon {
    filter: invert(100%) !important;
}

::ng-deep .carousel-indicators {
    margin-top: 1rem;
    margin-bottom: 0;
}

::ng-deep .carousel-item {
    transition: transform 1.5s ease-in-out !important;
}