<h5><b>{{'order.choosemore'|translate}}:</b></h5>
<div class="row main">
    <div class="col-12 no-padding">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let batch of batches">
                <div class="row justify-content-md-center">
                    <div class="col-11">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 less-padding" *ngFor="let item of batch.items">
                                <app-add-more-item [card]="item.card" [count]="item.count" (addMoreChange)="addMoreChange(item.card.id!, $event)">
                                </app-add-more-item>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>