.info-wrap
{
  padding: 18px 20px !Important;
}

.cursor{
  cursor: pointer;
}

img{
  height: 200px;
}

.pill{
  border-radius: 80px;
  padding: 3px 20px 3px 20px !important
}
.card .img-wrap
{
  background-color: #fbf4ff;
}
.card card-product-grid:hover
{
border:1px solid darkviolet
}