.info-wrap {
  padding: 18px 20px !Important;
}

.cursor {
  cursor: pointer;
}

img {
  max-width: 1005;
  // max-height: 200px;
}

.pill {
  border-radius: 80px;
  padding: 3px 20px 3px 20px !important
}

.card .img-wrap {
  background-color: #fbf4ff;
  // height: 200px;
}

.card card-product-grid:hover {
  border: 1px solid darkviolet
}

.tag {
  color: #d518bb;
  background-color: white;
  border: none;
}

.tag-bestseller
{
  background: #d518bb;
  color: white;
  padding: 2px 12px;
  margin: 0;
  border-radius: 12px;
}

.tag-featured
{
  background: #6b2d98;
  color: white;
  padding: 2px 12px;
  margin: 0;
  border-radius: 12px; 
}