<div href="#" class="card card-product-grid" *ngIf="card">
    <a href="{{'/card/' + card!.id}}" class="img-wrap"> <img src="{{this.imageURL!}}"> </a>
    <figcaption class="info-wrap">
        <a href="{{'/card/' + card!.id}}" class="title">{{card!.name}}</a>
        <div class="price mt-1">₱ {{card!.price | number:'1.2-2'}}</div> <!-- price-wrap.// -->
    
        <app-rating-decimal cardId="{{card!.id}}"></app-rating-decimal>
    
      </figcaption>

</div>
<style>
      .info-wrap
{
  padding: 18px 20px !Important;
}
</style>