<div class="card position-relative" *ngIf="card">
  <a [routerLink]="['/card/' + card!.id]" class="img-wrap" title="{{card!.name}}">
    <img src="{{this.imageURL!}}">
  </a>
  <figcaption class="info-wrap">
    <p routerLink="{{'/card/' + card!.id}}" class="title cursor mb-2">{{card!.name}}</p>
    <div class="row">
      <div class="col-5 my-auto">
        <div class="price">{{priceService.getSign()}} {{getPrice() | number:'1.2-2'}}</div>
      </div>
      <div class="col-7 text-end">
        <img src="../assets/images/badge-sticker-free.png" class="sticker ms-2 cursor" *ngIf="card!.type == 'sticker' && card!.price == 18" [routerLink]="getStickerLink()" />

        <img src="../assets/images/badge-featured.png" class="featured ms-2" *ngIf="card!.featured" />
      </div>
      <div class="col-6">
        <app-rating-decimal cardId="{{card!.id}}"></app-rating-decimal>
      </div>
      <div class="col-6 text-end my-auto" *ngIf="card.messagetype=='poetry'">
        <img src="../assets/images/badge-poetry.png" class="poerty" />
      </div>
    </div>

    <button class="btn btn-light pill" *ngIf="card.signAndSend">
      {{'cards.signandsend'|translate}}
    </button>
  </figcaption>
  <span class="position-absolute bestseller" *ngIf="card.bestseller">
    <img src="../assets/images/badge-bestseller.png" />
  </span>
</div>