.info-wrap {
  padding: 16px 14px !Important;
}

.cursor {
  cursor: pointer;
}

img {
  max-width: 1005;
  // max-height: 200px;
}

.pill {
  border-radius: 80px;
  border-color: #9400d3;
  padding: 3px 10px 3px 10px !important
}

.card .img-wrap {
  background-color: #fbf4ff;
  // height: 200px;
}

.card card-product-grid:hover {
  border: 1px solid darkviolet
}

.card:hover {
  border: 1px solid darkviolet;
}

.tag {
  color: #d518bb;
  background-color: white;
  border: none;
}

.tag-bestseller {
  background: #d518bb;
  color: white;
  padding: 2px 12px;
  margin: 0;
  border-radius: 12px;
}

.tag-featured {
  background: #6b2d98;
  color: white;
  padding: 2px 12px;
  margin: 0;
  border-radius: 12px;
}

.poerty {
  width: 80px;
}

.bestseller {
  left: -15px;
  top: -15px;
}

.bestseller img {
  height: 90px;
}

.featured {
  width: 80px;
}

.sticker {
  height: 70px;
  aspect-ratio: 1.4/1;
}

.giftimage {
  width: 100%;
  aspect-ratio: 1/1.2;
  object-fit: cover;
}

.title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new-badge {
  width: 25%;
  position: absolute;
  left: -4px;
  top: -4px;
}
.text-right
{
  text-align: right !important;
}

a{
  text-align: left;
  color: #000;
}

a:link{
  text-decoration: none;
}