<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                    <img src="assets/images/justbecause/Banners/topmost-banner-min.png">
                    <img src="assets/images/justbecause/Banners/Messages-Cards/1-banner-min.png">
                    
                </div>
                    <div class="father-greetings-selection">
                    <div class="row ">
                        <div class="col-md-10 offset-md-1">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <button (click)="scroll(ALL1)">FOR ALL</button>
                                </div>
                                <div class="col-md-4 text-center">
                                    <button (click)="scroll(OTHERS1)">FOR SIGNIFICANT OTHERS</button>
                                </div>
                                <div class="col-md-4 text-center">
                                    <button (click)="scroll(FRIENDS1)">FOR FRIENDS</button>
                                </div>
                                <!-- <div class="col-md-3 text-center">
                                    <button (click)="scroll(SHORT1)">SHORT AND SWEET</button>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <button (click)="scroll(NEW1)">FOR ALL NEW DADS</button>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button (click)="scroll(FARAWAYDADS1)">FOR FAR WAY DADS</button>
                                </div>
                                <div class="col-md-4 text-center">
                                    <button (click)="scroll(QUOTES1)">FATHER'S DAY QUOTES</button>
                                </div>-->
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                    <div #ALL1></div>
                    <img src="/assets/images/justbecause/Banners/Messages-Cards/3-banner-min.png" class="w100">
                        <br /><br />
                        <ol>
                            <li>The World is a mess, But I'm Glad You're in it.
                            </li>
                            <li>You are loved. Just a little something to make this day a little bit better.</li>
                            <li>Know your worth. Don't ask for it. State it once and never accept anything less.</li>
                            <li>Just because you take breaks doesn't mean you're broken.    </li>
                            <li>One person must believe in oneself.</li>
                        </ol>
                    <br /><br />

                    <div class="row">
                        <div class="col-md-3">
                        <a href="https://fibeigreetings.com/card/zCqAftlub1UCKkesYPr8" class="f-mails" target="_blank" title="Hello Sunshine">
                            <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FzCqAftlub1UCKkesYPr8%2FAZ78CpEMQd28A2I3GZ75?alt=media&token=7d852ab2-a78d-4d48-a0fd-d0d4f1282ac2" >
                            <br/> <br/>
                            <p>Hello Sunshine</p>
                            <b>P99.00</b>
                        </a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://fibeigreetings.com/card/zIdrccc6o3JvHmRuTRxg" class="f-mails" target="_blank" title="Just Wanted To Pop Up And Say Hello">
                                <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FzIdrccc6o3JvHmRuTRxg%2FIqFNJrcKMgE41EdemQxi?alt=media&token=4cdc2af3-9b19-4ae7-87a3-7a2340e567c9" >
                                <br/> <br/>
                                <p>Just Wanted To Pop Up And Say Hello</p>
                                <b>P99.00</b>
                            </a>
                            </div>
                            <div class="col-md-3">
                                <a href="https://fibeigreetings.com/card/st5x7HOLVZISEuRI30yB" class="f-mails" target="_blank" title="Self-Love">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2Fst5x7HOLVZISEuRI30yB%2FhMbBEe2gs5e3QFC4mVvQ?alt=media&token=2acb857c-ba5a-415a-a410-22a44e6a63ae" >
                                    <br/> <br/>
                                    <p>Self-Love</p>
                                    <b>P99.00</b>
                                </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="https://fibeigreetings.com/card/kFfkIFl6sHMaK1b9rgRS" class="f-mails" target="_blank" title="Daily Motivation">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FkFfkIFl6sHMaK1b9rgRS%2FbQYBNhgw7Xi5l7xgHCif?alt=media&token=b1cd868e-edb7-432f-a4a7-e245d51dd6d3" >
                                        <br/> <br/>
                                        <p>Daily Motivation</p>
                                        <b>P99.00</b>
                                    </a>
                                    </div>
                    </div>
                    <br /><br />
                    <div #OTHERS1></div>
                    <img src="/assets/images/justbecause/Banners/Messages-Cards/4-banner-min.png" class="w100">
                    <br /><br />
                    <ol>
                        <li>Get well soon!
                        </li>
                        <li>You know someone is very special to you when days just don't seem right without them.</li>
                        <li> Good Bye! Have a safe trip! We will miss you</li>
                        <li>May your day be as wonderful as you are</li>
                        <li>Let's catch up over coffee. I miss you.</li>
                    </ol>
                    <br /><br />

                    <div class="row">
                        <div class="col-md-3">
                        <a href="https://fibeigreetings.com/card/Aoey1N12pNQKJZoDwC7B" class="f-mails" target="_blank" title="Get Well Soon">
                            <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FAoey1N12pNQKJZoDwC7B%2F5jjUEFudQ95N5yvVRWLW?alt=media&token=efffde5a-f9aa-4543-a2a5-af84085daed4" >
                            <br/> <br/>
                            <p>Get Well Soon</p>
                            <b>P99.00</b>
                        </a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://fibeigreetings.com/card/o4DnFbUQtAQO3zkWywqB" class="f-mails" target="_blank" title="Just Because I Really Miss You">
                                <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2Fo4DnFbUQtAQO3zkWywqB%2FYPYiFxm1k4EWZG2TyJu9?alt=media&token=fbdbf5a8-d99c-4f85-8281-156423fbbc45" >
                                <br/> <br/>
                                <p>Just Because I Really Miss You</p>
                                <b>P99.00</b>
                            </a>
                            </div>
                            <div class="col-md-3">
                                <a href="https://fibeigreetings.com/card/uCV0KvNf67LLjTTL2kaE" class="f-mails" target="_blank" title="Safe Travels!">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FuCV0KvNf67LLjTTL2kaE%2FofsjvxTmhOtLYXpOjlC7?alt=media&token=f8048593-e89f-4be5-aa97-be8c93313270" >
                                    <br/> <br/>
                                    <p>Safe Travels!</p>
                                    <b>P99.00</b>
                                </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="https://fibeigreetings.com/card/wrYjERz6faOl7PwQod9S" class="f-mails" target="_blank" title="Just Because You're Wonderful">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FwrYjERz6faOl7PwQod9S%2FdltgWug71aQDdOPxmkLR?alt=media&token=542e6193-8798-4a77-ad3b-bdc640ae9063" >
                                        <br/> <br/>
                                        <p>Just Because You're Wonderful</p>
                                        <b>P99.00</b>
                                    </a>
                                    </div>
                    </div>
                    <br /><br />

                    <div #FRIENDS1></div>
                    <img src="/assets/images/justbecause/Banners/Messages-Cards/5-banner-min.png" class="w100">
                    <br /><br />
                    <ol>
                        <li> For you eyes only, I love you always.</li>
                        <li>Wishing you a day as wonderful as you are.</li>
                        <li>You have a special meaning in my life.</li>
                        <li>Hope you're having a great day</li>
                    </ol>
                    <br /><br />

                    <div class="row">
                        <div class="col-md-3">
                        <a href="https://fibeigreetings.com/card/tbCWFyfUVATb1DyVbbpp" class="f-mails" target="_blank" title="To My Loved One">
                            <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FtbCWFyfUVATb1DyVbbpp%2FiXKJW1AZkkCN5eQAsa8Z?alt=media&token=a447a39e-bcff-41ee-847d-44f95635ab99" >
                            <br/> <br/>
                            <p>To My Loved One</p>
                            <b>P99.00</b>
                        </a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://fibeigreetings.com/card/6rlffeWaqnohug9GIMcG" class="f-mails" target="_blank" title="Hey, You">
                                <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2F6rlffeWaqnohug9GIMcG%2FNjTlSS6RDFWBgEdrxI6q?alt=media&token=1e1f6f6b-f2aa-4af7-b615-377e83460b42" >
                                <br/> <br/>
                                <p>Hey, You</p>
                                <b>P99.00</b>
                            </a>
                            </div>
                            <div class="col-md-3">
                                <a href="https://fibeigreetings.com/card/oCHBxdXkXrlFYkk0ElKM" class="f-mails" target="_blank" title="There's Something Special About You">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FoCHBxdXkXrlFYkk0ElKM%2FJpbKtLxxtiets4hJNN5b?alt=media&token=c0b6871d-b9e2-47d8-ac89-10870aba6fb4" >
                                    <br/> <br/>
                                    <p>There's Something Special About You</p>
                                    <b>P99.00</b>
                                </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="https://fibeigreetings.com/card/DczXG0DEOnKRwjzWFGnS" class="f-mails" target="_blank" title="Thinking Of You">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FDczXG0DEOnKRwjzWFGnS%2FN2aiNY3kOHe37LCekDv3?alt=media&token=e7076922-b001-4dca-b8b9-7084201e6aad" >
                                        <br/> <br/>
                                        <p>Thinking Of You</p>
                                        <b>P99.00</b>
                                    </a>
                                    </div>
                    </div>
                    <br /><br />
                   
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>