.full-width-98{
    width: 98%;
}

.my-nav
{
    padding-top: 0.2rem !Important;
    padding-bottom: 0.2rem !Important;
}

.lang{
    padding-top: 5px;
    border: none;
    background: none;
    font-size: 75%;
    color: indigo;
}

.cus-nav
{
    background: #6b2d98;
    border-bottom: 4px solid #dc17be !important;
}
.my-loc
{
    font-size: 14px;
    line-height: 8px;
    color: #6b2d98;
}