<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2 col-4 my-logo">
          <!-- <a   href="/">FibeiGreetings</a> -->
          <img src="{{logo}}" class="img-fluid" style="margin-bottom:10px; cursor:pointer" routerLink="/">
        </div>
        <div class="col-lg-9 col-8 my-search">
          <app-search></app-search>
          <small style="color:indigo" class="tag-line"><b>Free Shipping on All Purchases. Applied at
              Checkout.</b></small>
        </div> <!-- col.// -->
        <div class="col-lg-1 col-2 my-cart">
          <div class="widgets-wrap float-md-end">
            <div class="widget-header  me-3">
              <app-cart></app-cart>
            </div>
          </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->
      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </section> <!-- header-main .// -->

  <nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
    <div class="container">
      <div class="full-width">
        <app-menu></app-menu>
      </div>
    </div>
  </nav>

</header>