<ion-content>
    <section class="section-name padding-y-sm mothersday-component">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/mothers/button3-min.png">
                    <br/> <br/>
                </div>
                <div class="col-md-6">
                    <a href="/mother/gifts"><img src="/assets/images/mothers/banner2-min.png"></a>
                    <br/> <br/>
                </div>
                <div class="col-md-6">
                    <div class="row" style="background:#ffded5;padding-top: 15px;
                    padding-bottom: 15px;">
                        <div class="col-md-6">
                            <a href="/mother/greetings"><img src="/assets/images/mothers/square-check.png"></a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://fibeigreetings.com/cards/events/Flowers"><img src="/assets/images/mothers/square-mother.png"></a>
                        </div>
                    </div>
                     
                     <div class="row">
                    <div class="https://fibeigreetings.com/cards/events/Mother's%20Day">
                            <img src="/assets/images/mothers/every-mother.png">
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <a href=""><img src="/assets/images/mothers/banner3-min.png"></a>
                    <br/> <br/>
                    <a href=""><img src="/assets/images/mothers/all-event-min.png"></a>
                    <br/> <br/>
                    <a href=""><img src="/assets/images/mothers/free-min.png"></a>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>