<ion-content>
    <section class="section-name padding-y-sm mothersday-component">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/mothers/button3-min.png">
                    <br /> <br />
                </div>
                <div class="col-md-6">
                    <img src="/assets/images/mothers/banner2-min.png" routerLink="/mother/gifts" class="cursor">
                    <br /> <br />
                </div>
                <div class="col-md-6">
                    <div class="row" style="background:#ffded5;padding-top: 15px; padding-bottom: 15px;">
                        <div class="col-md-6">
                            <img src="/assets/images/mothers/square-check.png" routerLink="/mother/greetings"
                                class="cursor">
                        </div>
                        <div class="col-md-6">
                            <img src="/assets/images/mothers/square-mother.png" routerLink="/cards/events/Flowers"
                                class="cursor">
                        </div>
                    </div>
                    <div class="row">
                        <img src="/assets/images/mothers/every-mother.png" routerLink="/cards/events/Mother's Day"
                            class="cursor">
                    </div>
                </div>

                <div class="col-md-12">
                    <img src="/assets/images/mothers/banner3-min.png" routerLink="/" class="cursor">
                    <br /> <br />
                    <img src="/assets/images/mothers/all-event-min.png" routerLink="/gifts" class="cursor">
                    <br /> <br />
                    <img src="/assets/images/mothers/free-min.png" routerLink="/" class="cursor">
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>