<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-6 offset-md-3"> <img src="/assets/images/graduation/banner01.png"></div>
                    <br /><br />
                    <img src="/assets/images/graduation/greeting/banner/y-1.png">
                    <!-- <img src="/assets/images/fathers/greeting/banner/j-12-min.png" class="w100"> -->
                    <div class="graduation-greetings-selection">
                        <div class="row ">
                            <div class="col-md-10 offset-md-1">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 text-center">
                                            <button (click)="scroll(ALL)">FOR ALL GRADUATES</button>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <button (click)="scroll(MOTHER)">FROM MOTHERS</button>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <button (click)="scroll(FATHER)">FROM FATHERS</button>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <button (click)="scroll(QUOTES)">GRADUATION DAY QUOTES</button>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                <div class="col-md-3 text-center">
                                    <button (click)="scroll(NEW1)">FOR ALL NEW DADS</button>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button (click)="scroll(FARAWAYDADS1)">FOR FAR WAY DADS</button>
                                </div>
                                <div class="col-md-4 text-center">
                                    <button (click)="scroll(QUOTES1)">FATHER'S DAY QUOTES</button>
                                </div>
                            </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div #ALL></div>
                        <img src="/assets/images/graduation/greeting/banner/y-3.png" class="w100">
                        <br /><br />
                        <ol>
                            <li>In today's world of education, there is a very promising new addition. Congratulations on your graduation, and best wishes for your teaching career!
                            </li>
                            <li>Snap photographs. Bide your time to celebrate. Permit yourself to breathe for a time. Then equip to face the world!</li>
                            <li>Cheers to more achievements to come. But let us first celebrate your well-deserved success. Happy Graduation.</li>
                            <li>I am happy to be part of your success. Happy graduation.</li>
                            <li>I hope you get some well-deserved relaxation, vacation, or whatever kind of break you want to take.</li>
                        </ol>
                        <br /><br />

                        <div class="row">
                            <div class="col-md-3" *ngFor="let selectedCard of line1">
                                <a *ngIf="selectedCard.card" class="f-mails" target="_blank" title="{{selectedCard.card.name}}" [routerLink]="['/card/' + selectedCard.id]">
                                    <img *ngIf="selectedCard.url" src="{{selectedCard.url}}">
                                    <br /> <br />
                                    <p>{{selectedCard.card.name}}</p>
                                    <b>P{{selectedCard.card.price | number:'1.2-2'}}</b>
                                </a>
                            </div>
                        </div>
                        <br /><br />
                        <div #MOTHER></div>
                        <img src="/assets/images/graduation/greeting/banner/y-4.png" class="w100">
                        <br /><br />
                        <ol>
                            <li>Wishing to send warm thoughts and heartfelt congratulations to a graduate of whom we are proud.</li>
                            <li>On your graduation day, I'm thinking of you with love and pride.</li>
                            <li>You've worked hard, now have some fun shaking your bottom. Congratulations on completing your studies.</li>
                            <li>Congrats on having your college diploma. What an impressive achievement!</li>
                            <li>I'm excited to see where life takes you next. Our prayers are with you wherever you are!</li>
                        </ol>
                        <br /><br />

                        <div class="row">
                            <div class="col-md-3" *ngFor="let selectedCard of line2">
                                <a *ngIf="selectedCard.card" class="f-mails" target="_blank" title="{{selectedCard.card.name}}" [routerLink]="['/card/' + selectedCard.id]">
                                    <img *ngIf="selectedCard.url" src="{{selectedCard.url}}">
                                    <br /> <br />
                                    <p>{{selectedCard.card.name}}</p>
                                    <b>P{{selectedCard.card.price | number:'1.2-2'}}</b>
                                </a>
                            </div>
                        </div>
                        <br /><br />

                        <div #FATHER></div>
                        <img src="/assets/images/graduation/greeting/banner/y-5.png" class="w100">
                        <br /><br />
                        <ol>
                            <li>You're slowly achieving your dreams, and you'll soon see the rewards of your labor.</li>
                            <li>Another achievement unlocked. You deserved it! Let's celebrate your success.</li>
                            <li>Congratulations! I am happy and ecstatic about your achievement. Be proud of your accomplishments and hard work.</li>
                            <li>I'm so proud of you! My hopes for you are that you continue to smile and shine brightly in your life. It is a fantastic feat. Congrats!</li>
                            <li>You always have the beauty, brains, a good heart, and now you will be receiving your diploma. You truly have it all! Congratulations!

                            </li>
                        </ol>
                        <br /><br />

                        <div class="row">
                            <div class="col-md-3" *ngFor="let selectedCard of line3">
                                <a *ngIf="selectedCard.card" class="f-mails" target="_blank" title="{{selectedCard.card.name}}" [routerLink]="['/card/' + selectedCard.id]">
                                    <img *ngIf="selectedCard.url" src="{{selectedCard.url}}">
                                    <br /> <br />
                                    <p>{{selectedCard.card.name}}</p>
                                    <b>P{{selectedCard.card.price | number:'1.2-2'}}</b>
                                </a>
                            </div>
                        </div>
                        <br /><br />

                        <div #QUOTES></div>
                        <img src="/assets/images/graduation/greeting/banner/y-4.png" class="w100">
                        <br /><br />
                        <ol>
                            <li>You've taken your place on the world stage, ready to shine with that diploma. I'm looking forward to seeing you shine even brighter! </li>
                            <li>I'm thrilled to be a part of your graduation celebrations, and I'm incredibly proud of you!</li>
                            <li>Today I'm sending you my warmest congratulations and best wishes.</li>
                            <li>Congratulations, if you work as hard for the rest of your life as you did for the previous four years, you will be successful.</li>
                            <li>Congratulations on your graduation. You've worked hard to attain your objectives, and now you're on your way to discovering new horizons, dreaming new ambitions, embracing life with zeal, and keep aiming for the stars. Take a chance.</li>
                        </ol>
                        <br /><br />

                        <div class="row">
                            <div class="col-md-3" *ngFor="let selectedCard of line4">
                                <a *ngIf="selectedCard.card" class="f-mails" target="_blank" title="{{selectedCard.card.name}}" [routerLink]="['/card/' + selectedCard.id]">
                                    <img *ngIf="selectedCard.url" src="{{selectedCard.url}}">
                                    <br /> <br />
                                    <p>{{selectedCard.card.name}}</p>
                                    <b>P{{selectedCard.card.price | number:'1.2-2'}}</b>
                                </a>
                            </div>
                        </div>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>