.graduation-greetings-selection
{
    background-image: url('../../../assets/images/graduation/my-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 7%;
    padding-bottom: 7%;
    background-position: center center;
}

.graduation-greetings-selection button
{
    margin-bottom: 16px;
    display: inline-block;
    padding: 10px 30px;
    color: #000;
    font-weight: bold;
    border-radius: 8px;
    background:#f5b926;
}


.graduation-greetings-selection a:hover
{
background: #f5b926;
}
.w100
{
    width: 100%;
}

.f-mails
{
    padding: 20px;background: #ccc;
    box-shadow: 1px 4px 3px #978c8c;
    margin-bottom: 5px;
    opacity:0.8;
    display:block;
    color: black;
    text-decoration: none;
}
.fmails:hover
{
    opacity:1
}