<div class="row justify-content-center">
    <div class="col-md-8 col-sm-12 pb-1 mb-2 text-center">
        <h3 class="header">Message</h3>
    </div>
    <div class="col-md-8 col-sm-12 pb-1 mb-2 border-bottom py-2" *ngFor="let comment of comments">
        <div class="w-100" [style.font-family]="comment.fontstyle" [style.font-size.px]="comment.fontsize" [style.color]="comment.fontcolor">
            <p class="1-100" [innerText]="comment.message"></p>
        </div>
        <p class="text-muted fst-italic text-end"> {{comment.user}} @ {{comment.created.toDate() | date: 'MMM dd, yyyy h:mm:ss a'}}</p>
    </div>
    <div class="col-md-8 col-sm-12 mt-2 mb-4">
        <app-comment placeholder="Message" (save)="save($event)"></app-comment>
    </div>
    <div class="col-md-8 col-sm-12 mt-2 mb-4 text-center">
      <h3 class="header">Thank You E-Card</h3>
    </div>
    <div class="col-md-12 mt-4 mb-4">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let batch of batches">
              <div class="row justify-content-md-center px-4">
                <div class="col-12">
                  <div class="row justify-content-md-center">
                    <div class="col-md-3 col-6 cursor my-auto" *ngFor="let card of batch.cards">
                      <app-ecard [card]="card" [showRatings]="false"></app-ecard>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
    </div>
</div>