<div class="row my-event">
    <div class="col-md-3">
        <a href="#">
            <img src="/assets/images/event/thumbnail/Anniversary-min.png" class="img-fluid">
            <div>NAME</div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#">
            <img src="/assets/images/event/thumbnail/Anniversary-min.png" class="img-fluid">
            <div>NAME</div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#">
            <img src="/assets/images/event/thumbnail/Anniversary-min.png" class="img-fluid">
            <div>NAME</div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#">
            <img src="/assets/images/event/thumbnail/Anniversary-min.png" class="img-fluid">
            <div>NAME</div>
        </a>
    </div>
</div>

<app-cards></app-cards>

<style>

.my-event a{
opacity:0.8
}

.my-event a:hover,
.my-event a:active
{
opacity:1
}
.my-event a div,
.my-event a div
{
text-align:center;
background: #000;
padding: 10px;
font-weight: bold;
color: white;

}
.my-event a:hover div,
.my-event a:active  div
{
    background: #630ca5;
}
</style>