<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container animate main">

            <div class="row my-event">
                <div class="col-md-3 col-6" *ngFor="let event of events">
                    <a href="{{event.url}}">
                        <img src="{{event.image}}" class="img-fluid">
                        <div>{{event.name}}</div>
                    </a>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br/><br/>
                    <a href="/events"><img src="/assets/images/layout2/Sticker Landing_1-min.png" class="img-fluid" style="margin-top:-50px"></a>
                </div>
            </div>

       </div>
    </section>
    <br><br> 
    <section class="section-name padding-y-sm mother-background-footer">
        <div class="container animate main">
        <div class="row">
            <div class="col-md-12">
                <a href="/gifts"><img src="/assets/images/layout2/_All Gifts Landing Pages_3.png" class="img-fluid" style="margin-top:-50px"></a>
            <br><br> 
            </div>
        </div>
        </div>
    </section>
<app-footer></app-footer>
</ion-content>
