.mother-background-footer {
    background-image: url('../../assets/images/layout2/Gifts Landing Page _1-min.png');
    background-size: contain;
}

.cus-text-title {
    color: #4b0082;
    text-transform: uppercase;
    font-weight: bolder;
}

.bk-hw {
    background-image: url('../../assets/images/newyear/fireworks.gif');
}