<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container animate main">
            <div class="row">
                <div class="col-md-12">
                    <app-event-list [order]="[
                        'Graduation',
                        'Teacher Appreciation',
                        'Grandparents day',
                        'Halloween',
                        'Christmas',
                        'New Year',
                        'Valentines Day',
                        'Mothers Day',
                        'Fathers day',
                        'Birthday',
                        'Thank You',
                        'Get Well',
                        'Anniversary',
                        'Wedding',
                        'Baby',
                        'Baptism',
                        'Confirmation',
                        'First Communion',
                        'Parents Appreciation',
                        'Creations',
                        'Easter'
                    ]">
                    </app-event-list>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br /><br />
                    <img src="/assets/images/fathers/fs-event.png" routerLink="/events" class="img-fluid cursor"
                        style="margin-top:-50px;width:100%">
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <section class="section-name padding-y-sm mother-background-footer">
        <div class="container animate main">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/layout2/_All Gifts Landing Pages_3.png" routerLink="/gifts"
                        class="img-fluid cursor" style="margin-top:-50px;width:100%">
                    <br><br>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>