<div class="row justify-content-end mb-4" *ngIf="((allCards.length > 0) && (mode != 'clipart'))" id="data-top">
    <div class="col-1 my-auto text-end">
        <p>{{'cards.filter'|translate}}</p>
    </div>
    <div class="col-2 ps-0" *ngIf="filterCategories.length > 0">
        <select class="form-select" aria-label="Category" (change)="changeCategory($event)">
            <option value="" [selected]="select == ''">Categories</option>
            <option *ngFor="let category of filterCategories" [value]="category">{{category}}</option>
        </select>
    </div>
    <div class="col-2 ps-0">
        <select class="form-select" aria-label="Select" (change)="changeSelect($event)">
            <option value="" [selected]="select == ''">Select</option>
            <option value="featured" [selected]="select == 'featured'">Featured</option>
            <option value="bestseller" [selected]="select == 'bestseller'">Best Seller</option>
        </select>
    </div>
    <div class="col-2 ps-0" *ngIf="mode == 'card' && !nomessagetype">
        <select class="form-select" aria-label="Message" (change)="changeMessage($event)">
            <option value="" [selected]="message == ''">Message Type</option>
            <option value="regular" [selected]="message == 'regular'">Regular Message</option>
            <option value="poetry" [selected]="message == 'poetry'">Poetry Message</option>
        </select>
    </div>
    <div class="col-2 ps-0" *ngIf="mode == 'card'">
        <select class="form-select" aria-label="Type" (change)="changeType($event)">
            <option value="" [selected]="type == ''">Card Type</option>
            <option *ngFor="let item of types" [value]="item.name" [selected]="type == item.name">{{item.name}}</option>
        </select>
    </div>
    <div class="col-2 ps-0">
        <select class="form-select" aria-label="Budget" (change)="changeBudget($event)">
            <option value="" [selected]="budget == ''">{{'cards.budget'|translate}}</option>
            <option value="0 - 99" [selected]="budget == '0 - 99'">0 - 99.00</option>
            <option value="100 - 199" [selected]="budget == '100 - 199'">100.00 - 199.00</option>
            <option value="200 and Up" [selected]="budget == '200 and Up'">200.00 and Up</option>
        </select>
    </div>
    <div class="col-2 ps-0">
        <select class="form-select" aria-label="Sort" (change)="changeSort($event)">
            <option value="" [selected]="sort == ''">{{'cards.sort'|translate}}</option>
            <option value="Latest" [selected]="sort == 'Latest'">{{'cards.latest'|translate}}</option>
            <option value="Price from Low to High" [selected]="sort == 'Price from Low to High'">{{'cards.lowtohigh'|translate}}</option>
            <option value="Price from High to Low" [selected]="sort == 'Price from High to Low'">{{'cards.hightolow'|translate}}</option>
            <option value="Highest Ratings" [selected]="sort == 'Highest Ratings'">Highest Ratings</option>
        </select>
    </div>
</div>
<div class="row mb-4" *ngIf="mode !== 'clipart'">
    <div class="col-md-12 my-recipient pb-2">
        <span *ngFor="let recipient of recipients" (click)="onRecipientClick(recipient)" [ngClass]="selectedRecipient==recipient?'recipient-selected':'recipient'">
            {{recipient}}
        </span>
    </div>
</div>
<div class="row pb-5">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-6 pb-2 mb-2" *ngFor="let card of displayCards">
        <app-card [id]="card.id!" *ngIf="['card','gift','sticker','postcard'].includes(card.type)"></app-card>
        <app-ecard [card]="card" *ngIf="card.type == 'ecard'"></app-ecard>
        <app-clipart-card [clipart]="card" *ngIf="card.type == 'clipart'"></app-clipart-card>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-4 col-sm-12 text-center mb-2">
        {{'cards.showing'|translate}} 1 - {{displayCards.length}} {{'cards.to'|translate}} {{sortCards.length}} {{'cards.items'|translate}}
    </div>
</div>
<div class="row justify-content-md-center" *ngIf="sortCards.length > displayCards.length">
    <div class="col-md-4 col-sm-12 d-grid">
        <button class="loadmore" (click)="onLoadMoreClick()">LOAD MORE</button>
    </div>
</div>