<ion-content>
  <section class="section-name padding-y-sm">
    <div class="container animate main">
      <section class="tabs-wrapper">
        <div class="tabs-container">
          <div class="tabs-block">
            <div id="tabs-section" class="tabs">
              <ul class="tab-head">
                <li>
                  <a id="tab-1" [ngClass]="id=='info'?'tab-link active':'tab-link'" onclick="tabclick(this.id)"> <span
                      class="material-icons tab-icon">face</span> <span class="tab-label">Profile</span></a>
                </li>
                <li>
                  <a id="tab-2" [ngClass]="id=='comm'?'tab-link active':'tab-link'" onclick="tabclick(this.id)"> <span
                      class="material-icons tab-icon">smartphone</span> <span class="tab-label">Communication
                      Preferences</span></a>
                </li>
                <li>
                  <a id="tab-3" [ngClass]="id=='address'?'tab-link active':'tab-link'" onclick="tabclick(this.id)">
                    <span class="material-icons tab-icon">local_shipping</span> <span class="tab-label">Shipping
                      Address</span></a>
                </li>
                <li>
                  <a id="tab-4" [ngClass]="id=='list'?'tab-link active':'tab-link'" onclick="tabclick(this.id)"> <span
                      class="material-icons tab-icon">toc</span> <span class="tab-label">My Lists</span></a>
                </li>
                <li>
                  <a id="tab-5" class="tab-link" onclick="tabclick(this.id)"> <span
                      class="material-icons tab-icon">add_shopping_cart</span> <span class="tab-label">My
                      Orders</span></a>
                </li>
                <li>
                  <a id="tab-6" class="tab-link" (click)="signOut()"> <span class="material-icons tab-icon">close</span>
                    <span class="tab-label">Sign out</span></a>
                </li>
              </ul>

              <section id="tab-1-section"
                [ngClass]="id=='info'?'tab-body entry-content active active-content':'tab-body entry-content'">
                <app-profile-info></app-profile-info>
                <br />
                <app-profile-change-password></app-profile-change-password>
              </section>

              <section id="tab-2-section"
                [ngClass]="id=='comm'?'tab-body entry-content active active-content':'tab-body entry-content'">
                <app-profile-communication></app-profile-communication>
              </section>

              <section id="tab-3-section"
                [ngClass]="id=='address'?'tab-body entry-content active active-content':'tab-body entry-content'">
                <app-profile-shipping-address></app-profile-shipping-address>
              </section>

              <section id="tab-4-section"
                [ngClass]="id=='list'?'tab-body entry-content active active-content':'tab-body entry-content'">
                <h2>My Lists</h2>
                <div class="card">
                  <div class="card-body">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Favorites</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Keepsake Wish List</a>
                      </li>
                    </ul><!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane active" id="tabs-1" role="tabpanel">
                        <p>Status: Public Make this list private</p>
                        <p>Favorites</p>
                      </div>
                      <div class="tab-pane" id="tabs-2" role="tabpanel">
                        <p>Status: Public Make this list private</p>
                        <p>Keepsake Wish List</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section id="tab-5-section" [ngClass]="id=='orders'?'tab-body entry-content active active-content':'tab-body entry-content'">
                <app-profile-orders></app-profile-orders>
              </section>

              <section id="tab-6-section" class="tab-body entry-content">
                
              </section>

            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <app-footer></app-footer>
</ion-content>