<ion-content>
  <h2 style="font-size:0px;margin: 0;" > Profile Settings</h2>
  <section class="section-name padding-y-sm">
    <div class="container animate main">
      <section class="tabs-wrapper">
        <div class="tabs-container">
          <div class="tabs-block">
            <div id="tabs-section" class="tabs">
              <ul class="tab-head">
                <li>
                  <a id="tab-1" [ngClass]="id=='info'?'tab-link active':'tab-link'" (click)="clickTab('info')"> <span
                      class="material-icons tab-icon">face</span> <span class="tab-label">{{'profile.profile'|translate}}</span></a>
                </li>
                <li>
                  <a id="tab-2" [ngClass]="id=='comm'?'tab-link active':'tab-link'" (click)="clickTab('comm')"> <span
                      class="material-icons tab-icon">smartphone</span> <span class="tab-label">{{'profile.commpref'|translate}}</span></a>
                </li>
                <li>
                  <a id="tab-3" [ngClass]="id=='address'?'tab-link active':'tab-link'" (click)="clickTab('address')">
                    <span class="material-icons tab-icon">local_shipping</span> <span class="tab-label">{{'profile.shippingaddress'|translate}}</span></a>
                </li>
                <li>
                  <a id="tab-4" [ngClass]="id=='list'?'tab-link active':'tab-link'" (click)="clickTab('list')"> <span
                      class="material-icons tab-icon">toc</span> <span class="tab-label">{{'profile.mylists'|translate}}</span></a>
                </li>
                <li>
                  <a id="tab-5" [ngClass]="id=='orders'?'tab-link active':'tab-link'" (click)="clickTab('orders')"> <span
                      class="material-icons tab-icon">add_shopping_cart</span> <span class="tab-label">{{'profile.myorders'|translate}}</span></a>
                </li>
                <li>
                  <a id="tab-6" class="tab-link" (click)="signOut()"> <span class="material-icons tab-icon">close</span>
                    <span class="tab-label">{{'profile.signout'|translate}}</span></a>
                </li>
              </ul>

              <section id="tab-1-section"
                [ngClass]="id=='info'?'tab-body entry-content active active-content':'tab-body entry-content'">
                <app-profile-info></app-profile-info>
                <br />
                <app-profile-change-password></app-profile-change-password>
              </section>

              <section id="tab-2-section"
                [ngClass]="id=='comm'?'tab-body entry-content active active-content':'tab-body entry-content'">
                <app-profile-communication></app-profile-communication>
              </section>

              <section id="tab-3-section"
                [ngClass]="id=='address'?'tab-body entry-content active active-content':'tab-body entry-content'">
                <app-profile-shipping-address></app-profile-shipping-address>
              </section>

              <section id="tab-4-section"
                [ngClass]="id=='list'?'tab-body entry-content active active-content':'tab-body entry-content'">
                <app-profile-list></app-profile-list>
              </section>

              <section id="tab-5-section" [ngClass]="id=='orders'?'tab-body entry-content active active-content':'tab-body entry-content'">
                <app-profile-orders></app-profile-orders>
              </section>

              <section id="tab-6-section" class="tab-body entry-content">
                
              </section>

            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <app-footer></app-footer>
</ion-content>