<div class="photo-area w-100 h-100 d-flex align-items-center justify-content-center" *ngIf="status == 'NOIMAGE'">
    <button class="icon icon-sm rounded-circle border" (click)="file.click()">
        <i class="fa fa-upload">
        </i></button>
    <input type="file" style="visibility: hidden" accept="image/jpeg,image/jpg,image/png" (change)="onUpload($event)" #file>
</div>
<div class="photo-area w-100 h-100 d-flex align-items-center justify-content-center" *ngIf="status == 'UPLOADING'">
    <div class="w-100 h-100 d-flex align-items-center justify-content-center text-center">
        <ngb-progressbar class="progress" type="success" textType="white" [value]="percentage"></ngb-progressbar>
    </div>
</div>
<div class="photo-area-image w-100 h-100" *ngIf="status == 'WITHIMAGE'">
    <img [src]="url" *ngIf="url != ''" class="img" [style.transform]="getScale()" [style.top.%]="imageTop" [style.left.%]="imageLeft">
    <div class="resize">
        <div>
            <i class="fa fa-plus" (click)="changeSize(true)"></i>
        </div>
        <div>
            <i class="fa fa-minus" (click)="changeSize(false)"></i>
        </div>
    </div>
    <div class="position">
        <div>
            <div>
                <i class="fa fa-arrow-left" (click)="changeLeft(false)"></i>
            </div>
        </div>
        <div>
            <div>
                <i class="fa fa-arrow-up" (click)="changeTop(false)"></i>
            </div>
            <div>
                <i class="fa fa-arrow-down" (click)="changeTop(true)"></i>
            </div>
        </div>
        <div>
            <div>
                <i class="fa fa-arrow-right" (click)="changeLeft(true)"></i>
            </div>
        </div>
    </div>
</div>