<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container animate main">
            <div class="row">
                <div class="col-md-12">
                    <header class="section-heading">
                        <h3 class="section-title" *ngIf="caption">{{caption|translate}}</h3>
                    </header>
                </div>
            </div>
            <div class="row" *ngIf="loading">
                <div class="col-md-12">
                    <mat-progress-bar mode="indeterminate" value=100></mat-progress-bar>
                </div>
            </div>
            <app-card-list *ngIf="cards.length > 0" [cards]="cards"></app-card-list>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>