<ion-content>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container animate main">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <!-- <img src="../../assets/images/signandsend/v3/ss-1-min.png" class="img-fluid pointer" style="border-radius:6px; width:100% !important">-->
                    <img src="../../assets/images/banner/s-and-s-banner.png" class="img-fluid pointer" style="border-radius:6px; width:100% !important">
                </div> 
            </div>
        <div class="panel-xmas">
                <div class="col-md-12">
                    <header class="section-heading mb-1">
                        <h3 class="section-title mb-0" *ngIf="caption">Sign and Send Cards</h3>
                    </header>
                </div>
                <div class="col-md-12 mb-2">
                    <button class="btn btn-primary" type="button" [routerLink]="['/signandsendpage']">Click here to Know More About Sign and Send</button>
                </div>
              
            
            <div class="row" *ngIf="loading">
                <div class="col-md-12" >
                    <mat-progress-bar mode="indeterminate" value=100></mat-progress-bar>
                </div>
            </div>
            <app-card-list [footer]="false" *ngIf="cards.length > 0" [cards]="cards"></app-card-list>
        </div>
            <div class="row">
                <div class="col-md-12 mb-3 mt-3">
                    <img src="../../assets/images/signandsend/v2/ss-2-min.png" class="img-fluid pointer" [routerLink]="['/stickers']">
                </div>
                <div class="col-md-6 mb-3">
                    <img src="../../assets/images/signandsend/v2/ss-3-min.png" class="img-fluid pointer" [routerLink]="['/specialtycardpage']">
                </div>
                <div class="col-md-6 mb-3">
                    <img src="../../assets/images/signandsend/v2/ss-4-min.png" class="img-fluid pointer" [routerLink]="['/gifts']">
                </div>
                <div class="col-md-12 mb-3">
                    <img src="../../assets/images/signandsend/v2/ss-5-min.png" class="img-fluid pointer">
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>