<ion-content>
    <h2 style="font-size:0px;margin: 0;">Specialty Cards</h2>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container animate main">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2023/xmas/banner/special-min.png">
                    <br /><br />
                    <img src="/assets/images/2023/xmas/banner/special-s-1-min.png">
                    <br /><br />
                </div>

            </div>
            <app-event-list [events]="events"></app-event-list>
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2023/xmas/more-min.png">
                    <br /><br />
                </div>
                <div class="col-md-12" style="position: relative">
                    <img src="/assets/images/2023/xmas/more-2-min.png">
                    <div style="height: 67%;width: 21%; position: absolute; left: 23%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/poetry']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 45.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/postcards']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 68.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/signandsend']"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() == 'ph'">
                    <img src="/assets/images/2023/xmas/f-special-min.png">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                        target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/stickercards']"></div>
                </div>
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() != 'ph'">
                    <img src="/assets/images/2023/xmas/f-special-min.png">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                        target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/stickercards']"></div>
                </div>
                <div class="col-md-12">
                    <img src="/assets/images/2023/xmas/delivery-min.png" *ngIf="priceService.getLocation() == 'ph'"
                        class="img-fluid " style="width:100%">
                    <img src="/assets/images/2023/xmas/delivery-min.png" *ngIf="priceService.getLocation() != 'ph'"
                        class="img-fluid " style="width:100%">
                    <br /> <br />
                </div>
            </div>

        </div>
    </section>
    <app-footer></app-footer>
</ion-content>