<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container animate main">
            <div class="row">
                <div class="col-md-12">
                    <app-event-list [order]="[
                        'Just Because',
                        'Retirement',
                        'Love Your Enemy',
                        'Pet Cards',
                        'Friendship',
                        'Thinking of you',
                        'Get Well',
                        'Sympathy',
                        'Congratulations',
                        'Love',
                        'Distress',
                        'Funny',
                        'Military Appreciation'
                    ]">
                    </app-event-list>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>