.bk-hw {
  // background-image: url('../../assets/images/newyear/fireworks.gif');
  background-image: url('../../assets/images/hearts.gif');
  }


  .to-link {
    opacity: 0.9;
    cursor: pointer;
}

.to-link:hover,
.to-link:active {
    opacity: 1;
}
