section {
    padding-bottom: 10px;
}

.submit {
    background-color: #3167eb;
    color: #fff;
    font-size: 18px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.submit:hover {
    background-color: #6610f2;
    font-weight: 500px;
}

.mainitem {
    max-height: 500px;
}

.mainimagediv {
    height: 500px;
    // margin-top: 30px;
    // margin-bottom: 50px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.invalid {
    border-color: #dc3545 !important;
}

.custom-control-input.ng-invalid.ng-touched+label.custom-control-label {
    color: #dc3545 !important;
}

.custom-control-input.ng-invalid.ng-touched+label.custom-control-label:before,
.custom-control-input.ng-invalid.ng-touched+label.custom-control-label:after {
    border-color: #dc3545 !important;
}

.custom-control-input.ng-invalid.ng-touched:focus~label.custom-control-label:before {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25) !important;
}

.cursor {
    cursor: pointer;
}

.upload {
    padding: 8px 2px 8px 2px;
    border: 1px solid gray;
    width: 100%;
}

input[type=file]::file-selector-button {
    background-color: #3167eb;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

input[type=file]::file-selector-button:hover {
    background-color: #3167eb;
    color: #fff;
}

.border-bottom {
    padding-bottom: 10px;
}

.allign-right {
    text-align: right;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.border {
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.full-size {
    width: 100%;
    font-size: 18px;
    border-radius: 0px;
}

.full-size:hover {
    background-color: #6610f2;
}

.instruction {
    color: indigo;
    font-style: italic;
    float: right;
}

.text-right {
    text-align: right !important;
}

.inst-but {
    color: indigo;
    font-style: italic;
}

.fb_dialog_content>iframe {
    bottom: 90px !important;
}

::ng-deep .tooltip-inner {
    max-width: 500px !important;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: center;
}

.back{
    background-color: #8a2be2; 
    color: #ffffff;
}