<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container animate main">

        <div class="mt-2" *ngIf="showSuccess">
            <div class="alert alert-success mt-2">
            Your <em>PayPal</em> transaction was successful.
            </div>
        </div>
        
        <div class="mt-2" *ngIf="showError">
            <div class="alert alert-danger mt-2">
            Oh no! Your <em>PayPal</em> transaction failed.
            </div>
        </div>
        
        <div class="mt-2" *ngIf="showCancel">
            <div class="alert alert-info mt-2">
            Your <em>PayPal</em> transaction was cancelled.
            </div>
        </div>

        <div class="row align-top">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/card', id]">{{card?.name}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Order</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-6 col-sm-12">
                <app-imagegrid id="{{id}}"></app-imagegrid>

                <!-- <div class="col-12 text-center mainimagediv">
                    <img src="/assets/images/gcash.png" class="mainitem" *ngIf="card">
                </div>

                <ngx-paypal [config]="payPalConfig"></ngx-paypal> -->

            </div>
            <div class="col-lg-6 col-sm-12">
                <header class="section-heading">
                    <h3 class="section-title">{{card?.name}}</h3>
                </header>
                <section>
                    <p>{{card?.description}}</p>
                </section>
                <section>
                    <h5 class="section-title" *ngIf="card">₱{{card?.price | number:'1.2-2'}}</h5>
                </section>

                <!-- (ngSubmit)="submitOrder()" -->
                <form [formGroup]="orderForm" >  
                    <section>
                        <span class="text-muted">Sender</span><br/>
                        <div class="col-12 mb-2">
                            <label for="senderNameFormControl" class="form-label">Sender Name</label>
                            <input type="text" [ngClass]="validation.sender_name ? 'form-control' : 'form-control invalid'" id="senderNameFormControl" placeholder="Name" formControlName="sender_name">
                        </div>
                        <div class="col-12 mb-2">
                            <label for="senderNumberFormControl" class="form-label">Sender Phone Number</label>
                            <input type="text" [ngClass]="validation.sender_phone ? 'form-control' : 'form-control invalid'" class="form-control" id="senderNumberFormControl" placeholder="Phone Number" formControlName="sender_phone">
                        </div>
                        <div class="col-12 mb-2">
                            <label for="senderEmailFormControl" class="form-label">Sender Email Address</label>
                            <input type="email" [ngClass]="validation.sender_email ? 'form-control' : 'form-control invalid'" class="form-control" id="senderEmailFormControl" placeholder="Email Address" formControlName="sender_email">
                        </div>
                    </section>
                    <section>
                        <span class="text-muted">Recipient</span><br/>
                        <div class="col-12 mb-2">
                            <label for="recipientNameFormControl" class="form-label">Recipient Name</label>
                            <input type="text" [ngClass]="validation.receiver_name ? 'form-control' : 'form-control invalid'"  class="form-control" id="recipientNameFormControl" placeholder="Name" formControlName="receiver_name">
                        </div>
                        <div class="col-12 mb-2">
                            <label for="recipientNumberFormControl" class="form-label">Recipient Phone Number</label>
                            <input type="text" [ngClass]="validation.receiver_phone ? 'form-control' : 'form-control invalid'" class="form-control" id="recipientNumberFormControl" placeholder="Phone Number" formControlName="receiver_phone">
                        </div>
                        <div class="col-12 mb-2">
                            <label for="recipientEmailFormControl" class="form-label">Recipient Email Address</label>
                            <input type="email" class="form-control" id="recipientEmailFormControl" placeholder="Email Address" formControlName="receiver_email">
                        </div>
                    </section>
                    <section>
                        <div class="col-12 mb-2">
                            <label for="messageFormControl" class="form-label">Delivery Address</label>
                            <textarea [ngClass]="validation.address ? 'form-control' : 'form-control invalid'" id="messageFormControl" rows="3" formControlName="address"></textarea>
                        </div>
                    </section>
                    <section>
                        <div class="col-12 mb-3 mt-3 ml-3 form-check">
                            <input class="form-check-input" type="checkbox" value="" id="sendAnonymouslyCheck" formControlName="anonymously">
                            <label class="form-check-label" for="sendAnonymouslyCheck">
                                Send Anonymously
                            </label>
                        </div>
                        <div class="col-12 mb-2">
                            <label class="form-check-label" for="sendToFormControl">
                                Send To
                            </label>
                            <select [ngClass]="validation.sendto ? 'form-select form-control mt-1' : 'form-select form-control mt-1 invalid'" aria-label="Sent to" id="sendToFormControl" formControlName="sendto">
                                <option selected value="Recipient">Recipient</option>
                                <option value="Sender">Sender</option>
                            </select>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="messageFormControl" class="form-label">Personal Message</label>
                            <textarea [ngClass]="validation.message ? 'form-control' : 'form-control invalid'" id="messageFormControl" rows="5" formControlName="message"></textarea>
                        </div>
                    </section>
                    <!-- <section>
                        <div class="col-12 mb-2">
                            <input type="hidden" value="{{proof}}">
                            <label for="formFile" class="form-label">Proof of Payment (Screenshot)</label>
                            <input [ngClass]="validation.proof ? 'form-control' : 'form-control invalid'" type="file" id="formFile" (change)="uploadFile($event)" [disabled]="isUploading">
                        </div>
                    </section> -->
                    <!-- <section *ngIf="isPayPalApproved">
                        <div class="col-12 mb-2">
                            <label class="form-label" style="color: blue; font-weight: bold;">PayPal Payment Confirmed</label>
                        </div>
                    </section> -->
                    <section>
                        <div class="col-12 mb-2">
                            <!-- <button class="submit" type="submit" [disabled]="isUploading">Submit Order</button> -->
                            <button class="submit" (click)="open(content)">Pay Now</button>
                        </div>
                    </section>
                </form>
            </div>
        </div>

        <ng-template #content let-modal>
            <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">PAY VIA</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
            <!-- <form>
                <div class="mb-3">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                </div>
                </div>
            </form> -->
                <div class="mb-3">
                    <div class="col-12 text-center mainimagediv">
                        <img src="/assets/images/gcash.png" class="mainitem" *ngIf="card">
                    </div>
                    <form [formGroup]="orderForm2" >  
                    <section>
                        <div class="col-12 mb-2">
                            <input type="hidden" value="{{proof}}">
                            <label for="formFile" class="form-label">Proof of Payment (Screenshot)</label>
                            <input [ngClass]="validation.proof ? 'form-control' : 'form-control invalid'" type="file" id="formFile" (change)="uploadFile($event)" [disabled]="isUploading">
                        </div>
                    </section>
                    <section>
                        <div class="col-12 mb-2">
                            <button class="submit" (click)="submitOrder()" [disabled]="isUploading">Submit Order</button>
                        </div>
                    </section>
                    </form>
                    <br /><p style=" text-align: center;">___________ OR ___________ </p>
                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                </div>
            </div>
        </ng-template>

        <pre>{{ closeResult }}</pre>
        <!-- </ion-content> -->

       </div>
   </section>
<app-footer></app-footer>
</ion-content>

