<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container animate main">
            <div class="row align-top">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                            <li class="breadcrumb-item"><a [routerLink]="['/card', id]">{{card?.name}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Order</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <button (click)="test(confimation)">test</button>
                    <app-imagegrid id="{{id}}"></app-imagegrid>
                    <app-add-more *ngIf="card" [id]="card!.id" [recipients]="card!.recipients" [limit]=4
                        (selectedChange)="addMoreChange($event)"></app-add-more>
                </div>
                <div class="col-lg-6 col-sm-12 row">
                    <div class="col-12">
                        <header class="section-heading">
                            <h3 class="section-title">{{card?.name}}</h3>
                        </header>
                    </div>
                    <div class="col-12">
                        <p>{{card?.description}}</p>
                    </div>
                    <div class="col-6 mb-2">
                        <h5 class="section-title" *ngIf="card">₱{{card?.price | number:'1.2-2'}}</h5>
                    </div>
                    <div class="col-6 mb-2 text-right">
                        <button class="btn btn-light inst-but" (click)="showInstruction()">{{card!.signAndSend?'How to do Sign & Send':'How to Buy'}}</button>
                    </div>
                    <div class="col-12 mb-2">
                        <span class="text-muted">Sender</span>
                    </div>
                    <div class="col-12 mb-2">
                        <label class="form-label">Sender Name</label>
                        <span class="instruction" *ngIf="instruction">Insert Name of the Buyer</span>
                        <input type="text" class="form-control" placeholder="Name" [value]="order.sender_name"
                            (change)="onChange('Sender-Name', $event)" (keyup)="onKeyUp('Sender-Name', $event)">
                    </div>
                    <div class="col-12 mb-2">
                        <label class="form-label">Sender Phone Number</label>
                        <span class="instruction" *ngIf="instruction">Insert Phone number of the Buyer</span>
                        <input type="text" class="form-control" Number="Phone Number" [value]="order.sender_phone"
                            (change)="onChange('Sender-Phone', $event)" (keyup)="onKeyUp('Sender-Phone', $event)">
                    </div>
                    <div class="col-12 mb-2">
                        <label class="form-label">Sender Email Address</label>
                        <span class="instruction" *ngIf="instruction">Insert Valid Email Address of the Buyer</span>
                        <input type="email" class="form-control" placeholder="Email Address"
                            [value]="order.sender_email" (change)="onChange('Sender-Email', $event)"
                            (keyup)="onKeyUp('Sender-Email', $event)">
                    </div>
                    <div class="col-12 mb-2">
                        <span class="text-muted">Recipient</span>
                    </div>
                    <div class="col-12 mb-2">
                        <label class="form-label">Recipient Name</label>
                        <span class="instruction" *ngIf="instruction">Insert Name of the Reciver</span>
                        <input type="text" class="form-control" placeholder="Name" [value]="order.receiver_name"
                            (change)="onChange('Recipient-Name', $event)" (keyup)="onKeyUp('Recipient-Email', $event)">
                    </div>
                    <div class="col-12 mb-2">
                        <label class="form-label">Recipient Phone Number</label>
                        <span class="instruction" *ngIf="instruction">Insert Phone Number of the Reciver</span>
                        <input type="text" class="form-control" placeholder="Phone Number"
                            [value]="order.receiver_phone" (change)="onChange('Recipient-Phone', $event)"
                            (keyup)="onKeyUp('Recipient-Phone', $event)">
                    </div>
                    <div class="col-12 mb-2">
                        <label class="form-label">Recipient Email Address</label>
                        <span class="instruction" *ngIf="instruction">Insert Valid Email Address of the Reciver</span>
                        <input type="email" class="form-control" placeholder="Email Address"
                            [value]="order.receiver_email" (change)="onChange('Recipient-Email', $event)"
                            (keyup)="onKeyUp('Recipient-Email', $event)">
                    </div>
                    <div class="col-12 mb-2">
                        <label class="form-label">Delivery Address</label>
                        <span class="instruction" *ngIf="instruction">Insert Delivery Address of the Buyer or Reciver</span>
                        <textarea class="form-control" placeholder="Delivery Address" rows="5" [value]="order.address"
                            (change)="onChange('Address', $event)" (keyup)="onKeyUp('Address', $event)"></textarea>
                    </div>
                    <div class="col-12 mb-2 mt-2 pl-3 form-check">
                        <input class="form-check-input" type="checkbox" [checked]="order.anonymously"
                            (change)="onChange('Anonymously', $event)" (keyup)="onKeyUp('Anonymously', $event)">
                        <label class="form-check-label">Send Anonymously</label>
                        <span class="instruction" *ngIf="instruction">Check the Box if you want to send Anonymously</span>
                    </div>
                    <div class="col-12 mb-2">
                        <label class="form-label">Send To</label>
                        <span class="instruction" *ngIf="instruction">or you want to choose between Recipient (Reciver) or Sender (Buyer)</span>
                        <select class="form-select form-control" [value]="order.sendto"
                            (change)="onChange('SendTo', $event)">
                            <option selected value="Recipient">Recipient</option>
                            <option value="Sender">Sender</option>
                        </select>
                    </div>
                    <div class="col-12 mb-2" *ngIf="card?.signAndSend">
                        <span class="instruction" *ngIf="instruction">then Click Sign & Send</span>
                        <app-sign-and-send (signAndSendEvent)="receiveSignAndSend($event)"></app-sign-and-send>
                    </div>
                    <div class="col-12 mb-2" *ngIf="!card?.signAndSend">
                        <label class="form-label">Personal Message</label>
                        <span class="instruction" *ngIf="instruction">Insert Personal Message (Optional)</span>
                        <textarea class="form-control" placeholder="Personal Message" rows="5" [value]="order.message"
                            (change)="onChange('Message', $event)" (keyup)="onKeyUp('Message ', $event)"></textarea>
                    </div>
                    <div class="col-12 mt-2">
                        <button class="btn btn-primary full-size" (click)="addToCart(confimation)"
                            [disabled]="isValidOrder == false">Add to Cart</button>
                    </div>
                </div>
            </div>

            <ng-template #confimation let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">1 item added</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-2"><img src="{{primaryImageURL}}"></div>
                        <div class="col-7">{{card?.name}}</div>
                        <div class="col-3 allign-right">{{card?.price | number:'1.2-2'}}</div>
                    </div>
                    <div class="border"></div>
                    <div *ngFor="let item of addMore">
                        <div class="row" *ngIf="item.count > 0">
                            <div class="col-2"></div>
                            <div class="col-8">{{item.card.name}}</div>
                            <div class="col-2 allign-right">{{item.card.price! * item.count!| number:'1.2-2'}}</div>
                        </div>
                        <div class="border"></div>
                    </div>
                    <div class="row">
                        <div class="col-6">Card Subtotal ({{totalCount}} item):</div>
                        <div class="col-6">
                            <div class="col-12 allign-right">₱ {{total | number:'1.2-2'}}</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer footer">
                    <button class="btn btn-link" (click)="keepShopping()">Keep Shopping</button>
                    <button class="btn btn-primary" ngbAutofocus (click)="cart()">VIEW CART</button>
                </div>
            </ng-template>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>