.payment{
    border-bottom: 1px solid gray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;
}

.payment-details{
    flex-grow: 2;
}

.payment-value{
    flex-grow: 1;
    text-align: right;
}