.img-div {
    height: 100%;
    width: 94%;
}

.img {
    max-height: 100%;
    max-width: 100%;
}

.img-slide {
    height: 60px;
    width: 100%;
}

.img-slide img {
    max-height: 100%;
    border: 1px solid white;
}

.img-slide img:hover {
    border: 1px solid red;
}

.img-slide img.active {
    border: 1px solid red;
}

.item-slide {
    cursor: pointer;
}

.control {
    width: 3%;
}

.control span {
    cursor: pointer;
}

.top {
    width: 100%;
    height: 95%;
}

.bottom {
    width: 100%;
    height: 5%;
}