<ng-template #modal let-modal>
    <div class="modal-header">
        <div class="col-2">
            <h4 class="my-0">{{current.id + 1}} / {{items.length}}</h4>
        </div>
        <div class="col-8 text-center">
            <h4 class="my-0">{{cardtitle}}{{current.title ? ' - ' + current.title : ''}}</h4>
        </div>
        <div class="col-2 text-end">
            <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
        </div>
    </div>
    <div class="modal-body px-0">
        <div class="w-100 h-100 text-center d-flex flex-row align-items-center justify-content-center" #imgdiv>
            <div class="control-left d-flex align-items-center justify-content-center">
                <span class="carousel-control-prev-icon" (click)="prev()"></span>
            </div>
            <img class="img" [src]="current.image" *ngIf="current.image.includes('.mp4') == false">
            <video class="img" controls="" *ngIf="current.image.includes('.mp4') == true">
                <source [src]="current.image" type="video/mp4">
            </video>
            <div class="control-right d-flex align-items-center justify-content-center">
                <span class="carousel-control-next-icon" (click)="next()"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer text-center d-flex flex-row align-items-center justify-content-center">
        <div class="img-slide text-center d-flex flex-row align-items-center justify-content-center">
            <div class="mx-2 item-slide" *ngFor="let item of items">
                <img [src]="item.image" class="h-100" (click)="change(item.id)" [ngClass]="current.image==item.image?'active':''" *ngIf="item.image.includes('.mp4') == false">
                <video [src]="item.image" class="h-100" (click)="change(item.id)" [ngClass]="current.image==item.image?'active':''" *ngIf="item.image.includes('.mp4') == true"></video>
            </div>
        </div>
    </div>
</ng-template>