<h2>My Lists</h2>
<nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
        <a ngbNavLink>Favorites</a>
        <ng-template ngbNavContent>
            <div class="fav-card" *ngFor="let userFavorite of userFavorites">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <a [routerLink]="['/card/{{userFavorite.card.id}}']"
                            class="bold">{{userFavorite.card!.name}}</a><br />
                        <span>Description: </span><span
                            class="bold">{{userFavorite.card!.description}}</span><br />
                        <span>Event: </span><span class="bold">{{userFavorite.card!.event}}</span><br />
                        <span>Recipient: </span><span class="bold">{{userFavorite.card!.recipient}}</span><br />
                        <span>Price: </span><span class="bold">{{userFavorite.card!.price}}</span>
                    </div>
                    <div class="col-md-3 col-sm-12 img-div">
                        <img src="{{userFavorite.image}}" class="thumbnail">
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>Keepsake Wish List</a>
        <ng-template ngbNavContent>
            <p>Keepsake Wish List</p>
        </ng-template>
    </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>