<h2>My Lists</h2>
<nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
        <a ngbNavLink>{{'profile.favorites'|translate}}</a>
        <ng-template ngbNavContent>
            <div class="w-100 border-top px-3">
                <app-favorite-card *ngFor="let card of cards" [card]="card"></app-favorite-card>
                <div class="row" *ngIf="start < favorites.length">
                    <div class="col-12 mt-2 d-grid">
                        <button type="button" class="btn btn-info btn-sm rounded-0" (click)="onLoadMore()">Load More</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>{{'profile.keepsake'|translate}}</a>
        <ng-template ngbNavContent>
            <p>{{'profile.keepsake'|translate}}</p>
        </ng-template>
    </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>