.mainitem {
    max-height: 500px;
}

.item {
    cursor: pointer;
}

.item:hover {
    border-bottom: #000 1px solid
}

.mainimagediv {
    height: 500px;
    // margin-top: 30px;
    // margin-bottom: 50px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.imagediv {
    margin-bottom: 20px;
}

::ng-deep .ngxImageZoomContainer{
    height: 100% !important;
    width: 100% !important;
    cursor: zoom-in;
}

::ng-deep .ngxImageZoomFullContainer{
    height: 100% !important;
    width: 100% !important;
    cursor: zoom-in;
}