.mainitem {
    //max-height: 500px;
}

.item {
    cursor: pointer;
}

.item:hover {
    border-bottom: #000 1px solid
}

.mainimagediv {
    width: 100%;
    min-height: 500px;
}

.imagediv {
    height: 100px;
    opacity: .5;
}

.imagediv:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}

::ng-deep .ngxImageZoomContainer {
    height: 100% !important;
    width: 100% !important;
    cursor: zoom-in;
}

::ng-deep .ngxImageZoomFullContainer {
    height: 100% !important;
    width: 100% !important;
    cursor: zoom-in;
}

.inline-gallery-container {
    width: 100%;

    // set 60% height
    height: 0;
    padding-bottom: 65%;
}