<ion-content>
    <section class="section-name padding-y-sm">
<div class="container mothersday-component">
    <div class="row">
    <div class="col-md-12">
        <div class="gift-background">
            <img src="/assets/images/mothers/gift/main.png">
            <div>
            <h2>Begin with the ideal card</h2>
                    <div class="mother-gift-category">
                        <a href="#">Cards for Mom</a>
                        <a href="#">Cards for Grandma</a>
                        <a href="#">Cards for Wife</a>
                        <a href="#">Shop All Cards</a>
                    </div>
                    
            <br/>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-background" >
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="my-header">Buy her gifts she will adore BUY NOW,<br/> <span>before it runs out!</span></h2>
                </div>
                <div class="col-md-4">
                    <a href="/cards/events/Fruit%20Baskets"><img src="/assets/images/mothers/gift/fruit-basket.png" class="cat-gift"></a>
                </div>
                <div class="col-md-4">
                    <a href="/cards/events/Flowers"><img src="/assets/images/mothers/gift/flowers.png" class="cat-gift"></a>
                </div>
                <div class="col-md-4">
                    <a href="/cards/events/Bath%20and%20Body"><img src="/assets/images/mothers/gift/bath.png" class="cat-gift"></a>
                </div>
            </div>
    
        </div>
    </div>
    <img src="/assets/images/mothers/gift/banner1.png">
    <img src="/assets/images/mothers/gift/freesticker.png">
    </div>
    </section>
    <app-footer></app-footer>
</ion-content>
<style>
    .gift-background
    {
        background:#ded1c9;
        text-align:center;
    }
    .mother-gift-category a
    {
        color: #bb6a62;
    background: #ffffff;
    padding: 10px 30px;
    margin: 10px;
    border: 3px solid #bb6a62;
    border-radius: 6px;
    font-weight: bold;
    display: inline-block;
    }
</style>