.my-background
{
background-image: url('../../../assets/images/mothers/gift/background.png');
background-size: contain;
    padding-top: 5%;
    padding-bottom: 5%;
    background-repeat: no-repeat;
}
.mothersday-component a
{
opacity:.8;
background: black;
}
.mothersday-component a:hover
{

opacity: 1;
}