<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container mothersday-component">
            <div class="row">
                <div class="col-md-12">
                    <div class="gift-background">
                        <img src="/assets/images/mothers/gift/main.png">
                        <div>
                            <h2>Begin with the ideal card</h2>
                            <div class="mother-gift-category">
                                <p routerLink="/cards/events/Mother's Day/Mother" class="cursor">Cards for Mom</p>
                                <p routerLink="/cards/events/Mother's Day/Grandma" class="cursor">Cards for Grandma</p>
                                <p routerLink="/cards/events/Mother's Day/Wife" class="cursor">Cards for Wife</p>
                                <p routerLink="/cards/events/Mother's Day" class="cursor">Shop All Cards</p>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-background">
                <div class="col-md-10 offset-md-1">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="my-header">Buy her gifts she will adore BUY NOW,<br /> <span>before it runs
                                    out!</span></h2>
                        </div>
                        <div class="col-md-4">
                            <img src="/assets/images/mothers/gift/fruit-basket.png" routerLink="/cards/events/Fruit Baskets" class="cat-gift cursor">
                        </div>
                        <div class="col-md-4">
                            <img src="/assets/images/mothers/gift/flowers.png" routerLink="/cards/events/Flowers" class="cat-gift cursor">
                        </div>
                        <div class="col-md-4">
                            <img src="/assets/images/mothers/gift/bath.png" routerLink="/cards/events/Bath and Body" class="cat-gift cursor">
                        </div>
                    </div>

                </div>
            </div>
            <img src="/assets/images/mothers/gift/banner1.png">
            <img src="/assets/images/mothers/gift/freesticker.png">
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>