<ion-content>
    <section class="section-name padding-y-sm mothersday-component">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="assets/images/justbecause/Banners/topmost-banner-min.png">
                    <img src="assets/images/justbecause/Banners/1-homepage banner-min.png" routerLink="/justbecause/greetings">
                    <h2 style="color: #d25525; font-weight: bolder;font-size: 50px;">FEATURED JUST BECAUSE CARDS</h2>
                    <app-home-featured homeCardEvent="Just Because" [limit]="100" [withPrice]="true"></app-home-featured>
                    <img src="assets/images/justbecause/Banners/2-banner-min.png">
                </div>
                <div class="col-md-6">
                    <img src="assets/images/justbecause/Banners/shop gifts banner-min.png" routerLink="/cards/events/gifts" >
                </div>
                <div class="col-md-6">
                    <img src="assets/images/justbecause/Banners/shop cards banner-min.png" routerLink="/cards/events/Just%20Because">
                </div>
                <div class="col-md-12">
                    <img src="assets/images/justbecause/Banners/3-banner-min.png">
                    <img src="assets/images/justbecause/Banners/4-banner-min.png">
                    <img src="assets/images/justbecause/Banners/5-banner-min.png">
                    <img src="assets/images/justbecause/Banners/6-banner-min.png">
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>