<div class="parent">
    <div class="main" (click)="markItem()" placement="top" [ngbTooltip]="tipContent" container="body" [openDelay]="500">
        <div class="image">
            <img *ngIf="imageURL != ''" src="{{imageURL}}">
        </div>
        <div class="name">
            <p>{{card.name}}</p>
        </div>
        <div class="price">
            <p><strong>{{card.price!.toFixed(2)}}</strong></p>
        </div>
        <div *ngIf="count == 0" class="text-center addtocart">
            Add to Cart
        </div>
        <div class="row tool" *ngIf="count > 0">
            <div class="col-4 text-right tool-but">
                <p (click)="lessCount()">-</p>
            </div>
            <div class="col-4 text-center">
                <p class="description">{{count.toString()}}</p>
            </div>
            <div class="col-4 tool-but">
                <p (click)="addCount()">+</p>
            </div>
        </div>
    </div>
    <ng-template #tipContent>
        <div class="content">
            <span><strong>{{card.name}}</strong></span><br />
            <span>Description: <strong>{{card.description}}</strong></span><br />
            <span>Price: <strong>{{card.price!.toFixed(2)}}</strong></span>
        </div>
    </ng-template>
</div>