
<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="events">
        <ion-icon name="calendar-number-outline"></ion-icon>
        <ion-label>Events</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="gifts">
        <ion-icon name="gift-outline"></ion-icon>
        <ion-label>Gifts</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="login" *ngIf="!loggedInUser">
        <ion-icon name="log-in"></ion-icon>
        <ion-label>Log In</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile/info" *ngIf="loggedInUser">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="creations">
        <ion-icon name="bulb-outline"></ion-icon>
        <ion-label>Creations</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="stickers">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Stickers</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>
