<ion-content>
    <h2 style="font-size:0px;margin: 0;"  *ngIf="caption">Stickers {{caption}}</h2>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container animate main">
            <div class="row text-center">
                <div class="col-md-12">
                    <img src="/assets/images/2023/hw/banner/s-01-min.png" class="img-fluid">
                    <br /> <br />
                </div>
            </div>
            
            <div class="row text-center">
                <!--
                <div class="col-md-2 my-auto text-start">
                    <button class="btn rounded-0" style="background-color: #8a2be2; color: #ffffff;" [routerLink]="['/stickers']">Back to All Categories</button>
                </div>
                -->
                <div class="col-md-12" *ngIf="caption != ''">
                    <header class="section-heading">
                        <h3 class="section-title">{{caption}}</h3>
                    </header>
                </div>
            </div>
            
            <app-card-list *ngIf="cards.length > 0" [cards]="cards" mode="sticker" [categories]="categories"></app-card-list>
<!-- 
            <div class="row">
                <div class="col-md-12 mb-4">
                    <img src="assets/images/banner/select/title.png">
                </div>
                <div class="col-3">
                    <a [routerLink]="['/poetry']"><img src="assets/images/banner/select/p-1.png"></a>
                </div>
                <div class="col-3">
                    <a [routerLink]="['/e-cards']"><img src="assets/images/banner/select/p-2.png"></a>
                </div>
                <div class="col-3">
                    <a [routerLink]="['/postcards']"><img src="assets/images/banner/select/p-3.png"></a>
                </div>
                <div class="col-3">
                    <div class="d-none d-sm-block">
                        <br /><br />
                    </div>
                    <img src="assets/images/banner/select/p-4.png">
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <br /> <br />
                    <a [routerLink]="['/gifts']"> <img src="assets/images/banner/shop-gifts.png"></a>
                    <br /> <br />
                    <img src="assets/images/banner/fs-free.png" *ngIf="priceService.getLocation() == 'ph'">
                    <img src="assets/images/banner/fs-free-us.png" *ngIf="priceService.getLocation() != 'ph'">
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-12 mb-4">
                    <img src="/assets/images/2023/hw/more-with-fb.png">
                </div>

            </div>
            <div class="row">
                <div class="col-md-12" style="position: relative">
                    <img src="/assets/images/2023/hw/check.png">
                    <div style="height: 67%;width: 21%; position: absolute; left: 5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/poetry']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 27.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/postcards']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 49.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/signandsend']"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() == 'ph'">
                    <img src="/assets/images/2023/hw/two.png">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                        target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/gifts']"></div>
                </div>
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() != 'ph'">
                    <img src="/assets/images/2023/hw/f-usa2.png">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                        target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/postcards']"></div>
                </div>
                <div class="col-md-12">
                    <img src="/assets/images/2023/hw/homepage/09-min.png">
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>