<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/fathers/greeting/banner/Share-love.png">
                    <img src="/assets/images/fathers/greeting/banner/j-12-min.png" class="w100">
                    <div class="father-greetings-selection">
                    <div class="row ">
                        <div class="col-md-10 offset-md-1">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <button (click)="scroll(ALLDADS1)">FOR ALL DADS</button>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button (click)="scroll(FROMDAUGHTERS1)">FROM DAUGHTERS</button>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button (click)="scroll(FROMSONS1)">FROM SONS</button>
                                </div>
                                <!-- <div class="col-md-3 text-center">
                                    <button (click)="scroll(SHORT1)">SHORT AND SWEET</button>
                                </div> -->
                            </div>
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <button (click)="scroll(NEW1)">FOR ALL NEW DADS</button>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button (click)="scroll(FARAWAYDADS1)">FOR FAR WAY DADS</button>
                                </div>
                                <div class="col-md-3 text-center">
                                    <button (click)="scroll(QUOTES1)">FATHER'S DAY QUOTES</button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                    <div #ALLDADS1></div>
                    <img src="/assets/images/fathers/greeting/banner/j-14-min.png" class="w100">
                        <br /><br />
                        <ol>
                            <li>Thank you. For your presence and for showing your fatherly love.
                            </li>
                            <li>I appreciate all your hard work. I promise that it will pay off.</li>
                            <li>Thank you very much. That you always prioritize our family before anything else.</li>
                            <li>Your fatherly love is very much appreciated, though sometimes we misunderstand.</li>
                            <li>Thank you for being such a source of strength, comfort, and joy for our family.</li>
                        </ol>
                    <br /><br />

                    <div class="row">
                        <div class="col-md-3">
                        <a href="https://fibeigreetings.com/card/Hjuo8SKOdSbRZwBqCxTU" class="f-mails" target="_blank" title="Father! Thank You For All Of Your Sacrifices">
                            <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FHjuo8SKOdSbRZwBqCxTU%2FKWEiJzZ9KZDrlnjXu4zM?alt=media&token=b93705e0-d158-405e-843c-d4bfdd05c6da" >
                            <br/> <br/>
                            <p>Father! Thank You For All Of Your Sacrifices</p>
                            <b>P99.00</b>
                        </a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://fibeigreetings.com/card/xgXEHApA7U1bjSn1Yc6v" class="f-mails" target="_blank" title="I appreciate all your hard work. I promise that it will pay off.">
                                <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FxgXEHApA7U1bjSn1Yc6v%2FPFwJeONOdflMIZUgUa3p?alt=media&token=ee48bfb9-1ecd-45e1-9b07-8f5e595d4cc1" >
                                <br/> <br/>
                                <p>I appreciate all your hard work. I promise that it will pay off.</p>
                                <b>P99.00</b>
                            </a>
                            </div>
                            <div class="col-md-3">
                                <a href="https://fibeigreetings.com/card/yreQ3TFjhfiY8Xl36FzH" class="f-mails" target="_blank" title="Thank you very much. That you always prioritize our family before anything else.">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FyreQ3TFjhfiY8Xl36FzH%2F1i43dDGkZeKnlc5vREFL?alt=media&token=d90679ee-6c1b-40b3-8b2e-255299df551e" >
                                    <br/> <br/>
                                    <p>Thank you very much. That you always prioritize our family before anything else.</p>
                                    <b>P99.00</b>
                                </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="https://fibeigreetings.com/card/NxShs9t8vDFtZrmT2Xqo" class="f-mails" target="_blank" title="Your fatherly love is very much appreciated, though sometimes we misunderstand.">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FNxShs9t8vDFtZrmT2Xqo%2FQ2XlzxMiZYkCMMFG1wBb?alt=media&token=2086b8de-b754-4b69-8a16-6e7528e11bde" >
                                        <br/> <br/>
                                        <p>Your fatherly love is very much appreciated, though sometimes we misunderstand.</p>
                                        <b>P99.00</b>
                                    </a>
                                    </div>
                    </div>
                    <br /><br />
                    <div #FROMDAUGHTERS1></div>
                    <img src="/assets/images/fathers/greeting/banner/j-15-min.png" class="w100">
                    <br /><br />
                    <ol>
                        <li>You've been there for me through all of my highs and lows, but you've always made me feel like I could fly! Happy Father's Day</li>
                        <li>I'll always be the same little girl who adore you with all my heart Dad, no matter how many years pass. Happy Father's Day!</li>
                        <li>You have impacted my heart in every manner with all you do and say. Your Daughter Wish You a Happy Father's Day!</li>
                        <li>Funny, lovely, and always ready to make me laugh. That's why, Father, you will always be our Prince Charming. Happy Father's Day!</li>
                        <li>You always manage to cheer me up and make me feel like celebrities! Happy Father's Day.</li>
                    </ol>
                    <br /><br />

                    <div class="row">
                        <div class="col-md-3">
                        <a href="https://fibeigreetings.com/card/aMdOMMfRcddS3AbItJLT" class="f-mails" target="_blank" title="Happy Father's Day To Our Amazing Father. Thank You For Always Being There To Us">
                            <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FaMdOMMfRcddS3AbItJLT%2FpGdC67HM8aM0MSgKGxRP?alt=media&token=f41f9660-712d-4660-a0e6-3645764b952a" >
                            <br/> <br/>
                            <p>Happy Father's Day To Our Amazing Father. Thank You For Always Being There To Us</p>
                            <b>P99.00</b>
                        </a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://fibeigreetings.com/card/xIL4Ntitj9BCRAOI9onG" class="f-mails" target="_blank" title="We Believe We Have The Best Father In The Entire World! Happy Father's Day">
                                <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FxIL4Ntitj9BCRAOI9onG%2FpWeIe10503dqODTZ2JUv?alt=media&token=7143d923-96d6-4b28-97b8-ad86329c672a" >
                                <br/> <br/>
                                <p>We Believe We Have The Best Father In The Entire World! Happy Father's Day</p>
                                <b>P99.00</b>
                            </a>
                            </div>
                            <div class="col-md-3">
                                <a href="https://fibeigreetings.com/card/RzP9o6uq8ogCrK03gEJB" class="f-mails" target="_blank" title="Thank You For All Of The Wonderful Experiences We've Had Together, You're An Incredible Daddy! Happy Father's Day!">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FRzP9o6uq8ogCrK03gEJB%2FiLyd7ZynBjl7mXCm5rj4?alt=media&token=3321dc3a-d419-4846-8dfb-a9134fb93e65" >
                                    <br/> <br/>
                                    <p>Thank You For All Of The Wonderful Experiences We've Had Together, You're An Incredible Daddy! Happy Father's Day!</p>
                                    <b>P99.00</b>
                                </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="https://fibeigreetings.com/card/nDvoxLmWQcj3oewELjJ6" class="f-mails" target="_blank" title="We Are Extremely Fortunate To Have You As Our Father. Thank You For Being So Amazing!">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FnDvoxLmWQcj3oewELjJ6%2FwJzIlZtG9cbrH29ZOgW5?alt=media&token=0585b9d2-9d99-4d18-8bca-9245a6036be1" >
                                        <br/> <br/>
                                        <p>We Are Extremely Fortunate To Have You As Our Father. Thank You For Being So Amazing!</p>
                                        <b>P99.00</b>
                                    </a>
                                    </div>
                    </div>
                    <br /><br />

                    <div #FROMSONS1></div>
                    <img src="/assets/images/fathers/greeting/banner/j-16-min.png" class="w100">
                    <br /><br />
                    <ol>
                        <li>This Father's Day greeting card features a pink,blue and yellow paint, bat, black and yellow building design with white color background.</li>
                        <li>This Father's Day greeting card features a hand heart shape and pink color background.</li>
                        <li>This Father's Day greeting card features a pink leaves with father and son design and pink color background.</li>
                        <li>This Father's Day greeting card features a black, green and white stars, father and son design with peach and pink color background.</li>
                        <li>This Father's Day greeting card features a leaves, half moon design and navy blue and pink color background.
                        </li>
                    </ol>
                    <br /><br />

                    <div class="row">
                        <div class="col-md-3">
                        <a href="https://fibeigreetings.com/card/BiQC6KQecLsO9pnpUxd3" class="f-mails" target="_blank" title="Happy Father's Day To The Greatest Father On The Planet!">
                            <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FBiQC6KQecLsO9pnpUxd3%2F9jqtz4B6VAFtwlAiDskw?alt=media&token=69f09db4-591f-43c2-b70a-169c6e32cbb9" >
                            <br/> <br/>
                            <p>Happy Father's Day To The Greatest Father On The Planet!</p>
                            <b>P99.00</b>
                        </a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://fibeigreetings.com/card/UHEPTIo51LDtyGZqG9QN" class="f-mails" target="_blank" title="Happy Father's Day To The Best Dad On The Planet!">
                                <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FUHEPTIo51LDtyGZqG9QN%2FpvCfTgRedKrWz5oZJmzX?alt=media&token=e19235a5-a9a2-47b7-a77b-f2e18b8df701" >
                                <br/> <br/>
                                <p>Happy Father's Day To The Best Dad On The Planet!</p>
                                <b>P99.00</b>
                            </a>
                            </div>
                            <div class="col-md-3">
                                <a href="https://fibeigreetings.com/card/g6DMRpAa2QKqqAKb648V" class="f-mails" target="_blank" title="Thank You, Dad, For all You Do For As. Happy Father's Day">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2Fg6DMRpAa2QKqqAKb648V%2FtUprxXx2iWLEsLTte3et?alt=media&token=ddb69c29-875c-49a1-b2f5-7cf2d9580bfa" >
                                    <br/> <br/>
                                    <p>Thank You, Dad, For all You Do For As. Happy Father's Day</p>
                                    <b>P99.00</b>
                                </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="https://fibeigreetings.com/card/s5o90KnbdSQmU5RL3AXm" class="f-mails" target="_blank" title="Happy Father's Day To The Coolest Dad In The Planet!">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2Fs5o90KnbdSQmU5RL3AXm%2FxkA6y7oFnxcaVoApwbCY?alt=media&token=72f1321c-2b3d-40e8-b866-e39172995114" >
                                        <br/> <br/>
                                        <p>Happy Father's Day To The Coolest Dad In The Planet!</p>
                                        <b>P99.00</b>
                                    </a>
                                    </div>
                    </div>
                    <br /><br />

                    <div #NEW1></div>
                    <img src="/assets/images/fathers/greeting/banner/j-17-min.png" class="w100">
                    <br /><br />
                    <ol>
                        <li>It is amazing to see the man I fell in love with taking on his new position as a parent now that they had a child together. </li>
                        <li>I cannot express how ecstatic I am that we will have the opportunity to share in this delight together.</li>
                        <li>You are a wonderful example of a fun-loving and involved parent.</li>
                        <li>To spend the rest of my life with such a great man is the best thing that could have happened to me.</li>
                        <li>I am overjoyed that we have each other in our lives, despite the fact that everything in both of our lives might be a little bit crazy right now.</li>
                    </ol>
                    <br /><br />

                    <div class="row">
                        <div class="col-md-3">
                        <a href="https://fibeigreetings.com/card/6TwHU3OAXf42v5Q4lLqM" class="f-mails" target="_blank" title="Surely, You Are A Proud Father">
                            <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2F6TwHU3OAXf42v5Q4lLqM%2FDZsRKRrkBoEpQRVyQnxn?alt=media&token=6f5dca21-8c11-44c3-8bff-5f8069736351" >
                            <br/> <br/>
                            <p>Surely, You Are A Proud Father</p>
                            <b>P99.00</b>
                        </a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://fibeigreetings.com/card/GGifPdvmibMCXp8r23P9" class="f-mails" target="_blank" title="Looking At You As A Father Reveals A Hitherto Unseen Side Of Your Character">
                                <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FGGifPdvmibMCXp8r23P9%2FnRvz4X4QexuUUWRZZLs7?alt=media&token=2ecc90ca-4443-40c7-9a8c-a7a875600923" >
                                <br/> <br/>
                                <p>Looking At You As A Father Reveals A Hitherto Unseen Side Of Your Character</p>
                                <b>P99.00</b>
                            </a>
                            </div>
                            <div class="col-md-3">
                                <a href="https://fibeigreetings.com/card/hWQAzO2eAPT8TRSoJLb4" class="f-mails" target="_blank" title="Your Son Is Off To A Great Start Because He Has A Decent Parent Like You.">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FhWQAzO2eAPT8TRSoJLb4%2FMjbbwXmoWWbBfRSzmLSf?alt=media&token=7370d64b-2b95-44a8-a99d-27756631b956" >
                                    <br/> <br/>
                                    <p>Your Son Is Off To A Great Start Because He Has A Decent Parent Like You.</p>
                                    <b>P99.00</b>
                                </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="https://fibeigreetings.com/card/1RkmlfUTQ6EbEffOVmAS" class="f-mails" target="_blank" title="I Hope, You Have A Wonderful Day and That Your Heart Is Fill With Love As Well">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2F1RkmlfUTQ6EbEffOVmAS%2FJDBPVn8tcaUX9ydcAxlL?alt=media&token=49937c39-8e5a-4ef2-a383-6b699cda96ee" >
                                        <br/> <br/>
                                        <p>I Hope, You Have A Wonderful Day and That Your Heart Is Fill With Love As Well</p>
                                        <b>P99.00</b>
                                    </a>
                                    </div>
                    </div>
                    <br /><br />
                    <div #FARAWAYDADS1></div>
                    <img src="/assets/images/fathers/greeting/banner/j-20-min.png" class="w100">
                    <br /><br />
                    <ol>
                        <li>Distance is irrelevant when it comes to the love you and I share because we are linked by our hearts and souls. Father's Day greetings, Papa</li>
                        <li>I can't thank you enough for all the joy you've given me and all the goodness you've filled my heart with. Happy Father's Day to the father who is greatly missed.</li>
                        <li>On this day, I just wish I had wings so I could fly to you and wish you a Happy Father's Day, papa.</li>
                        <li>I wish you a Happy Father's Day. Though I am unable to hug you today, please know that I love and miss you from afar.
                        </li>
                        <li>I wish you nothing but joy and happiness because you are a truly inspirational and incredible father in this world. Happy Father's Day!!</li>
                    </ol>
                    <br /><br />

                    <div class="row">
                        <div class="col-md-3">
                        <a href="https://fibeigreetings.com/card/Iuau7ew2YSQ7RkXO64ph" class="f-mails" target="_blank" title="For My Papa, Happy Father's Day">
                            <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FIuau7ew2YSQ7RkXO64ph%2F2HpA9a1JKISzJDpzzRq8?alt=media&token=658cb653-df83-4212-9f5d-60e74dc90b07" >
                            <br/> <br/>
                            <p>For My Papa, Happy Father's Day</p>
                            <b>P99.00</b>
                        </a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://fibeigreetings.com/card/WVsojeuF3n1qFPdFF4gp" class="f-mails" target="_blank" title="Take Care And Have A Great Father's Day">
                                <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FWVsojeuF3n1qFPdFF4gp%2F5NFkTJDCQgZTT0ivsNDt?alt=media&token=5b585a85-5d07-4b07-8ca6-2a0f5bc00013" >
                                <br/> <br/>
                                <p>Take Care And Have A Great Father's Day</p>
                                <b>P99.00</b>
                            </a>
                            </div>
                            <div class="col-md-3">
                                <a href="https://fibeigreetings.com/card/QOHRidyrxMxMDOpn4pi4" class="f-mails" target="_blank" title="I'm Blessed To Have You As My Father. Happy Father's Day!">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2FQOHRidyrxMxMDOpn4pi4%2FNibcZnhy8E77sDq88I4a?alt=media&token=5ab5ab15-7a8a-495a-a6c7-85d8ce157146" >
                                    <br/> <br/>
                                    <p>I'm Blessed To Have You As My Father. Happy Father's Day!.</p>
                                    <b>P99.00</b>
                                </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="https://fibeigreetings.com/card/c8CF30dBzZtU4XNpVINL" class="f-mails" target="_blank" title="Thank You, Papa. Happy Father's Day">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/fifi-greetings.appspot.com/o/cards%2Fc8CF30dBzZtU4XNpVINL%2FwAlcVjrpM8IvqJgDmGza?alt=media&token=9cab70e0-6ffe-438f-9bf4-6e9c2336e6b6" >
                                        <br/> <br/>
                                        <p>Thank You, Papa. Happy Father's Day</p>
                                        <b>P99.00</b>
                                    </a>
                                    </div>
                    </div>
                    <!-- <br /><br />
                    <div #SHORT1></div>
                    <img src="/assets/images/fathers/greeting/banner/j-18-min.png" class="w100">
                    <br /><br />
                    <ol>
                        <li>Mom, you are a blessing to our family!</li>
                        <li>Mama, I adore you and send you hugs and kisses!</li>
                        <li>Best wishes for Mother's Day!</li>
                        <li>Thank you very much for everything you do for me!</li>
                        <li>Lots of affection. You are the best mother!</li>
                        <li>To the best mother on the planet!</li>
                    </ol>
                    <br /><br /> -->
                    <div #QUOTES1></div>
                    <img src="/assets/images/fathers/greeting/banner/j-19-min.png" class="w100">
                    <h3>Father's Day Qoutes</h3>
                    <br /><br />
                    <!-- <p>If you're at a loss for words, borrow someone else's! Here are some of the most beautiful
                        quotes from people of all walks of life, perfect for adding a little glitter to your Mother's
                        Day
                        card.</p> -->
                    <ol>
                        <li>When my father didn't have my hand, he had my back. -Linda Poindexter</li>
                        <li>A father is someone you look up to no matter how tall you grow. -unknown</li>
                        <li>The greatest mark of a father is how he treats his children when no one is looking. -Dan Pearce</li>
                        <li>The older I get, the smarter my father seems to get. -Tim Russert</li>
                        <li>No music is so pleasant to my ears as that word - father. -Lydia Maria Child</li>
                    </ol>
                    <br /><br />
                    <h3>Funny Father's Day Qoutes</h3>
                    <br /><br />
                    <ol>
                        <li>Sending you heatfelt appreciation on Father's Day. It's the least I can do considering all the gray hairs I've given you.</li>
                        <li>Thanks for teaching me all the best things I know...plus some other good stuff that I probably should have paid more attention to.</li>
                        <li>Today is all about you, Dad! Enjoy, because tomorrow it's back to the rest of us. I hope you get to waste some time in your favorite ways on Father's Day. You deserve it!</li>
                        <li>Happy Father's Day, Daddy. We'll just drop t he grilled meat off at the door to your man cave.</li>
                        <li>Having children is like living in a frat house. Nobody sleeps, everthing's broken and here's a lot of throwing up.</li>
                    </ol>
                    <br /><br />
                    <h3>Wise Father's Day Qoutes										</h3>
                    <br /><br />
                    <ol>
                        <li>My father was my teacher. But most importantly he was a great dad.</li>
                        <li>Being a great father is like shaving. No matter how good you shaved today, you have to do it again tomorrow.
                        </li>
                        <li>My Father gave me the greatest gift anyone could give another person; he believed in me.</li>
                        <li>Great fathers don't find fault. Great fathers fund solution.</li>
                        <li>Anyone can be a father, but it takes someone special to be a dad, and that's why I call you dad, because you are so special to me.</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>