.father-greetings-selection
{
    background-image: url('../../../assets/images/fathers/greeting/thumb/bk-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center center;
}

.father-greetings-selection button
{
    margin-bottom: 16px;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    background:#283890;
}


.father-greetings-selection a:hover
{
background: #1f2b70;
}
.w100
{
    width: 100%;
}

.f-mails
{
    padding: 20px;background: #ccc;
    box-shadow: 1px 4px 3px #978c8c;
    margin-bottom: 5px;
    opacity:0.8;
    display:block;
    color: black;
    text-decoration: none;
}
.fmails:hover
{
    opacity:1
}