img {
    max-height: 600px;
    max-width: 100%;
}

.main-img {
    cursor: pointer;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.card-body{
    cursor: zoom-in;
}