<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container animate">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="/assets/images/halloween/halloween-title.png" class="img-fluid title hover-effect">
                </div>
                <div class="col-md-12 text-center mb-1 ps-0 pe-0">
                    <img src="/assets/images/halloween/scareup.png" class="img-fluid hover-effect">
                </div>
                <div class="col-md-12 category d-flex align-items-center">
                    <div class=" row w-100">
                        <div class="col-6 text-center div-btn mb-4">
                            <button type="button" class="btn btn-primary btn-lg" (click)="scroll(ALL)">FOR ALL</button>
                        </div>
                        <div class="col-6 text-center div-btn mb-4">
                            <button type="button" class="btn btn-primary btn-lg" (click)="scroll(SON)">FROM SON</button>
                        </div>
                        <div class="col-6 text-center div-btn mb-4">
                            <button type="button" class="btn btn-primary btn-lg" (click)="scroll(MOTHER)">FROM MOTHERS</button>
                        </div>
                        <div class="col-6 text-center div-btn mb-4">
                            <button type="button" class="btn btn-primary btn-lg" (click)="scroll(DAUGHTER)">FROM DAUGHTER</button>
                        </div>
                        <div class="col-6 text-center div-btn">
                            <button type="button" class="btn btn-primary btn-lg" (click)="scroll(FATHER)">FROM FATHERS</button>
                        </div>
                        <div class="col-6 text-center div-btn">
                            <button type="button" class="btn btn-primary btn-lg" (click)="scroll(QOUTES)">HALLOWEEN QOUTES</button>
                        </div>
                    </div>
                </div>
                <div #ALL></div>
                <div class="col-md-12 text-center ps-0 pe-0">
                    <img src="/assets/images/halloween/messageforall.png" class="img-fluid hover-effect">
                </div>
                <div class="col-md-12 my-4 message">
                    <p>1. I wish you a happy Halloween! Get scared and have a good time!</p>
                    <p>2. Happy Halloween! Tonight, may you be showered with sweets and pranks!</p>
                    <p>3. I wish you a spooky Halloween filled with sweets! But keep in mind that if you eat them all at once, you might turn into a green monster.</p>
                    <p>4. There isn't enough time to eat all the sweets. Happy Halloween!</p>
                    <p>5. Happy Halloween! Have a scary good time!</p>
                </div>
                <div class="col-md-12 text-center mt-2 mb-4 cards">
                    <div class="card-display">
                        <app-halloween-card id="VfqG2BfpdB8G8xts6OKo"></app-halloween-card>
                        <app-halloween-card id="S5Tb9xOUzCkL4Cd1H0aa"></app-halloween-card>
                        <app-halloween-card id="K3lCZIGbZEbolRxODIAX"></app-halloween-card>
                        <app-halloween-card id="ntMPBABBMTQKAoaGWZNm"></app-halloween-card>
                        <app-halloween-card id="8ji8mewinjB6JNLLOVgM"></app-halloween-card>
                    </div>
                </div>
                <div #SON></div>
                <div class="col-md-12 text-center ps-0 pe-0">
                    <img src="/assets/images/halloween/messageforson.png" class="img-fluid hover-effect">
                </div>
                <div class="col-md-12 my-4 message">
                    <p>1. Have A Night Of Fright</p>
                    <p>2. Happy Halloween</p>
                    <p>3. Halloween Candies</p>
                    <p>4. Tricks and treat's!</p>
                    <p>5. Trick or Treat!</p>
                </div>
                <div class="col-md-12 text-center mt-2 mb-4 cards">
                    <div class="card-display">
                        <app-halloween-card id="3Kl22SprWkFMhitvS8ft"></app-halloween-card>
                        <app-halloween-card id="1R51VvC5KW0NcTxZmkAy"></app-halloween-card>
                        <app-halloween-card id="BeOvpyyxeSf9HdTS3xKr"></app-halloween-card>
                        <app-halloween-card id="zOmqaiug47r6oqq90YAd"></app-halloween-card>
                        <app-halloween-card id="msD3LycUBIcuGcUfOaXO"></app-halloween-card>
                    </div>
                </div>
                <div #MOTHER></div>
                <div class="col-md-12 text-center ps-0 pe-0">
                    <img src="/assets/images/halloween/messageformother.png" class="img-fluid hover-effect">
                </div>
                <div #DAUGHTER></div>
                <div class="col-md-12 text-center ps-0 pe-0">
                    <img src="/assets/images/halloween/messagefordaughter.png" class="img-fluid hover-effect">
                </div>
                <div class="col-md-12 my-4 message">
                    <p>1. Halloween is Here</p>
                    <p>2. Open to see your future</p>
                    <p>3. Trick Or Treat?</p>
                    <p>4. All Dressed Up</p>
                    <p>5. Be The Best Halloween</p>
                </div>
                <div class="col-md-12 text-center mt-2 mb-4 cards">
                    <div class="card-display">
                        <app-halloween-card id="QX4FFaSi8gzZ1z0OI4tI"></app-halloween-card>
                        <app-halloween-card id="0zgT0L8d1TjF76qFoD1r"></app-halloween-card>
                        <app-halloween-card id="RZFSlwnyPZJbOA9l4yL5"></app-halloween-card>
                        <app-halloween-card id="M3lPQ1vujN9pCCpT8vZc"></app-halloween-card>
                        <app-halloween-card id="p67Mlh740c1hlpYUjj1g"></app-halloween-card>
                    </div>
                </div>
                <div #FATHER></div>
                <div class="col-md-12 text-center ps-0 pe-0">
                    <img src="/assets/images/halloween/messageforfather.png" class="img-fluid hover-effect">
                </div>
                <div #QOUTES></div>
                <div class="col-md-12 text-center ps-0 pe-0">
                    <img src="/assets/images/halloween/qoutes.png" class="img-fluid hover-effect">
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>