<ion-content>
    <section class="section-name padding-y-sm mother-background">
        <div class="container animate main">

            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/layout2/Gifts Landing page_2-min.png" class="img-fluid">
                <br><br> 
                <h2 class="text-center my-header">SHOP BY CATEGORY</h2>
                <hr/>
                </div>
            </div>
            <div class="row my-event">
                <div class="col-md-3  col-6" *ngFor="let event of events">
                    <a href="{{event.url}}">
                        <img src="{{event.image}}" class="img-fluid">
                        <div>{{event.name}}</div>
                    </a>
                    <br/>
                </div>
            </div>
           
        </div>
    </section>
    <br><br> 
    <section class="section-name padding-y-sm mother-background-footer">
        <div class="container animate main">
        <div class="row">
            <div class="col-md-12">
                <img src="/assets/images/layout2/Gifts Landing Page_3-min.png" class="img-fluid" style="margin-top:-50px">
            <br><br> 
            </div>
        </div>
        </div>
    </section>
<app-footer></app-footer>
</ion-content>

