.my-event div {
    opacity: 0.8
}
.my-event div img{

    border-radius: 50%;
    margin-bottom: 10px;
    // border:5px solid #fff;
}

.my-event div:hover,
.my-event div:active {
    opacity: 1
}
.my-event div:hover img{

    border-style:inset;
    border-width:5px;
    border-top-color: #1244bd;
    border-left-color: #1244bd;
    border-right-color: #1244bd;
    border-bottom-color: #1244bd;
}

.title {
    text-align: center;
    background: #000;
    padding: 10px;
    font-weight: bold;
    color: white;
}

.my-event div:hover div,
.my-event div:active div {
    background: #630ca5;
}
.my-header
{
    color: indigo;
    border-bottom: 2px solid indigo;
    padding-bottom: 10px;
    font-weight: bolder;

}

.mother-background
{
    background-image: url('../../assets/images/layout2/Gifts Landing Page _1-min.png');
    background-repeat:no-repeat;
    background-size: contain;
}
.mother-background-footer
{
    background-image: url('../../assets/images/layout2/Gifts Landing Page _1-min.png');
    background-size: contain;
}