<ion-content>
    <section class="section-name padding-y-sm bk-hw">
        <!-- mother-background -->
        <div class="container animate main">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <img src="/assets/images/gift/banner.png" class="img-fluid">
                    <br/><br/>
                    <img src="/assets/images/featured/gifts/title.png">

                </div>

                <!-- <div class="col-md-12 mb-3">
                    <img src="/assets/images/gift/gift-val.jpg" class="img-fluid"
                        [routerLink]="['/cards/events/Gifts for Valentines day']">
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-4 col-6">
                    <a [routerLink]="['/cards/event/dGiyJX4go7yPhCJNJN4P']" class="to-link"> <img src="/assets/images/featured/gifts/birthday.png" alt="birthday" title="birthday"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a [routerLink]="['/cards/event/2I8JoQUc5eEjDQa1EbOK']" class="to-link"> <img src="/assets/images/featured/gifts/easter.png" alt="easter" title="easter"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a [routerLink]="['/cards/event/VZqEILBrTMtnLFxaBpjH']" class="to-link">  <img src="/assets/images/featured/gifts/graduation.png" alt="graduation" title="graduation"></a>
                </div>
            </div>
            <br/><br/>
            <div class="row header pb-2 mb-4">
                <div class="col-md-4">
                    <h2 [class]="mode =='Category'?'text-center my-header active':'text-center my-header'"
                        (click)="modeChange('Category')">{{'gifts.categorytext'|translate}}</h2>
                </div>
                <div class="col-md-4">
                    <h2 [class]="mode =='Recipient'?'text-center my-header active':'text-center my-header'"
                        (click)="modeChange('Recipient')">{{'gifts.recipienttext'|translate}}</h2>
                </div>
                <div class="col-md-4">
                    <h2 [class]="mode =='Event'?'text-center my-header active':'text-center my-header'"
                        (click)="modeChange('Event')">{{'gifts.eventtext'|translate}}</h2>
                </div>
            </div>
            <app-gift-events *ngIf="mode=='Category'" [events]="categories">
            </app-gift-events>
            <app-gift-events *ngIf="mode=='Recipient'" [events]="recipients">
            </app-gift-events>
            <app-gift-events *ngIf="mode=='Event'" [events]="events">
            </app-gift-events>
            <div class="row">
                <div class="col-md-12 mb-4">
                    <img src="assets/images/banner/select/title.png">
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['/poetry']"><img src="assets/images/banner/select/p-1.png"></a>
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['/e-cards']"><img src="assets/images/banner/select/p-2.png"></a>
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['/postcards']"><img src="assets/images/banner/select/p-3.png"></a>
                </div>
                <div class="col-md-3">
                    <br /><br />
                    <img src="assets/images/banner/select/p-4.png">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br /> <br />
                    <a [routerLink]="['/e-cards']" > <img src="assets/images/banner/shop-ecards.png"></a>
                    <br /> <br />
                    <!-- <img src="assets/images/banner/fs-free.png" *ngIf="priceService.getLocation() == 'ph'">
                    <img src="assets/images/banner/fs-free-us.png" *ngIf="priceService.getLocation() != 'ph'"> -->
                    <img src="assets/images/banner/fs.png" *ngIf="priceService.getLocation() == 'ph'">
                </div>
            </div>
        </div>

    </section>
    <!-- <br><br>
    <section class="section-name padding-y-sm mother-background-footer">
        <div class="container animate main">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="/assets/images/layout2/Gifts Landing Page_3-min.png" class="img-fluid" style="margin-top:-50px">
                    <br><br>
                </div>
            </div>
        </div>
    </section> -->
    <app-footer></app-footer>
</ion-content>