.custom-ico .bg-blue {
    // background:#deebf7 -fathersday;
    // background:#f1a6262e -mothersday;
    background: #e0d2e9;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100px;
}

.custom-ico .btn.btn-default {
    padding: 0;
    display: block;
    height: auto;
    width: auto;
    margin: 0 !important;
    border: none !important;
}

.custom-ico .btn.btn-default:hover {
    border: none !important;
}

.cursor {
    cursor: pointer !important;
}

.cursor img,
.cursor p {
    width: 100%;
}

.cursor img:hover{
    background-color: #d419bb;
}

.custom-ico .material-icons {

    font-size: 60px !important;
    height: 60px;
    display: table-cell;
    color: #3a63ab;
    padding: 0 !important;
    margin: 0 !important;

}

.custom-ico .material-icons:hover {
    background: #3a63ab;
    color: #fff;
    border-radius: 50%;
}

.custom-ico p {
    color: #7840a1;
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::ng-deep .carousel-control-prev,
::ng-deep .carousel-control-next {
    width: 3% !important;
}

::ng-deep .carousel-control-prev-icon,
::ng-deep .carousel-control-next-icon {
    filter: invert(100%) !important;
}

::ng-deep .carousel-indicators {
    margin-top: 1rem;
    margin-bottom: 0;
    bottom: -25px;
}

::ng-deep .carousel-item {
    transition: transform 3s ease-in-out !important;
}

h5.xmas-draft {
    margin: 0;
    padding: 10px;
    background: #f3d1da;
    color: #5e17eb;
    border-bottom: 5px solid #5e17eb;

}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

