
<div class="container custom-ico" ng-app="app">
    <div class=""><h5><b>{{homeCardEvent}}</b></h5></div>
    <div class="row center-content bg-blue" ng-controller="appController">
      <div class="col-md-1" *ngIf="!disablePrev" style="padding-top: 5%;">
        <button class="btn btn-default" (click)="leftClick()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>
      <div class="col-md-2 cursor" routerLink="{{'/card/' + displayCard!.id}}" *ngFor="let displayCard of displayCards" >
        <img class="img-thumbnail" src="{{displayCard?.imageUrl}}" title="{{displayCard?.name}}">
        <p>{{displayCard?.name}}</p>
      </div>
      <div class="col-md-1" *ngIf="!disableNext"  style="padding-top: 5%;">
        <button class="btn btn-default" (click)="rightClick()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <br/> <br/>

  