<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container mothersday-component">
            <div class="row">
                <div class="col-md-4">
                    <img src="/assets/images/signandsend/banner.png" class="img-fluid">
                </div>
                <div class="col-md-8 text-center">
                    <img src="/assets/images/signandsend/sign-send-logo 2.png" class="img-fluid">
                    <p [ngStyle]="isMobile?{'font-size': '15px'} : {'font-size': '36px'}">{{"sign.tagline"|translate}}</p>
                </div>
                <div class="col-md-12 text-center">
                    <p [ngStyle]="isMobile?{'font-size': '15px'} : {'font-size': '48px'}" style="font-weight: bold;color:#6500bb">{{"sign.inarush"|translate}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 pt-3 pb-3">
                    <ngb-carousel style="background:#6602bb2e;padding:5% 0;">
                        <ng-template ngbSlide *ngFor="let batch of batches">
                            <div class="row">
                                <div class="col-1 middle"></div>
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-md-2 col-3 lesspadding cursor" *ngFor="let card of batch.cards" routerLink="{{'/card/' + card!.id}}">
                                            <img class="img-thumbnail" src="{{card?.imageUrl}}" title="{{card?.name}}">
                                            <p [ngStyle]="isMobile?{'font-size': '12px'} : {'font-size': '15px'}" class="text-center" style="font-weight:bold;margin-top:5px;">{{card?.name}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 middle"></div>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 col-4 text-center">
                    <img src="/assets/images/signandsend/thumb-01.png" [ngStyle]="isMobile?{'height': '50px'} : {'height': '100px'}">
                    <br />
                    <h3 [ngStyle]="isMobile?{'font-size': '15px'} : {'font-size': '22px'}">{{"sign.signandcustomize"|translate}}</h3>
                </div>
                <div class="col-md-4 col-4 text-center">
                    <img src="/assets/images/signandsend/thumb-03.png" [ngStyle]="isMobile?{'height': '50px'} : {'height': '100px'}">
                    <br />
                    <h3 [ngStyle]="isMobile?{'font-size': '15px'} : {'font-size': '22px'}">{{"sign.pickacard"|translate}}</h3>
                </div>
                <div class="col-md-4 col-4 text-center">
                    <img src="/assets/images/signandsend/thumb-02.png" [ngStyle]="isMobile?{'height': '50px'} : {'height': '100px'}">
                    <br />
                    <h3 [ngStyle]="isMobile?{'font-size': '15px'} : {'font-size': '22px'}">{{"sign.sendwithlove"|translate}}</h3>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/signandsend/sign-and-send-01.png" class="img-fluid">
                    <br /> <br /> <br />
                    <img src="/assets/images/signandsend/sign-and-send-03.png" class="img-fluid" style="width:100%">
                    <a href="/signandsend"> <img src="/assets/images/signandsend/sign-and-send-02.png" class="img-fluid"></a>

                </div>
            </div>
        </div>
        <style>
            .mothersday-component>* {
                /*font-family: 'Montserrat';*/
                font-size: 22px;
            }
        </style>
    </section>
    <app-footer></app-footer>
</ion-content>