<div *ngFor="let rating of ratings">
 <div class="card">
      <div class="card-body">
          <header class="section-heading">
              <h3 class="section-title">{{rating?.title}}</h3>
          </header>
          <section>
            <!-- <td mat-cell *matCellDef="let rating"> 
              <mat-icon *ngIf="rating.rate>=1">star</mat-icon>
              <mat-icon *ngIf="rating.rate>=2">star</mat-icon>
              <mat-icon *ngIf="rating.rate>=3">star</mat-icon>
              <mat-icon *ngIf="rating.rate>=4">star</mat-icon>
              <mat-icon *ngIf="rating.rate>=5">star</mat-icon>
            </td> -->
          </section>
          <section>
            <h3 class="section-title">{{rating?.username}}</h3>
          </section>
          <section>
            <h3 class="section-title">{{rating?.created}}</h3>
          </section>
          <section>
            <h3 class="section-title">{{rating?.review}}</h3>
          </section>
      </div>
  </div>
  
</div> 