.card {
    margin-bottom: 5px !important;
}

.card .card-body {
    padding-bottom: 0px !important;
}

.full-width {
    width: 100% !important;
}

.main {
    padding-bottom: 15px;
}

button {
    padding-top: 5px;
    padding-bottom: 5px;
}

h6 {
    margin-top: 10px;
}