<div class="row border">
    <div class="col-md-1 col-2 allign-center valign-center">
        <input type="checkbox" [checked]="selected" (change)="updateInclude()">
    </div>
    <div class="col-md-1 col-10">
        <img src="{{url}}" *ngIf="url != ''" class="img">
    </div>
    <div class="col-md-6 col-12 valign-center">
        <div class="row">
            <div class="col-12" *ngIf="card">
                <span>{{'cart.addon'|translate}}: <strong>{{card.name}}</strong></span>
            </div>
            <div class="col-12" *ngIf="card">
                {{'cart.description'|translate}}: <strong>{{card.description}}</strong>
            </div>
            <div class="col-12" *ngIf="!order.parentOrder">
                {{'cart.receiver'|translate}}: <strong>{{order.receiver_name}}</strong>
            </div>
            <div class="col-12" *ngIf="!order.parentOrder">
                {{'cart.signandsend'|translate}}: <strong>{{order.withSignAndSend?'Yes':'No'}}</strong>
            </div>
            <div class="col-12" *ngIf="!order.parentOrder">
                {{'cart.type'|translate}}: <strong>{{order.type}}</strong>
            </div>
            <div class="col-12" *ngIf="order.created">
                {{'cart.date'|translate}}: {{order.created!.seconds * 1000 | date:'medium'}}
            </div>
        </div>
    </div>
    <div class="col-md-1 col-6 valign-center text-center">
        <span>
            <mat-icon class="delete" (click)="delete()" title="Remove">delete</mat-icon>
        </span>
    </div>
    <div class="col-md-2 col-6 valign-center allign-right">
        <span><strong>{{order.card_price| number:'1.2-2'}} x {{order.count}}</strong></span><br />
        <span>{{'cart.shippingfee'|translate}}</span>
    </div>
    <div class="col-md-1 col-6 allign-right pr-0 valign-center">
        <span><strong>{{(order.card_price! * order.count!)| number:'1.2-2'}}</strong></span><br />
        <span><strong>{{order.shipping_fee!>0?(order.shipping_fee| number:'1.2-2'):'Free'}}</strong></span>
    </div>
</div>