<ion-content>


<header class="section-header">

  <section class="header-main border-bottom">
      <div class="container">
  <div class="row align-items-center">
      <div class="col-lg-2 col-4">
        <!-- <a   href="/">FibeiGreetings</a> -->
        <a   href="/"><img src="/assets/images/logo_fibeigreetings.png" class="img-fluid"></a>
   

      </div>
      <div class="col-lg-9 col-sm-10">
        <app-search></app-search>
      </div> <!-- col.// -->
      <div class="col-lg-1 col-sm-2 col-12">
          <div class="widgets-wrap float-md-end">
              <div class="widget-header  me-3">
                  <app-cart></app-cart>
              </div>
          </div> <!-- widgets-wrap.// -->
      </div> <!-- col.// -->
  </div> <!-- row.// -->
      </div> <!-- container.// -->
  </section> <!-- header-main .// -->
  
  <nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
    <div class="container">
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <app-menu></app-menu>
  
    </div> <!-- container .// -->
  </nav>
  
  </header> <!-- section-header.// -->
  
  <!-- ========================= SECTION  ========================= -->
  <section class="section-name padding-y-sm">
  <div class="container animate main">
  
    <router-outlet></router-outlet>
  
  </div><!-- container // -->
  </section>
  <!-- ========================= SECTION  END// ========================= -->
    
  <!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top bg">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-4">
        <h5>CUSTOMER SERVICE</h5>
        <div class="px-2"><a href="/page/ContactUs" >Contact Us</a></div>
        <div class="px-2"><a href="#" >Chat Now</a></div>
        <div class="px-2"><a href="/page/ReviewProduct" >Review Product</a></div>
        <br/>
        <h5>KNOW MORE</h5>
        <div class="px-2"><a href="/page/AboutUs">About FibeiGreetings</a></div>
        <div class="px-2"><a href="/page/PressPage">Press Page</a></div>
        <br/>
        <h5>ORDER INFORMATION</h5>
        <div class="px-2"><a href="/page/ShippingAndDelivery">Shipping and Delivery</a></div>
        <br/>
      </div>  
      <div class="col-md-4">
<div class="text-center">
  <a   href="/"><img src="/assets/images/logo_fibeigreetings.png" class="img-fluid" style="max-height:100px;"></a>
  
  <br/>
  <div class="im-social">
    <a href="https://www.instagram.com/fibeigreetings_/" target="_blank">
      <i class="fab fa-2x fa-instagram"></i>
     </a>
     <a href="https://www.facebook.com/fibeigreetings" target="_blank">
      <i class="fab fa-2x fa-facebook"></i> 
     </a>
     <a href="https://www.pinterest.ph/FibeiGreetings/_saved/" target="_blank">
        <i class="fab fa-2x fa-pinterest"></i>
    </a>
          <a href="https://twitter.com/fibeigreetings" target="_blank">
          <i class="fab fa-1x fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCaxLPWhwZxDCxRX3ztHvPBQ" target="_blank">
        <i class="fab fa-2x fa-youtube"></i>
    </a>
              <!-- <a href="#" target="_blank">
            <i class="fa fab fa-2x fa-tiktok"></i>
          </a> -->
            <a href="#" target="_blank"> 
              <i class="fa fa-2x fa-envelope"></i>
            </a>
</div>
  <br/>
  <div>Copyright © 2022 fibeigreetings.com</div>
</div>

      </div> 
      <div class="col-md-4">
        <h5>TERMS OF USE</h5>
        <div class="px-2"><a href="/page/TermsAndConDition">Terms and Confition</a></div>
        <div class="px-2"><a href="/page/PrivacyPolicy">Privacy Policy</a></div>
        <br/>
        <h5>PAYMENT METHOD</h5>
        <a   href="/"><img src="/assets/images/payment_gcash.png" class="img-fluid" style="max-height:40px;"></a>
   
      </div> 
    </div>
    <!-- <section class="footer-bottom row">
      <div class="col-md-2">
        <p class="text-muted">   2022 FibeiGreetings  </p>
      </div>
      <div class="col-md-8 text-md-center">
        <span  class="px-2">info@com</span>
        <span  class="px-2">+000-000-0000</span>
        <span  class="px-2">Street name 123, ABC</span>
      </div>
      <div class="col-md-2 text-md-end text-muted">
        <i class="fab fa-lg fa-cc-visa"></i> 
        <i class="fab fa-lg fa-cc-paypal"></i> 
        <i class="fab fa-lg fa-cc-mastercard"></i>
      </div>
    </section> -->
  </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
</ion-content>
<style>
  .im-social a 
  {
    height: 50px;
background: #df18c1;
margin: 0px 4px;
border-radius: 50%;
width: 50px;
display: inline-block;
padding: 10px;
color: #7f0595;
  }
  .im-social a:hover
  {
    color:white
  }

</style>