.main{
    min-height: 700px;
}


  
  .content{
        margin-top: 50px;
  }

  @media(min-width: 768px) {
    ion-header {
        display: block;
    }
    app-footer {
        display: block;
    }

    // .hydrated{
    //   visibility: hidden!important;
    // }
  
  }
   
  @media(max-width: 768px) {
    ion-header {
       display: none;
    }
    app-footer {
        display: none;
    }

    // .hydrated{
    //   visibility: inherit!important;
    // }
  }