<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container animate main" *ngIf="card">
            <div class="row align-top">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/']">{{'order.home'|translate}}</a></li>
                            <li class="breadcrumb-item"><a [routerLink]="['/card', id]">{{card.name}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{'order.order'|translate}}</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <header class="section-heading mt-0 mb-0">
                        <div class="header">
                            <h3 class="section-title">{{card.name}}</h3>
                        </div>
                    </header>
                    <p>{{card.description}}</p>
                    <h4 class="section-title" *ngIf="card"><b>{{priceService.getSign()}} {{priceService.getECardPrice(card)| number:'1.2-2'}}</b></h4>

                    <app-ecard-image-grid id="{{id}}"></app-ecard-image-grid>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="e-card-info">
                        <form [formGroup]="form" (ngSubmit)="addToCart()">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <span class="text-white">Sender</span>
                                </div>
                                <div class="col-12 mb-2">
                                    <label for="sender_name" class="form-label">*Name</label>
                                    <input type="text" class="form-control" id="sender_name" placeholder="Name"
                                        formControlName="sender_name"
                                        [ngClass]="{ 'is-invalid': submitted && controls().sender_name.errors}">
                                    <div *ngIf="submitted && controls().sender_name.errors"
                                        class="text-start invalid-feedback">
                                        <div *ngIf="controls().sender_name.errors!['required']">Sender name is required
                                        </div>
                                        <div *ngIf="controls().sender_name.errors!['maxlength']">Sender name must not
                                            exceed 50 characters</div>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="sender_email" class="form-label">*Email</label>
                                    <input type="email" class="form-control" id="sender_email"
                                        placeholder="Email Address" formControlName="sender_email"
                                        [ngClass]="{ 'is-invalid': submitted && controls().sender_email.errors}">
                                    <div *ngIf="submitted && controls().sender_email.errors"
                                        class="text-start invalid-feedback">
                                        <div *ngIf="controls().sender_email.errors!['required']">Sender email address is
                                            required</div>
                                        <div *ngIf="controls().sender_email.errors!['email']">Invalid email address
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-6 mb-2">
                                    <label for="sender_phone" class="form-label">*Phone</label>
                                    <input type="text" class="form-control" id="sender_phone" placeholder="Phone Number"
                                        formControlName="sender_phone"
                                        [ngClass]="{ 'is-invalid': submitted && controls().sender_phone.errors}">
                                    <div *ngIf="submitted && controls().sender_phone.errors"
                                        class="text-start invalid-feedback">
                                        <div *ngIf="controls().sender_phone.errors!['required']">Sender phone number is
                                            required</div>
                                        <div *ngIf="controls().sender_phone.errors!['maxlength']">Sender phone number
                                            must not exceed 20 characters</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="divider"></div>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="message" class="form-label">* Personal Message</label>
                                    <textarea class="form-control" placeholder="Message" rows="5"
                                        formControlName="message"
                                        [ngClass]="{ 'is-invalid': submitted && controls().message.errors}"></textarea>
                                    <div *ngIf="submitted && controls().message.errors"
                                        class="text-start invalid-feedback">
                                        <div *ngIf="controls().message.errors!['required']">Personal message is required
                                        </div>
                                        <div *ngIf="controls().message.errors!['maxlength']">Personal message must not
                                            exceed 500 characters</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="divider"></div>
                                </div>
                                <div class="col-12 mb-2">
                                    <span class="text-white">Recipient</span>
                                </div>
                                <div class="col-12 mb-2">
                                    <label for="receiver_name" class="form-label">*Name</label>
                                    <input type="text" class="form-control" id="receiver_name" placeholder="Name"
                                        formControlName="receiver_name"
                                        [ngClass]="{ 'is-invalid': submitted && controls().receiver_name.errors}">
                                    <div *ngIf="submitted && controls().receiver_name.errors"
                                        class="text-start invalid-feedback">
                                        <div *ngIf="controls().receiver_name.errors!['required']">Receiver name is
                                            required</div>
                                        <div *ngIf="controls().receiver_name.errors!['maxlength']">Receiver name must
                                            not exceed 50 characters</div>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    <label for="receiver_email" class="form-label">*Email</label>
                                    <input type="email" class="form-control" id="receiver_email"
                                        placeholder="Email Address" formControlName="receiver_email"
                                        [ngClass]="{ 'is-invalid': submitted && controls().receiver_email.errors}">
                                    <div *ngIf="submitted && controls().receiver_email.errors"
                                        class="text-start invalid-feedback">
                                        <div *ngIf="controls().receiver_email.errors!['required']">Receiver email
                                            address is required</div>
                                        <div *ngIf="controls().receiver_email.errors!['email']">Invalid email address
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="receiver_phone" class="form-label">*Phone</label>
                                    <input type="text" class="form-control" id="receiver_phone"
                                        placeholder="Phone Number" formControlName="receiver_phone"
                                        [ngClass]="{ 'is-invalid': submitted && controls().receiver_phone.errors}">
                                    <div *ngIf="submitted && controls().receiver_phone.errors"
                                        class="text-start invalid-feedback">
                                        <div *ngIf="controls().receiver_phone.errors!['required']">Receiver phone number
                                            is required</div>
                                        <div *ngIf="controls().receiver_phone.errors!['maxlength']">Receiver phone
                                            number must not exceed 20 characters</div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit"
                                        [disabled]="!form.dirty && !saving">{{'order.addtocart'|translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <ng-template #modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">1 item added</h4>
                </div>
                <div class="modal-body">
                    <div class="row border-bottom pb-2 mb-2">
                        <div class="col-2"><img src="{{previewImage}}"></div>
                        <div class="col-7">
                            <label>{{card.name!}}</label>
                        </div>
                        <div class="col-3 text-end">
                            <label *ngIf="card">{{priceService.getECardPrice(card)| number:'1.2-2'}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6"><strong>{{'order.total'|translate}}:</strong></div>
                        <div class="col-6 text-end">
                            <div class="col-12 allign-right"><strong>{{priceService.getSign()}}
                                    {{priceService.getECardPrice(card) | number:'1.2-2'}}</strong></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer footer">
                    <button class="btn btn-link" (click)="keepShopping()">{{'order.keepshopping'|translate}}</button>
                    <button class="btn btn-primary" ngbAutofocus
                        (click)="cart()">{{'order.viewcart'|translate}}</button>
                </div>
            </ng-template>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>