<ion-content>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container for-links-hover">
            <div class="card">
                <div class="card-content" style="padding: 20px;">
                    <div class="row">
                        <div class="col-md-12">



                            <video class="w-100" [controls]="controls" preload="auto" #video>
                                <source src="{{url}}" type='video/mp4' *ngIf="url != ''">
                            </video>
                            <div class="col-md-12">
                                <br />
                                <div class="msg">
                                    To: [Receiver],
                                    <br /><br />
                                    "Message"
                                    <br /><br />
                                    From: [Sender]
                                </div>
                                <br />
                                powered by fibeigreetings!
                                <br />
                                <div class="note-expiry">
                                    Note: this video will expire in 1 month upon purchase [March 15 2023 |
                                    12:00am][ExpiryDate]
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <app-footer></app-footer>
</ion-content>