<ion-content>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container for-links-hover">
            <div class="card" *ngIf="isExpired">
                <div class="card-content text-center">
                    <div class="header">This is an expired link</div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 mb-4">
                    <div class="header">{{card.name!}}</div>
                </div>
                <div class="col-8 mb-4" [style.font-family]="order.fontstyle" [style.font-size.px]="order.fontsize" [style.color]="order.fontcolor">
                    <p>{{order.receiver_name}}</p>
                </div>
                <div class="col-md-8 col-sm-12">
                    <video class="w-100" [controls]="controls" preload="auto" #video>
                        <source src="{{url}}" type='video/mp4' *ngIf="url != ''">
                    </video>
                </div>
                <div class="col-md-8 col-sm-12 text-center my-4" [style.font-family]="order.fontstyle" [style.font-size.px]="order.fontsize" [style.color]="order.fontcolor">
                    <p class="w-100" [innerText]="order.message" [style.text-align]="order.alignment"></p>
                </div>
                <div class="col-8 text-end my-4" [style.font-family]="order.fontstyle" [style.font-size.px]="order.fontsize" [style.color]="order.fontcolor">
                    <p>FROM {{order.sender_name}}</p>
                </div>
                <div class="col-8 note-expiry mb-4">
                    Powered by fibeigreetings!<br />
                    Note: this video will expire in 1 month upon opened by the recipient
                    <br>
                    <span *ngIf="order.expire">Expired @ </span><b style="color:yellow" *ngIf="order.expire">{{order.expire.toDate() | date: 'MMM dd, yyyy h:mm:ss a' }}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-12" *ngIf="order">
                    <app-comments id="{{order.id}}"></app-comments>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>