.text-right
{
text-align: right;
}
.text-center
{
text-align: center;
}
.note-expiry
{
    padding: 10px;
    color: white;
    background: #6b2d98;
    font-size: 12px;
}
.msg
{
    padding: 20px;
    background: #ba8fcc;
    font-size: 20px;
    color:white;
}
.header
{
    color: white;
    background: #6b2d98;
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.header-text{
    color: #dc17be;
}
