.main{
    position: relative;
    display: inline-block;
}

.text-area{
    position: absolute;
    border: 1px dashed red;
    font-family: 'Smooch';
}

.text-area div{
    position: absolute;
    width: 100%;
    height: 100%;
}

.text-area button{
    visibility: hidden;
    position: absolute;
}

.text-area:hover{
    border: 2px dashed red;
}

.text-area:hover button{
    visibility: visible;
}