<h2>{{'profile.commpref'|translate}}</h2>
<div class="card">
    <div class="card-body">
        <h3> {{'profile.emailpref'|translate}}</h3>
        <p>
            {{'profile.emailprofile'|translate}} <b *ngIf="user">{{user.email}}</b> {{'profile.youcan'|translate}} <span (click)="open(content)" class="mode">{{'profile.changeyouremail'|translate}}</span> {{'profile.atanytime'|translate}}
        </p>
        <br />
        <div class="custom-control custom-checkbox">
            <input *ngIf="user" type="checkbox" class="custom-control-input" id="customCheck1" [checked]="user.notification" (change)="notificationChange(user.notification)">
            <label class="custom-control-label" for="customCheck1"> {{'profile.clicknotif'|translate}}</label>
        </div>
        <br />
        <p> {{'profile.seeour'|translate}} <a [routerLink]="['/page/PrivacyPolicy']" class="bold"><b>{{'profile.privacypolicy'|translate}}</b></a></p>
        <br />
    </div>
</div>

<ng-template #content let-modal>
    <form [formGroup]="form"> 
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'profile.changeemail'|translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label>{{'profile.currentemail'|translate}}</label>
          <input type="email" class="form-control" placeholder="{{'profile.currentemail'|translate}}" formControlName="email">
        </div>
        <div class="mb-3">
            <label>{{'profile.password'|translate}}</label>
            <input type="password" class="form-control" placeholder="{{'profile.password'|translate}}" formControlName="password">
          </div>
        <div class="mb-3">
          <label>{{'profile.newemail'|translate}}</label>
          <input type="email" class="form-control" placeholder="{{'profile.newemail'|translate}}" formControlName="newemail">
        </div>
        <div class="model-footer">
          <div class="mb-3">
            <button type="button" class="btn btn-primary" (click)="save()">{{'button.save'|translate}}</button>
            <button type="button" class="btn btn-danger" (click)="close()">{{'button.cancel'|translate}}</button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>