<form [formGroup]="searchForm" class="search" (ngSubmit)="searchCard()">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="input-group w-100">
                <input type="text" class="form-control" placeholder="Search" formControlName="search">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>     
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <select class="form-control custom-select" aria-label="Budget" (change)="changeBudget($event)">
                <option value="" [selected]="budget == ''">Budget</option>
                <option value="0 - 99" [selected]="budget == '0 - 99'">0 - 99.00</option>
                <option value="100 - 199" [selected]="budget == '100 - 199'">100.00 - 199.00</option>
                <option value="200 and Up" [selected]="budget == '200 and Up'">200.00 and Up</option>
            </select>
        </div>
        <div class="col-md-3 col-sm-6">
            <select class="form-control custom-select" aria-label="Sort" (change)="changeSort($event)">
                <option value="" [selected]="sort == ''">Sort</option>
                <option value="Latest" [selected]="sort == 'Latest'">Latest</option>
                <option value="Price from Low to High" [selected]="sort == 'Price from Low to High'">Price from Low to High</option>
                <option value="Price from High to Low" [selected]="sort == 'Price from High to Low'">Price from High to Low</option>
            </select>
        </div>
    </div>
    
</form> 