<form [formGroup]="searchForm" class="search" (ngSubmit)="searchCard()">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group w-100">
                <input type="text" class="form-control" placeholder="Search" formControlName="search">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" style="background:#6b2d98 !Important; border-radius: 0 8px 8px 0;">
                        <i class="fa fa-search"></i>
                    </button>
                </div>     
            </div>
        </div>
    </div>
</form> 