.tab-pane{
    padding-top: 5px;
}

.fav-card{
    border: 1px gray solid;
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin-bottom: 2px;
}

.bold{
    font-weight: bold;
}

.thumbnail{
    height: 110px;
    border: 1px gray solid;
    padding: 2px 2px 2px 2px;
}

.img-div{
    display: flex;
    justify-content: right;
}