<div class="row border-bottom py-2" *ngIf="card">
    <div class="col-md-1 col-sm-12 img-div text-center">
        <img [src]="url" class="mx-100 my-auto border p-1" *ngIf="url != ''">
    </div>
    <div class="col-md-11 col-sm-12 ps-3">
        <a [routerLink]="['/card/' + card.id]" class="bold">{{card.name}}</a><br />
        <span>{{'profile.description'|translate}}: </span><span class="bold">{{card.description}}</span><br />
        <span>{{'profile.event'|translate}}: </span><span class="bold">{{card.event}}</span><br />
        <span>{{'profile.recipient'|translate}}: </span><span class="bold">{{card.recipient}}</span><br />
        <span>{{'profile.price'|translate}}: </span><span class="bold">{{card.price}}</span>
    </div>
</div>