<ion-content [fullscreen]="true">
  <div class="background">
    <div class="container page-main">
      <ion-row>
        <ion-col>
          <img src="../assets/images/games/chaotichero/banner.png" title="Chaotic Hero">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../assets/images/games/chaotichero/details.png" title="Chaotic Hero">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../assets/images/games/chaotichero/keygame.png" title="Chaotic Hero">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../assets/images/games/chaotichero/thealliance.png" title="Chaotic Hero">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../assets/images/games/chaotichero/maincity.png" title="Chaotic Hero">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../assets/images/games/chaotichero/bigmap.png" title="Chaotic Hero">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <label class="label">GAME PLAY VIDEOS</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <label class="battle">Battle</label>
          <img src="../assets/images/games/chaotichero/battle.jpg" title="Chaotic Hero" class="img-detail">
        </ion-col>
        <ion-col>
          <label class="formation">Formation</label>
          <img src="../assets/images/games/chaotichero/formation.jpg" title="Chaotic Hero" class="img-detail">
        </ion-col>
        <ion-col>
          <label class="gamestore">Game Store</label>
          <img src="../assets/images/games/chaotichero/gamestore.jpg" title="Chaotic Hero" class="img-detail">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <label class="label">DOWNLOAD NOW</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <button class="link" (click)="goToPlaystore()">
            <img src="../assets/images/games/googleplaystore.png" title="Chaotic Hero">
          </button>
          <button class="link soon">
            <img src="../assets/images/games/appleappstore.png" title="Soon on App Store">
            <label class="soon-label">COMING SOON</label>
          </button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>