<ion-content [fullscreen]="true" >
    <div class="container page-main">
      <ion-row>
        <ion-col>
          <img src="../assets/images/games/chaotichero/banner.png" title="Chaotic Hero">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../assets/images/games/chaotichero/details.png" title="Chaotic Hero">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../assets/images/games/chaotichero/keygame.png" title="Chaotic Hero">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../assets/images/games/chaotichero/thealliance.png" title="Chaotic Hero">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../assets/images/games/chaotichero/maincity.png" title="Chaotic Hero">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../assets/images/games/chaotichero/bigmap.png" title="Chaotic Hero">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <img src="../assets/images/games/chaotichero/gameplayvideos.png" title="Chaotic Hero" class="downloadnow">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../assets/images/games/chaotichero/battle.jpg" title="Chaotic Hero" class="img-detail">
        </ion-col>
        <ion-col>
          <img src="../assets/images/games/chaotichero/formation.jpg" title="Chaotic Hero" class="img-detail">
        </ion-col>
        <ion-col>
          <img src="../assets/images/games/chaotichero/gamestore.jpg" title="Chaotic Hero" class="img-detail">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <img src="../assets/images/games/chaotichero/downloadnow.png" title="Chaotic Hero" class="downloadnow">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <a href="https://play.google.com/store/apps/details?id=com.apolloswing.kepler.gp&hl=ph-en" target="_blank">
            <img src="../assets/images/games/google-play-badge.png" title="Chaotic Hero" class="googleplay">
          </a>
          <img src="../assets/images/games/apple-store-soon.png" title="Chaotic Hero" class="applestore">
        </ion-col>
      </ion-row>
    </div>
    <app-footer></app-footer>
  </ion-content>