.img-detail{
    width: 100%;
    aspect-ratio: 493/851;
}

.downloadnow{
    max-height: 75px;
    margin-top: 20px;
    margin-bottom: 10px;
}

a{
    cursor: pointer;
}

.googleplay{
    max-height: 107px;
}

.applestore{
    max-height: 70px;
    cursor: not-allowed;
}