
div.my-event img{

    border-radius: 50%;
    margin-bottom: 10px;
    // border:5px solid #fff;
}


div.my-event:hover img{

    border-style:inset;
    border-width:5px;
    border-top-color: #1244bd;
    border-left-color: #1244bd;
    border-right-color: #1244bd;
    border-bottom-color: #1244bd;
}

div.my-event div,
div.my-event div {
    text-align: center;
    background: #000;
    padding: 10px;
    font-weight: bold;
    color: white;
}

div.my-event:hover div,
div.my-event:active div {
    background: #630ca5;
}


.mother-background-creation
{
    background-image: url('../../assets/images/layout2/Creations_2.png');
    background-repeat:no-repeat;
    background-size: 100% 20%;
}
.mother-background-creation-footer
{
    background-image: url('../../assets/images/layout2/Creations_2.png');
    background-size: contain;
}

