<ion-content>
    <section class="section-name padding-y-sm mother-background-creation">
        <div class="container animate main">

            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/event/banner/Creations-min.png" class="img-fluid" style="border-radius:6px;">
                    <br/> <br/>
                </div>
            </div>
            <!-- <div class="row my-event">
                <div class="col-md-3  col-6" *ngFor="let event of events">
                    <a href="{{event.url}}">
                        <img src="{{event.image}}" class="img-fluid">
                        <div>{{event.name}}</div>
                    </a>
                    <br/>
                </div>
            </div> -->
            <div class="col-md-10 offset-md-1">
            <div class="row "> 
                 <div class="col-md-4  col-12" >
                    <a href="/cards/events/Love%20Your%20Enemy" class="my-event">
                        <img src="https://fibeigreetings.com/assets/images/gift/LoveYour%20Enemy-min.png" class="img-fluid">
                        <div>Love Your Enemy</div>
                    </a>
                    <br/><br/><br/>
                </div>
                <div class="col-md-8  col-12">
                    <a href="/cards/events/Love%20Your%20Enemy">
                        <img src="/assets/images/layout2/Creations_3.png" style="width: 100%;"> 
                    </a>
                    <br/><br/><br/>
                </div>
               <div class="col-md-8  col-12">
                    <a href="/cards/events/Pet%20Cards" >
                        <img src="/assets/images/layout2/Creations_4-min.png" style="width: 100%;">
                    </a>
                    <br/><br/><br/>
                </div>
                <div class="col-md-4  col-12" >
                    <a href="/cards/events/Pet%20Cards" class="my-event">
                        <img src="https://fibeigreetings.com/assets/images/gift/PetCards-min.png" class="img-fluid">
                        <div>Pet Cards</div>
                    </a>
                    <br/><br/><br/>
                </div>
               
            </div>
            </div>
        </div>
    </section>
    <br><br> 
    <section class="section-name padding-y-sm mother-background-creation-footer">
        <div class="container animate main">
        <div class="row">
            <div class="col-md-12">
                <a href="/events"><img src="/assets/images/layout2/Creations_5-min.png" class="img-fluid" style="margin-top:-50px"></a>
            <br><br> 
            </div>
        </div>
        </div>
    </section>
<app-footer></app-footer>
</ion-content>
