.bk-hw {
    // background-image: url('../../assets/images/newyear/fireworks.gif');
    background-image: url('../../assets/images/hearts.gif');
    }

.panel-xmas {
    padding: 20px;
    background: rgb(255 239 239 / 81%);
    border: #00c834 4px solid;
    border-radius: 5px;
}

.cus-text-title {
    color: #4b0082;
    text-transform: uppercase;
    font-weight: bolder;
}

.signandsend {
    height: 50px;
}