.bk-hw {
    // background-image: url('../../assets/images/newyear/fireworks.gif');
    background-image: url('../../assets/images/hearts.gif');
    }

.panel-xmas {
    padding: 20px;
    background: rgb(107 45 152 / 14%);
    border: #dc17be 4px solid;
    border-radius: 5px;
}

.cus-text-title {
    color: #4b0082;
    text-transform: uppercase;
    font-weight: bolder;
}

.signandsend {
    height: 50px;
}
.btn-outline-violet,
.btn-outline-violet:hover,
.btn-outline-violet:active
{
    background:#4b0082;
    color:white
}