<ion-content>
    <h2 style="font-size:0px;margin: 0;">Sign and Send</h2>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container animate main">
            <div class="col-md-12 mb-4">
                <img src="../../assets/images/signandsend/v4/banner.png" class="img-fluid pointer" style="border-radius:6px; width:100% !important">
            </div>
            <div class="col-md-12 mb-2" style="position: relative">
                <img src="/assets/images/category/c-sns.png" class="img-fluid pointer" style="width:100% !important">
                <div style="height: 79%; width: 21%; position: absolute; left: 42%; bottom: 12%; cursor: pointer;" [routerLink]="['/signandsendcards/TrWiEwu2hRwZEm6Zilvx']"></div>
            </div>
            <div class="panel-xmas">
                <div class="row">
                    <div class="col-md-8 mb-2">
                        <!-- <img src="assets/images/sign-send-logo.png" class="signandsend me-2 pointer" [routerLink]="['/signandsend']"> -->
                    <button class="btn btn-primary" type="button" [routerLink]="['/signandsendpage']">To Know More About Sign and Send</button>
                    </div>
                    <div class="col-md-4 mb-2 text-end">
                        <button class="btn btn-outline-info" type="button" [routerLink]="['/signandsendcards/all']">VIEW ALL SIGN & SEND CARDS</button>
                    </div>
                    <div class="col-md-12">
                        <h2 class="text-center cus-text-title mt-1 mb-3">Occasions</h2>
                        <app-event-list type="signandsend" [events]="occassions"></app-event-list>
                    </div>
                    <div class="col-md-12 mb-2">
                        <h2 class="text-center cus-text-title mt-1 mb-3">Events</h2>
                        <app-event-list type="signandsend" [events]="events"></app-event-list>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-4 mt-4">
                    
                    <img src="../../assets/images/signandsend/v4/know-more.jpg" class="img-fluid pointer" [routerLink]="['/signandsendpage']">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-4">
                    <img src="assets/images/banner/select/title.png">
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['/poetry']"><img src="assets/images/banner/select/p-1.png"></a>
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['/e-cards']"><img src="assets/images/banner/select/p-2.png"></a>
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['/postcards']"><img src="assets/images/banner/select/p-3.png"></a>
                </div>
                <div class="col-md-3">
                    <br /><br />
                    <img src="assets/images/banner/select/p-4.png">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br /> <br />
                    <a [routerLink]="['/gifts']" *ngIf="priceService.getLocation() == 'ph'"> <img src="assets/images/banner/shop-gifts.png"></a>
                    <a [routerLink]="['/events']" *ngIf="priceService.getLocation() != 'ph'"> <img src="assets/images/banner/shop-cards.png"></a>
                    <br /> <br />
                    <img src="assets/images/banner/fs-free.png" *ngIf="priceService.getLocation() == 'ph'">
                    <img src="assets/images/banner/fs-free-us.png" *ngIf="priceService.getLocation() != 'ph'">
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>