<div class="container" ng-app="app">
  <div class="row center-content">
    <h5><b>{{'card.alsolike'|translate}}</b></h5>
  </div>
  <div class="row center-content ms-2 me-4" ng-controller="appController">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let batch of batches">
        <div class="row justify-content-md-center">
          <div class="col-11">
            <div class="row">
              <div class="col-md-2 col-6 cursor" *ngFor="let card of batch.cards">
                <a href="{{'/card/' + card.id}}" routerLinkActive="router-link-active" *ngIf="card.imageUrl" class="d-flex align-items-center justify-content-center">
                  <app-image-loader [size]="2" [img]="card.imageUrl"></app-image-loader>
                </a>
                <a href="{{'/card/' + card.id}}">
                  <h6>{{card.name}}</h6>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>