<ion-content>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/valentines/greeting/1-min.png">
                    <!-- <img src="/assets/images/valentines/greeting/banner-2.png"> -->
                    <div class="father-greetings-selection">
                    <div class="row " style="padding:2%">
                        <div class="col-md-3 offset-md-1">
                            <div >
                            <img src="/assets/images/valentines/greeting/btn-quote.png" (click)="scroll(quote1)" class="to-link">
                        </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <br/>
                            <div class="row">
                            
                                <div class="col-md-6 text-center">
                                    <button (click)="scroll(father1)" class="to-link" style="background:transparent"> <img src="/assets/images/valentines/greeting/father.png"></button>
                                    <br/><br/>
                                </div>
                                <div class="col-md-6 text-center">
                                    <button  (click)="scroll(mother1)"  class="to-link"  style="background:transparent"><img src="/assets/images/valentines/greeting/mother.png"></button>
                                    <!-- <img src="/assets/images/valentines/greeting/btn-mother.png"> -->
                                    <br/><br/>
                                </div>
                                <div class="col-md-6 text-center">
                                    <button (click)="scroll(husband1)"  class="to-link"  style="background:transparent"><img src="/assets/images/valentines/greeting/husband.png"></button>
                                    <!-- <img src="/assets/images/valentines/greeting/btn-son.png" > -->
                                    <br/><br/>
                                </div>
                                <div class="col-md-6 text-center">
                                    <button  (click)="scroll(wife1)"  class="to-link" style="background:transparent"><img src="/assets/images/valentines/greeting/wife.png"></button>
                                    <!-- <img src="/assets/images/valentines/greeting/btn-daugther.png"> -->
                                    <br/><br/>
                                </div>
                                <div class="col-md-6 text-center">
                                    <button  (click)="scroll(partner1)"  class="to-link" style="background:transparent"><img src="/assets/images/valentines/greeting/partner.png"></button>
                                    <!-- <img src="/assets/images/valentines/greeting/btn-daugther.png"> -->
                                    <br/><br/>
                                </div>
                                <div class="col-md-6 text-center">
                                        <button (click)="scroll(all1)"  class="to-link" style="background:transparent"><img src="/assets/images/valentines/greeting/all.png"></button>
                                        <!-- <img src="/assets/images/valentines/greeting/btn-all.png" > -->
                                        <br/><br/>
                                </div>
                             </div>
                        </div> 
                        </div>
                    </div>
                </div>
                <div class="card-panel">
                    <br/><br/>
                    <div #father1></div>
                    <img src="/assets/images/valentines/greeting/2-min.png" class="w100">
                    <img src="/assets/images/valentines/greeting/3-min.png" class="w100">
                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display">
                            <app-halloween-card id="Q0hx4wK2xIHLNZ5IkHA1"></app-halloween-card>
                            <app-halloween-card id="9snH6DQwdx560TXxcCjp"></app-halloween-card>
                            <app-halloween-card id="9AWZ18NHlkNbHQaiI3Ap"></app-halloween-card>
                            <app-halloween-card id="FjjZX2o9DQll78rGDxAv"></app-halloween-card>
                            <app-halloween-card id="Q0hx4wK2xIHLNZ5IkHA1"></app-halloween-card>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="card-panel">
                    <div #mother1></div>
                    <img src="/assets/images/valentines/greeting/4-min.png" class="w100">
                    <img src="/assets/images/valentines/greeting/5-min.png" class="w100">
                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display">
                            <app-halloween-card id="UQ1O2dlTVJZ5cwT5Ad4j"></app-halloween-card>
                            <app-halloween-card id="wIzn81PtQFuL1Jjw5hX8"></app-halloween-card>
                            <app-halloween-card id="nXJFyXxGVgUdrvnsAHol"></app-halloween-card>
                            <app-halloween-card id="Oayf5XdHBsO5uoszCywJ"></app-halloween-card>
                            <app-halloween-card id="uKVHA1lNPklhbc67yBZm"></app-halloween-card>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="card-panel">
                    <div #husband1></div>
                    <img src="/assets/images/valentines/greeting/10-min.png" class="w100">
                    <img src="/assets/images/valentines/greeting/11-min.png" class="w100">
                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display">
                            <app-halloween-card id="NU1U3jvGxuNaz6mFRBKx"></app-halloween-card>
                            <app-halloween-card id="bKT8lDC41UYqCbM3xTzb"></app-halloween-card>
                            <app-halloween-card id="WGyK0oV5iKZLlM1K7F8U"></app-halloween-card>
                            <app-halloween-card id="RVqltaDYagpxrkOfoCHx"></app-halloween-card>
                            <app-halloween-card id="QQ1JmOVbAZ9KpPdFCYx7"></app-halloween-card>
                        </div>
                    </div>
                   
                    <br/><br/>
                    <br /><br />
                </div>
                <div class="card-panel">
                    <div #wife1></div>
                    <img src="/assets/images/valentines/greeting/12-min.png" class="w100">
                    <img src="/assets/images/valentines/greeting/13-min.png" class="w100">
                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display">
                            <app-halloween-card id="4IxCmuGcb9hkncrXU4Mz"></app-halloween-card>
                            <app-halloween-card id="tliDqNkeyKSwKoXIhkFq"></app-halloween-card>
                            <app-halloween-card id="HzqpeJlTOhYB85Xokohp"></app-halloween-card>
                            <app-halloween-card id="sG6jVtESZsyXh4FmGzwL"></app-halloween-card>
                            <app-halloween-card id="ibCn4W1zDrXzg0hyKckU"></app-halloween-card>
                        </div>
                    </div>
                   
                    <br/><br/>
                    <br /><br />
                </div>
                
                <div class="card-panel">
                    <div #partner1></div>
                    <img src="/assets/images/valentines/greeting/14-min.png" class="w100">
                    <img src="/assets/images/valentines/greeting/15-min.png" class="w100">
                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display">
                            <app-halloween-card id="0Oab9ZVtqIEHgAI90bEq"></app-halloween-card>
                            <app-halloween-card id="AI5Ya9DMukFrce0ur0rD"></app-halloween-card>
                            <app-halloween-card id="25NLveSvQ3GoHyBU0xfd"></app-halloween-card>
                            <app-halloween-card id="0kylnecvRqeiYb5SIf2c"></app-halloween-card>
                            <app-halloween-card id="2L6l9ygnB99kbjhnRBuD"></app-halloween-card>
                        </div>
                    </div>
                   
                    <br/><br/>
                    <br /><br />
                </div>
                <div class="card-panel">
                    <div #all1></div>
                    <img src="/assets/images/valentines/greeting/16-min.png" class="w100">
                    <img src="/assets/images/valentines/greeting/17-min.png" class="w100">

                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display">
                            <app-halloween-card id="fpi9Moum6AnVmlkSVZNu"></app-halloween-card>
                            <app-halloween-card id="HzqpeJlTOhYB85Xokohp"></app-halloween-card>
                            <app-halloween-card id="2YKHdwA1eBXp6EBG9Ouh"></app-halloween-card>
                            <app-halloween-card id="fpi9Moum6AnVmlkSVZNu"></app-halloween-card>
                            <app-halloween-card id="HzqpeJlTOhYB85Xokohp"></app-halloween-card>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="card-panel">
                    <div #quote1></div>
                    <!-- <img src="/assets/images/valentines/greeting/snow-decor.png" class="w100"> -->
                    <img src="/assets/images/valentines/greeting/18-min.png" class="w100">
                    <img src="/assets/images/valentines/greeting/19-min.png" class="w100">
                    <!-- <img src="/assets/images/valentines/greeting/snow-decor.png" class="w100"> -->
                </div>
            </div>   
            <div class="row">

            
            <div class="col-md-6">
                <br/> <br/>
                <img src="/assets/images/halloween/v2/cards-min.png" class="img-fluid hover-effect" [routerLink]="['/specialtycardpage']">
            </div>
            <div class="col-md-6">
                <br/> <br/>
                <img src="/assets/images/halloween/v2/gifts-min.png" class="img-fluid hover-effect" [routerLink]="['/gifts']">
            </div>
            <div class="col-md-12">
                <br/>
                <img src="/assets/images/halloween/v2/free-fs.png" class="img-fluid hover-effect">
            </div>
        </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>