<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container animate main">
            <div claas="row">
                <div class="col-md-12 mb-4">
                    <img src="/assets/images/ecards/banner.png">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-4">
                    <a href="#"> <img src="/assets/images/ecards/1-min.png" alt=""></a>
                </div>
                <div class="col-md-3 mb-4">
                    <a href="#"> <img src="/assets/images/ecards/2-min.png" alt=""></a>
                </div>
                <div class="col-md-3 mb-4">
                    <a href="#"> <img src="/assets/images/ecards/3-min.png" alt=""></a>
                </div>
                <div class="col-md-3 mb-4">
                    <a href="#"> <img src="/assets/images/ecards/4-min.png" alt=""></a>
                </div>
                <div class="col-md-3 mb-4">
                    <a href="#"> <img src="/assets/images/ecards/5-min.png" alt=""></a>
                </div>
                <div class="col-md-3 mb-4">
                    <a href="#"> <img src="/assets/images/ecards/6-min.png" alt=""></a>
                </div>
                <div class="col-md-3 mb-4">
                    <a href="#"> <img src="/assets/images/ecards/7-min.png" alt=""></a>
                </div>
                <div class="col-md-3 mb-4">
                    <a href="#"> <img src="/assets/images/ecards/8-min.png" alt=""></a>
                </div>
                <div class="col-md-3 mb-4">
                    <a href="#"> <img src="/assets/images/ecards/9-min.png" alt=""></a>
                </div>
                <div class="col-md-3 mb-4">
                    <a href="#"> <img src="/assets/images/ecards/10-min.png" alt=""></a>
                </div>
                <div class="col-md-3 mb-4">
                    <a href="#"> <img src="/assets/images/ecards/11-min.png" alt=""></a>
                </div>
                <div class="col-md-3 mb-4">
                    <a href="#"> <img src="/assets/images/ecards/12-min.png" alt=""></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-4">
                    <img src="assets/images/banner/select/title.png">
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['/poetry']"><img src="assets/images/banner/select/p-1.png"></a>
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['/events']"><img src="assets/images/banner/select/p-5.png"></a>
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['/postcards']"><img src="assets/images/banner/select/p-3.png"></a>
                </div>
                <div class="col-md-3">
                    <br /><br />
                    <img src="assets/images/banner/select/p-4.png">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br /> <br />
                    <img src="assets/images/ecards/implored.jpg">
                    <br /> <br />
                    <a [routerLink]="['/gifts']"> <img src="assets/images/banner/shop-gifts.png"></a>
                   
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>

