<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container animate main">
            <div claas="row">
                <div class="col-md-12 mb-4">
                    <img src="/assets/images/ecards/banner.png">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-6 mb-4" *ngFor="let event of events">
                    <app-ecard-event [event]="event"></app-ecard-event>
                </div>  
            </div>
            <div class="row">
                <div class="col-md-12 mb-4">
                    <img src="assets/images/banner/select/title.png">
                </div>
                <div class="col-md-3  col-6">
                    <a [routerLink]="['/poetry']"><img src="assets/images/banner/select/p-1.png"></a>
                </div>
                <div class="col-md-3  col-6">
                    <a [routerLink]="['/events']"><img src="assets/images/banner/select/p-5.png"></a>
                </div>
                <div class="col-md-3  col-6">
                    <a [routerLink]="['/postcards']"><img src="assets/images/banner/select/p-3.png"></a>
                </div>
                <div class="col-md-3  col-6">
                    <br /><br />
                    <img src="assets/images/banner/select/p-4.png">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br /> <br />
                    <img src="assets/images/ecards/implored.jpg">
                    <br /> <br />
                    <a [routerLink]="['/gifts']"> <img src="assets/images/banner/shop-gifts.png"></a>

                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>