<ion-content>
    <h2 style="font-size:0px;margin: 0;" >e-Cards</h2>
    <section class="section-name padding-y-sm">
        <div class="container animate main">
            <div claas="row">
                <div class="col-md-12 mb-4">
                    <img src="/assets/images/ecards/banner.png">
                </div>
                <div class="col-12 my-2">
                    <img src="/assets/images/ecards/e-card-cat.png">
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-2">
                    <img src="/assets/images/ecards/eo.png" style="height:100px">
                </div>
                <div class="col-md-3 col-sm-6 col-6 mb-4" *ngFor="let event of events">
                    <app-ecard-event [event]="event"></app-ecard-event>
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-2">
                    <img src="/assets/images/ecards/sc.png" style="height:100px">
                </div>
                <div class="col-md-3 col-sm-6 col-6 mb-4" *ngFor="let event of spEvents">
                    <app-ecard-event [event]="event"></app-ecard-event>
                </div>
            </div>
            <br /> <br />
            <img src="assets/images/ecards/implored.jpg">
            <br /> <br />
            <div class="row">
                <div class="col-md-12 mb-4">
                    <img src="assets/images/banner/select/title.png">
                </div>
                <div class="col-md-3  col-6">
                    <a [routerLink]="['/poetry']"><img src="assets/images/banner/select/p-1.png"></a>
                </div>
                <div class="col-md-3  col-6">
                    <a [routerLink]="['/events']"><img src="assets/images/banner/select/p-5.png"></a>
                </div>
                <div class="col-md-3  col-6">
                    <a [routerLink]="['/postcards']"><img src="assets/images/banner/select/p-3.png"></a>
                </div>
                <div class="col-md-3  col-6">
                    <br /><br />
                    <img src="assets/images/banner/select/p-4.png">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  
                    <br /> <br />
                    <div class="purple-box">
                        <div class="row">
                           
                            <div class="col-md-4">
                                <a [routerLink]="['/events']" class="to-link"><img
                                        src="assets/images/banner/option/event.png"></a>
                            </div>
                            <div class="col-md-4">
                                <a [routerLink]="['/postcards']" class="to-link"><img
                                        src="assets/images/banner/option/postcard.png"></a>
                            </div>
                            <div class="col-md-4">
                                <a [routerLink]="['/specialtycardpage']" class="to-link"><img
                                        src="assets/images/banner/option/specialty.png"></a>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-12">
                        <img src="assets/images/banner/option/banner.png">
                    </div>

                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>