<div class="row">
    <div class="col-md-12">
        <h2 class="text-center cus-text-title">BEST SELLER CARDS</h2>
    </div>
    <div class="col-md-12  my-panel">
    <div class="row my-selections ">
        <div class="col-md-3" *ngFor="let card of randomBestsellerCards; index as i">
            <div routerLink="{{'/card/' + card!.id}}" class="cursor selection text-center" *ngIf="i<4">
                <img src="{{card?.imageUrl}}" alt="{{card?.event}}" title="{{card?.event}}" style="margin:auto !Important">
                <h5  class="text-center">{{card?.event}}</h5>
            </div>
        </div>
    </div>
<br/><br/>
    <div class="row my-selections">
        <div class="col-md-3" *ngFor="let card of randomBestsellerCards; index as i">
            <div routerLink="{{'/card/' + card!.id}}" class="cursor selection text-center" *ngIf="i>=4">
                <img src="{{card?.imageUrl}}" alt="{{card?.event}}" title="{{card?.event}}" style="margin:auto !Important">
                <h5 class="text-center">{{card?.event}}</h5>
            </div>
        </div>
    </div>
</div>
</div>
<br/><br/><br/>