<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Bestsellers</h2>
    </div>
    <div class="row my-selections">
        <div class="col-md-3" *ngFor="let card of randomBestsellerCards; index as i">
            <div routerLink="{{'/card/' + card!.id}}" class="cursor selection" *ngIf="i<4">
                <img src="{{card?.imageUrl}}" alt="{{card?.event}}" title="{{card?.event}}">
                <div>"{{card?.event}}"</div>
            </div>
        </div>
    </div>

    <div class="row my-selections">
        <div class="col-md-3" *ngFor="let card of randomBestsellerCards; index as i">
            <div routerLink="{{'/card/' + card!.id}}" class="cursor selection" *ngIf="i>=4">
                <img src="{{card?.imageUrl}}" alt="{{card?.event}}" title="{{card?.event}}">
                <div>"{{card?.event}}"</div>
            </div>
        </div>
    </div>

</div>