.cus-text-title
{
    color:#905fb5;
    text-transform: uppercase;
    font-weight: bolder;
}
.my-panel
{
padding:20px;
background:#deebf7;
}

.cursor
{
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}
.cursor:hover
{
    opacity:1;
}