.cus-text-title
{
    color:#4b0082;
    text-transform: uppercase;
    font-weight: bolder;
}
.my-panel
{
padding:20px;
// background:#deebf7 -fathersday;
background:#f1a6262e;
}

.cursor
{
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}
.cursor:hover
{
    opacity:1;
}