<ion-content>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container for-links-hover">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/postcard/1-min.png">
                    <br /> <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <app-postcard-thumb eventname="Corporate and Business"></app-postcard-thumb>
                </div>
                <div class="col-md-4 mb-4">
                    <app-postcard-thumb eventname="Family and Friends"></app-postcard-thumb>
                </div>
                <div class="col-md-4 mb-4">
                    <app-postcard-thumb eventname="Floral and Fauna"></app-postcard-thumb>
                </div>
                <div class="col-md-4 mb-4">
                    <app-postcard-thumb eventname="Minimal Designs"></app-postcard-thumb>
                </div>
                <div class="col-md-4 mb-4">
                    <app-postcard-thumb eventname="Photographic"></app-postcard-thumb>
                </div>
                <div class="col-md-4 mb-4">
                    <app-postcard-thumb eventname="Travel and Scenery"></app-postcard-thumb>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>