<ion-content>
    <h2 style="font-size:0px;margin: 0;">Postcards</h2>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container for-links-hover">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/hbd/banner/postcard-min.png">
                    <br /> <br />
                    <div style="position:relative">
                        <!-- <div style="height: 100%; width: 20%; position: absolute; left: 42%; bottom: 0%; background-color: white;"></div> -->
                        <img src="/assets/images/2024/hbd/banner/postcard-s1-min.png">
                        
                            <div style="height: 100%;width: 16%; position: absolute; left: 42%; bottom: 0%;cursor: pointer;"></div>
                            <!-- [routerLink]="['/cards/event/6PYnxDpXuOJ6wktkQHfO']"> -->
                       
                        <div style="height: 100%;width: 16%; position: absolute; left: 61%; bottom: 0%;cursor: pointer;"
                            [routerLink]="['/cards/event/WdxuRQ3LKRc2KDDDmB6H']"></div>
                        <div style="height: 100%;width: 16%; position: absolute; right: 3%; bottom: 0%;cursor: pointer;"
                            [routerLink]="['/cards/event/Uv9CIjxrd9ryqzUD4cbj']"></div>
                    </div>
                    <br /> <br />
                    <img src="/assets/images/2024/hbd/banner/postcard-s2-min.png">
                    <img src="/assets/images/2024/hbd/banner/postcard-s3-min.png">
                    <br /> <br />
                </div>
            </div>
            <!-- <div class="row mt-4">
                <div class="col-md-12 text-center mb-3">
                    <h2 style="color:#6b2d98; font-weight: bolder;">CATEGORIES</h2>
                </div>
            </div> -->
            <div class="row mb-4">
                <div class="col-md-3 mb-3 ">
                    <app-postcard-thumb eventname="Floral and Fauna"></app-postcard-thumb>
                </div>
                <div class="col-md-3 mb-3">
                    <app-postcard-thumb eventname="Philippines"></app-postcard-thumb>
                </div>
                <div class="col-md-3 mb-3">
                    <app-postcard-thumb eventname="Corporate and Business"></app-postcard-thumb>
                </div>
                <div class="col-md-3 mb-3">
                    <app-postcard-thumb eventname="Family and Friends"></app-postcard-thumb>
                </div>

            </div>
            <div class="row mb-4 mt-4">
                
                <div class="col-md-3 mb-3 mt-3">
                    <app-postcard-thumb eventname="Minimal Designs"></app-postcard-thumb>
                </div>
                <div class="col-md-3 mb-3 mt-3">
                    <app-postcard-thumb eventname="Photographic"></app-postcard-thumb>
                </div>
                <div class="col-md-3 mb-3 mt-3">
                    <app-postcard-thumb eventname="Travel and Scenery"></app-postcard-thumb>
                </div>
                <div class="col-md-3 mb-3 mt-3">
                    <app-postcard-thumb eventname="Valentine's"></app-postcard-thumb>
                </div>
            </div>
            <div class="row mb-4 mt-4">
                <div class="col-md-12 mt-4">
                    <img src="/assets/images/postcard/my-banner-2-min.png">
                </div>
            </div>
            <!-- <div class="row mb-4 mt-4">
                <div class="col-md-12 text-center">
                    <h2 style="color:#7f2aa0; font-weight: bolder;">Featured Postcards</h2>
                </div>
                <div class="col-md-4 mb-4">
                    <app-postcard-thumb eventname="Philippines"></app-postcard-thumb>
                </div>
                <div class="col-md-4 mb-4">
                    <app-postcard-thumb eventname="USA"></app-postcard-thumb>
                </div>
                <div class="col-md-4 mb-4">
                    <app-postcard-thumb eventname="Singapore"></app-postcard-thumb>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2024/hbd/more-min.png">
                    <br /><br />
                </div>
                <div class="col-md-12" style="position: relative">
                    <img src="/assets/images/2024/hbd/more-2-min.png">
                    <div style="height: 67%;width: 21%; position: absolute; left: 23%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/poetry']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 45.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/postcards']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 68.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/signandsend']"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() == 'ph'">
                    <img src="/assets/images/2024/hbd/2-ecard-sticker-2-min.png">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                        target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/stickercards']"></div>
                </div>
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() != 'ph'">
                    <img src="/assets/images/2024/hbd/2-ecard-sticker-2-min.png">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                        target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/stickercards']"></div>
                </div>
                <div class="col-md-12">
                    <img src="/assets/images/2024/hbd/delivery-ph-min.png" *ngIf="priceService.getLocation() == 'ph'"
                        class="img-fluid " style="width:100%">
                    <img src="/assets/images/2024/hbd/delivery-min.png" *ngIf="priceService.getLocation() != 'ph'"
                        class="img-fluid " style="width:100%">
                    <br /> <br />
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>