<ion-content>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container for-links-hover">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/postcard/1-min.png">
                    <br/> <br/>
                </div>
             
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#">
                        <img src="/assets/images/postcard/Baby-min.png">
                    </a>
                    <br/> <br/>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img src="/assets/images/postcard/Confirmation-min.png">
                    </a>
                    <br/> <br/>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img src="/assets/images/postcard/Easter (4_17)-min.png">
                    </a>
                    <br/> <br/>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img src="/assets/images/postcard/Friendship-min.png">
                    </a>
                    <br/> <br/>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img src="/assets/images/postcard/Get Well-min.png">
                    </a>
                    <br/> <br/>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img src="/assets/images/postcard/Teacher Appreciation-min.png">
                    </a>
                    <br/> <br/>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>