<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/mothers/greetings/header.png">
                    <img src="/assets/images/mothers/greetings/banner1.png">
<div class="row mother-greetings-selection">
    <div class="col-md-8 offset-md-2">
        <div class="row">
            <div class="col-md-4 text-center">
                <a href="#ALLMOMS">FOR ALL MOMS</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="#FROMDAUGHTERS">FROM DAUGHTERS</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="#FROMSONS">FROM SONS</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <a href="#NEWMOMS">FOR NEW MOMS</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="#FARAWAYMOMS">FOR FAR AWAY MOMS</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="#SHORT">SHORT AND SWEET</a>
            </div>
            <div class="col-md-12 text-center">
                <a href="#QUOTES">MOTHER'S DAY QUOTES</a>
            </div>
        </div>
    </div>
</div>

<div id="ALLMOMS"></div>
                    <img src="/assets/images/mothers/greetings/all-mothers-min.png">
                    <br/><br/>
                    <ol>
                        <li>Mother's Day greetings, Mom! You mean a lot to me. I wish you a day as unique as you are.</li>
                         <li>I adore you more than words can express. You are my best buddy, and I would be lost without you. Thank you
                    for shaping me into who I am today.</li>
                         <li>Thank you so much, Mom, for everything you do for us all. The kids adore you, and we are so grateful for your
                    help.</li>
                         <li>Happy Mother's Day to the best mother in the world! I wish you the happiest of days.</li>
                         <li>I hope to meet you soon and give you a big embrace, but for the time being, these flowers will have to suffice!</li>
                    </ol>
                    <br/><br/>
                    <div id="FROMDAUGHTERS"></div>
                    <img src="/assets/images/mothers/greetings/daugther-to-mother-min.png">
                    <br/><br/>
                    <ol>
                        <li> Dear Mom, I owe you everything I am. Thank you for being my best friend and motivating me every day!</li>
                        <li>Even though we haven't been able to see each other as much as we would have liked this year, thank you for 
your love and support every day to help me get through!</li>
                        <li>Mama, you're the only one who knows me from head to toe. I appreciate and adore you more than you'll ever 
understand. Have a lovely Mother's Day!</li>
                        <li>Thank you for being the best mother on the planet. I'm overjoyed and pleased to be your daughter.</li>
                        <li>You are the most lovely and caring person I have ever met. Thank you for bringing me into this world and for 
always being there for me. Mommy, I adore you!</li>
                    </ol>
                    <br/><br/>

 <div id="FROMSONS"></div>
                    <img src="/assets/images/mothers/greetings/son-to-mother-min.png">
                    <br/><br/>
                    <ol>
                        <li>Mother, you are my greatest source of inspiration and influence. Thank you for everything you've done to help
me and shape me into the man I am today.</li>
                        <li>Mom, have a fantastic Mother's Day! I adore you more than words can express!</li>
                        <li>I consider myself extremely fortunate to have you as a mother. I know it wasn't easy raising me, but I'm grateful
for all of your unwavering love and patience!</li>
                        <li>Mom, you mean so lot to me. I adore you and wish you a very Happy Mother's Day!</li>
                        <li>I know I don't say it enough, but I adore you and want you to understand how much you mean to me. Mother's Day greetings, Mom.
                        </li>
                    </ol>
                    <br/><br/>
                    <div id="NEWMOMS"></div>
                    <img src="/assets/images/mothers/greetings/new-moms-min.png">
                    <br/><br/>
                    <ol>
                        <li>This is the start of a new and wonderful chapter in my life as a mother. Have a wonderful first Mother's Day!</li>
                        <li>Thank you so much for our beautiful baby - the best gift you've ever given me. I'm overjoyed to embark on the
adventure of fatherhood with my love and best friend. Congratulations on your first Mother's Day!</li>
                        <li>Thank you for bringing into the world this lovely bundle of joy. You are an incredible mother. Have a lovely
Mother's Day!</li>
                        <li>I'm very proud of how you handled bringing our daughter into the world; you're such a strong woman! You are
an excellent wife and an even better mother. Congratulations on your first Mother's Day.</li>
                        <li>To my mother. Congratulations on your first Mother's Day! I adore you so much.</li>
                    </ol>
                    <br/><br/>
                    <div id="FARAWAYMOMS"></div>
                    <img src="/assets/images/mothers/greetings/far-away-min.png">
                    <br/><br/>
                    <ol>
                        <li>I miss you, Mom, and I can't wait to see you again so we can celebrate properly. Have a fantastic Mother's Day
and thank you so much!</li>
                        <li>We may be apart, but you are still in my thoughts on a daily basis; I love you, Mama, and happy Mother's Day!</li>
                        <li>Mommy, thank you for being strong and keeping us, all going during these strange times. We adore you!
Mother's Day greetings!</li>
                        <li>I'm going to give you the BIGGEST hug when this is all over, Mom. Mother's Day greetings!</li>
                        <li>If you were in charge, Grandma, this would have been resolved months ago! Thank you for being the best
mother ever. Mother's Day greetings!</li>
                    </ol>
                    <br/><br/>
                    <div id="SHORT"></div>
                    <img src="/assets/images/mothers/greetings/short-sweet-min.png">
                    <br/><br/>
                    <ol>
                        <li>Mom, you are a blessing to our family!</li>
                        <li>Mama, I adore you and send you hugs and kisses!</li>
                        <li>Best wishes for Mother's Day!</li>
                        <li>Thank you very much for everything you do for me!</li>
                        <li>Lots of affection. You are the best mother!</li>
                        <li>To the best mother on the planet!</li>
                    </ol>
                    <br/><br/>
                    <div id="QUOTES"></div>
                    <img src="/assets/images/mothers/greetings/quote-min.png">
                    <h3>INSPIRING MOTHER'S DAY QUOTES</h3>
                    <br/><br/>
                    <p>If you're at a loss for words, borrow someone else's! Here are some of the most beautiful
quotes from people of all walks of life, perfect for adding a little glitter to your Mother's Day
card.</p>
                    <ol>
                        <li>"My mother is a walking miracle." - Leonardo DiCaprio</li>
                        <li>"My mother, she is beautiful, softened at the edges, and tempered with a spine of
steel. I want to grow old and be like her." - Jodi Picoult</li>
                        <li>"Acceptance, tolerance, bravery, compassion. These are the things my mum taught
me." - Lady Gaga</li>
                        <li>"Mama was my greatest teacher, a teacher of compassion, love and fearlessness. If love
is sweet as a flower, then my mother is that sweet flower of love." - Stevie Wonder</li>
                    </ol>
                    <br/><br/>
                    <h3>FUNNY MOTHER'S DAY QUOTES</h3>
                    <br/><br/>
                    <ol>
                        <li> "My mother had a great deal of trouble with me, but I think she enjoyed it." - Mark
                            Twain</li>
                        <li>"My mother taught me to be nice to everybody…</li>
                        <li>She said, 'I want you to always remember that the person you are in this world is a
                            reflection of the job I did as a mother'." - Jason Segel</li>
                        <li>"It's a funny thing about mothers and fathers. Even when their own child is the most
                            disgusting little blister you could ever imagine, they still think he or she is wonderful." -
                            Roald Dahl</li>
                        <li>"There's no way to be a perfect mother and a million ways to be a good one." - Jill
                            Churchill</li>
                            <li> "I want my children to have all the things I couldn't afford. Then I want to move in with
                                them." - Phyllis Diller</li>
                    </ol>
                    <br/><br/>
                    <h3>WISE MOTHER'S DAY QUOTES</h3>
                    <br/><br/>
                    <ol>
                        <li>"Biology is the least of what makes someone a mother." - Oprah Winfrey</li>
                        <li>"A mother's love for her child is like nothing else in the world. It knows no law, no pity.</li>
                        <li>It dares all things and crushes down remorselessly all that stands in its path." - Agatha
                            Christie</li>
                        <li>"The natural state of motherhood is unselfishness." - Jessica Lange</li>
                        <li>"A mother's love endures through all." - Washington Irving</li>
                        <li>"A mother's arms are more comforting than anyone else's." - Princess Diana</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>