section{
    padding-bottom: 10px;
}

.order{
    background-color: #3167eb; 
    color: #fff; 
    font-size: 18px;
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    
}

.order:hover{
    background-color: #6610f2; 
    font-weight: 500px;
}

.icon-free-shipping {
    display: inline-block;
    height: 120px;
    padding-left: 20px;

}

.cursor{
    cursor: pointer;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: center;
    gap: 10px 10px;
}
.t-links
{
    color: indigo;
    font-size: 12px;
    border: 2px solid indigo;
    padding: 5px;
    display: inline-block;
    margin-bottom: 5px;
    line-height: 12px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0 0 8px 0;
    width: 130px;
    text-align: center;
}
.t-links:hover{
color:white;
background: indigo;
}