<ion-content>
    <app-sub-header *ngIf="elementEvent == 'mothers day'"></app-sub-header>
    <section class="section-name padding-y-sm">
        <div class="container animate main">
            <div class="row align-top mb-5">
                <div class="row pad-botom">
                    <div class="col-md-8 col-sm-10">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <p routerLink="/" class="cursor">{{'card.home'|translate}}</p>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page" *ngIf="card">{{card!.name}}</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-4 col-sm-2 card-other">
                        <app-ordercount *ngIf="card && card.orders" [sold]="card.orders.length"></app-ordercount>
                        <app-favorite cardId="{{id}}" style="display: inline-block;"></app-favorite>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 mb-4">
                        <app-imagegrid id="{{id}}" *ngIf="card && card.type != 'ecard'"></app-imagegrid>
                        <app-ecard-image-grid id="{{id}}" *ngIf="card && card!.type == 'ecard'"></app-ecard-image-grid>
                        <app-rating id="{{id}}" class="d-none d-sm-block d-md-block d-lg-block d-xl-block "></app-rating>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="card">
                            <div class="card-body" *ngIf="card">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h2 class="section-title" style="color:indigo;font-weight:bolder">{{card!.name}} </h2>
                                    </div>
                                    <div class="col-md-4 text-end my-auto">
                                        <img src="../assets/images/badge-sticker-free-2.png" class="sticker ms-2 cursor" *ngIf="card && card!.type == 'sticker' && card!.price == 18" [routerLink]="getStickerLink()" />
                                        <img src="../assets/images/badge-featured.png" class="featured ms-2" *ngIf="card && card!.featured" />
                                        <img src="../assets/images/badge-poetry.png" class="poerty ms-2" *ngIf="card && card.messagetype=='poetry'" />
                                    </div>
                                </div>
                                <section>
                                    <div class="row" *ngIf="card.type == 'card'">
                                        <div class="col-12">
                                            <p>Available in: <span *ngFor="let type of card!.types" class="custom-pill mb-1">{{type}}</span></p>
                                        </div>
                                    </div>
                                    <p>Description: "{{card!.description}}"</p>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <p>{{getEventTitle(card!)}}: <span *ngFor="let event of card!.events" class="custom-pill mb-1">{{event}}</span></p>
                                            <p>Recipient: <span *ngFor="let recipient of card!.recipients" class="custom-pill mb-1">{{recipient}}</span></p>
                                            <app-bundle [view]="true" [card]="card" *ngIf="card.type != 'ecard'"></app-bundle>
                                            <img src="assets/images/sign-send-logo.png" style=" height: 40px;" *ngIf="card?.signAndSend">
                                            <h3 class="section-title" *ngIf="card.type != 'postcard'">Price: {{priceService.getSign()}} {{getPrice() | number:'1.2-2'}} </h3>
                                            <a [ngClass]="orderEnable?'order':'order disable'" mat-raised-button *ngIf="card" (click)="checkIfLoggedIn(id)" [disabled]="!orderEnable" style="display:block" disabled>{{'card.buynow'|translate}}</a>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" [checked]="orderEnable" id="agreement" (change)="setEnable($event)">
                                                <label class="form-check-label" for="agreement">
                                                    Accept Terms & Condition
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-5" style="text-align:right">
                                            <img src="/assets/images/icon_free_shipping.png" class="img-fluid icon-free-shipping" *ngIf="(card.type != 'ecard') && (priceService.getLocation() == 'ph')">
                                            <img src="/assets/images/icon_free_shipping-v2.png" class="img-fluid icon-free-shipping" *ngIf="(card.type != 'ecard') && (priceService.getLocation() != 'ph')">
                                            <br />
                                            <div *ngIf="card.type != 'ecard'">
                                                <span><b>Standard Delivery:</b> {{priceService.getLocation() == 'ph'?'get by 2-3 days':'get by 5-7 days'}}</span>
                                            </div>
                                            <br />
                                            <a href="/page/TermsAndCondition" target="_blank" title="Terms And Condition" class="t-links">{{'card.seeterms'|translate}}</a><br />
                                            <a href="/page/PrivacyPolicy" target="_blank" title="Privacy Policy" class="t-links">{{'card.seeprivacy'|translate}}</a>

                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <h5 style="font-weight: 600;" *ngIf="card">{{'card.details'|translate}}:</h5>
                                    <div style="white-space:pre-wrap">{{card!.details}}</div>
                                    <br />
                                    <img src="/assets/images/logo_fibeigreetings.png" routerLink="/" class="img-fluid cursor" style="max-height:100px;" *ngIf="card">
                                    <br />
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <app-rating id2="{{id}}" class="d-md-none d-lg-none d-xl-none d-block"></app-rating>
                <div class="row" *ngIf="card">
                    <div class="col-12 px-0 mb-4">
                        <app-suggestion-list [card]="card"></app-suggestion-list>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-2">
                        <app-rating-summary cardId="{{id}}"></app-rating-summary>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-sub-footer *ngIf="elementEvent == 'mothers day'"></app-sub-footer>
    <app-footer></app-footer>
</ion-content>