section {
    padding-bottom: 10px;
}

.order {
    background-color: #3167eb;
    color: #fff;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;

    &:not(.disable):hover {
        background-color: #6610f2;
        font-weight: 500px;
    }
}

.icon-free-shipping {
    // display: block;
    // 
    // float: right;
    height: 70px;
    margin-bottom: 18px;

}

.cursor {
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: center;
    gap: 10px 10px;
}
.t-link-container
{
    float: right;
    // position: absolute;
}
.t-links {
    color: indigo;
    font-size: 12px;
    border: 2px solid indigo;
    padding: 5px;
    display: inline-block;
    margin-bottom: 5px;
    line-height: 12px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0 0 8px 0;
    width: 160px;
    text-align: center;
   
}

.t-links:hover {
    color: white;
    background: indigo;
}

.pad-botom {
    padding-bottom: 10px;
}

.card-other {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.custom-pill {
    color: white;
    padding: 6px 10px;
    background: #6b2d98;
    font-size: 12px;
    border-radius: 16px;
    margin-right: 5px;
    display: inline-block;
}

.tag {
    color: #d518bb;
    background-color: white;
    border: none;
    font-weight: normal;
}

.tag-bestseller {
    background: #d518bb;
    color: white;
    padding: 2px 12px;
    margin: 0;
    border-radius: 12px;
    margin-bottom: 4px;
}

.tag-featured {
    background: #6b2d98;
    color: white;
    padding: 2px 12px;
    margin: 0;
    border-radius: 12px;
    margin-bottom: 4px;
}

.poerty {
    width: 100px;
}

.bestseller {
    height: 70px;
    aspect-ratio: 1.2/1;
}

.featured {
    width: 125px;
}
.v-title
{
    color:indigo;
    font-weight:bolder;
    margin-top: 10px;
    font-size: 24px;
}

.back {
    background-color: #8a2be2; 
    color: #ffffff;
}