section{
    padding-bottom: 10px;
}

.order{
    background-color: #3167eb; 
    color: #fff; 
    font-size: 18px;
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    
}

.order:hover{
    background-color: #6610f2; 
    font-weight: 500px;
}

.icon-free-shipping {
    display: inline-block;
    height: 140px;
    padding-left: 20px;

}

.cursor{
    cursor: pointer;
}
