.div-img {
    aspect-ratio: 1 / 1;
}

.div-img img {
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.cursor:hover,
.cursor:active {
    opacity: 1
}

.cursor:hover img {

    border-style: inset;
    border-width: 5px;
    border-top-color: #1244bd;
    border-left-color: #1244bd;
    border-right-color: #1244bd;
    border-bottom-color: #1244bd;
}

.title {
    text-align: center;
    background: #000;
    padding: 10px;
    font-weight: bold;
    color: white;
}

.cursor:hover,
.cursor:active {
    background: #630ca5;
}

.my-header {
    color: indigo;
    border-bottom: 2px solid indigo;
    padding-bottom: 10px;
    font-weight: bolder;

}

.cursor {
    opacity: 0.8;
    cursor: pointer;
}

.none {
    cursor: none;
    pointer-events: none;
    opacity: .3;
}