<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/xmas/greeting/banner.gif">
                    <img src="/assets/images/xmas/greeting/banner-2.png">
                    <div class="father-greetings-selection">
                    <div class="row ">
                        <div class="col-md-4">
                            <img src="/assets/images/xmas/greeting/quote.png" (click)="scroll(quote1)" class="to-link">
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <br/><br/> <br/><br/>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <img src="/assets/images/xmas/greeting/btn-father.png" (click)="scroll(father1)" class="to-link">
                                    <br/><br/>
                                </div>
                                <div class="col-md-6 text-center">
                                    <img src="/assets/images/xmas/greeting/btn-mother.png" (click)="scroll(mother1)"  class="to-link">
                                    <br/><br/>
                                </div>
                                <div class="col-md-6 text-center">
                                    <img src="/assets/images/xmas/greeting/btn-son.png" (click)="scroll(son1)"  class="to-link">
                                    <br/><br/>
                                </div>
                                <div class="col-md-6 text-center">
                                    <img src="/assets/images/xmas/greeting/btn-daugther.png" (click)="scroll(daugther1)"  class="to-link">
                                    <br/><br/>
                                </div>
                                <div class="col-md-12 text-center">
                                    <div class="col-md-6 col-md-6 offset-md-3">
                                        <img src="/assets/images/xmas/greeting/btn-all.png" (click)="scroll(all1)"  class="to-link">
                                        <br/><br/>
                                    </div>
                                </div>
                             </div>
                        </div> 
                        </div>
                    </div>
                </div>
                <div class="card-panel">
                    <div #father1></div>
                    <img src="/assets/images/xmas/greeting/2-min.png" class="w100">
                    <img src="/assets/images/xmas/greeting/3-min.png" class="w100">
                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display">
                            <app-halloween-card id="2PrIdDGbqDfZKgeN3r7c"></app-halloween-card>
                            <app-halloween-card id="Zf9BZJ3z4vCCv9xfF4r2"></app-halloween-card>
                            <app-halloween-card id="OVKyRcl2HW6Qwv7gHV29"></app-halloween-card>
                            <app-halloween-card id="fd4U28ocpHQj1x4SAHuD"></app-halloween-card>
                            <app-halloween-card id="G1oGwrfjRC3UsbARArRk"></app-halloween-card>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="card-panel">
                    <div #mother1></div>
                    <img src="/assets/images/xmas/greeting/4-min.png" class="w100">
                    <img src="/assets/images/xmas/greeting/5-min.png" class="w100">
                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display">
                            <app-halloween-card id="d6MGnVeNS9uOtaIfuO1Q"></app-halloween-card>
                            <app-halloween-card id="upK034mnAKPKOXpR7bK3"></app-halloween-card>
                            <app-halloween-card id="CFzQ6UfDFDIQiAST63oW"></app-halloween-card>
                            <app-halloween-card id="MhlJom3uSfhieuBoikbd"></app-halloween-card>
                            <app-halloween-card id="IMD6OHig83C3Gn3O1fAl"></app-halloween-card>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="card-panel">
                    <div #son1></div>
                    <img src="/assets/images/xmas/greeting/6-min.png" class="w100">
                    <img src="/assets/images/xmas/greeting/7-min.png" class="w100">
                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display">
                            <app-halloween-card id="XwCIByzVlqyYwdNjxLs9"></app-halloween-card>
                            <app-halloween-card id="gWfw240Bjvn7r6NENZrO"></app-halloween-card>
                            <app-halloween-card id="FdJztnRkF0PjVeVX41tI"></app-halloween-card>
                            <app-halloween-card id="qAsMVAfCDD8yxO9tXm22"></app-halloween-card>
                            <app-halloween-card id="6lixPfOTMNWzvu3U5gN2"></app-halloween-card>
                        </div>
                    </div>
                   
                    <br/><br/>
                    <br /><br />
                </div>
                <div class="card-panel">
                    <div #daugther1></div>
                    <img src="/assets/images/xmas/greeting/8-min.png" class="w100">
                    <img src="/assets/images/xmas/greeting/9-min.png" class="w100">
                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display">
                            <app-halloween-card id="Nn9gjfpZnDH73dww1jSc"></app-halloween-card>
                            <app-halloween-card id="qQWW2s8ylojRDeQiIfRZ"></app-halloween-card>
                            <app-halloween-card id="i9SDOrf6Ps3ygkkzwwBi"></app-halloween-card>
                            <app-halloween-card id="1oOOvz7vt1Pl51WTjiv4"></app-halloween-card>
                            <app-halloween-card id="4IPC0QPmWFsJrXrp7m3B"></app-halloween-card>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="card-panel">
                    <div #all1></div>
                    <img src="/assets/images/xmas/greeting/10-min.png" class="w100">
                    <img src="/assets/images/xmas/greeting/11-min.png" class="w100">

                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display">
                            <app-halloween-card id="ullOxtNeZWjpMJ2xcgSl"></app-halloween-card>
                            <app-halloween-card id="Pwrkaoe2wepvLKsBWGSJ"></app-halloween-card>
                            <app-halloween-card id="OvxRqQcCkls4YD2QbBeL"></app-halloween-card>
                            <app-halloween-card id="yblbhSOq66mcNICf1tQ6"></app-halloween-card>
                            <app-halloween-card id="Aa4ZjZnXORLBDKlP8lYq"></app-halloween-card>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="card-panel">
                    <div #quote1></div>
                    <img src="/assets/images/xmas/greeting/snow-decor.png" class="w100">
                    <img src="/assets/images/xmas/greeting/12-min.png" class="w100">
                    <img src="/assets/images/xmas/greeting/13-min.png" class="w100">
                    <img src="/assets/images/xmas/greeting/snow-decor.png" class="w100">
                </div>
            </div>   
            <div class="row">

            
            <div class="col-md-6">
                <img src="/assets/images/halloween/v2/cards-min.png" class="img-fluid hover-effect" [routerLink]="['/specialtycardpage']">
            </div>
            <div class="col-md-6">
                <img src="/assets/images/halloween/v2/gifts-min.png" class="img-fluid hover-effect" [routerLink]="['/gifts']">
            </div>
            <div class="col-md-12">
                <br/>
                <img src="/assets/images/halloween/v2/free-fs.png" class="img-fluid hover-effect">
            </div>
        </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>