<div class="row">
    <div class="col-12">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let item of items">
                <div class="row mb-4">
                    <div class="col-1 middle"></div>
                    <div class="col-md-2 col-6 cursor" *ngFor="let card of item.cards">
                        <app-card-slider-thumb [card]="card"></app-card-slider-thumb>
                    </div>
                    <div class="col-1 middle"></div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>