<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container animate main">
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="/assets/images/graduation/homepage-main-banner-min.png" routerLink="/graduation"
                            class="img-fluid cursor" title="Happy Graduation">
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <br/>
                        <h2 class="text-center cus-text-title">FEATURED GRADUATION DAY CARDS
                        </h2>
                    </div>
                    
                    <div class="col-md-12">
                        <app-home-featured caption="Graduation" homeCardEvent="Graduation" [limit]="100"></app-home-featured>
                    </div>
                    <div class="col-md-12">
                        <img src="/assets/images/fathers/home-banner-father.png" class="w100">
                    </div> 
                    <div class="col-md-12">
                        <app-home-featured caption="Sign and Send" [isSignAndSend]=true></app-home-featured>
                    </div>
                    <div class="col-md-12">
                        <br/>
                        <h2 class="text-center cus-text-title">Featured Categories</h2>
                    </div>
                    <div class="col-md-12">
                        <app-home-featured caption="Birthday" homeCardEvent="Birthday" [limit]="100"></app-home-featured>
                    </div>
                    <div class="col-md-12">
                        <app-home-featured caption="Anniversary" homeCardEvent="Anniversary" [limit]="100"></app-home-featured>
                    </div>
                    <div class="col-md-12">
                        <app-home-featured caption="Sympathy" homeCardEvent="Sympathy" [limit]="100"></app-home-featured>
                    </div>
                    <div class="col-md-12">
                        <app-home-featured caption="Pet Cards" homeCardEvent="Pet Cards" [limit]="100"></app-home-featured>
                    </div>
                 
                    <div class="col-md-12 text-center">
                        <div class="cursor btn-more-card" routerLink="/events">More Card Categories</div>
                    </div>
                </div>
            </div>
            <br /> <br />
            <div>
                <div class="">
                    <img src="/assets//images/fathers/sparkle.png" routerLink="/events" class="img-fluid cursor w100" title="Add some sparkle and spice in your life. Fibei Grettings is here for you.">
                    <br /><br />
                </div>
            </div>
            <div>
                <app-home-bestseller></app-home-bestseller>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-3 col-12">
                        <img src="/assets/images/graduation/Homepage Graduation Banner-min.png" routerLink="/cards/events/Graduation"
                            class="img-fluid cursor" style="width:100%">
                        <br /><br />
                    </div>
                    <div class="col-md-9 col-m12">
                        <img src="/assets/images/fathers/shopping greeting cards banner-min.png" routerLink="/cards/events/Gifts for Graduates"
                            class="img-fluid cursor">
                        <br /><br />
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="/assets/images/fathers/banner Quest for Perfect Gifts-min.png" routerLink="/gifts"
                            class="img-fluid cursor">
                        <br /> <br />
                    </div>
                </div>

            </div>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="/assets/images/fathers/Free Shipping Banners-min-2.png" class="img-fluid " style="width:100%">
                        <br /> <br />
                    </div>
                </div>

            </div>

        </div>
    </section>
    <app-footer></app-footer>
</ion-content>