<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container animate main">
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="/assets/images/fathers/HP_Fathers Day Banner-min.png" routerLink="/father"
                            class="img-fluid cursor" title="Make your Father smile this Father's Day">
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <br/>
                        <h2 class="text-center cus-text-title">FEATURED FATHER’S DAY CARDS
                        </h2>
                    </div>
                    
                    <div class="col-md-12">
                        <app-home-featured homeCardEvent="Father’s Day" limit="50"></app-home-featured>
                    </div>
                    <div class="col-md-12">
                        <img src="/assets/images/fathers/home-banner-father.png" class="w100">
                    </div>
                    <div class="col-md-12">
                        <br/>
                        <h2 class="text-center cus-text-title">Featured Categories</h2>
                    </div>
                    <div class="col-md-12">
                        <app-home-featured homeCardEvent="Birthday" limit="12"></app-home-featured>
                    </div>
                    <div class="col-md-12">
                        <app-home-featured homeCardEvent="Anniversary" limit="12"></app-home-featured>
                    </div>
                    <div class="col-md-12">
                        <app-home-featured homeCardEvent="Sympathy" limit="12"></app-home-featured>
                    </div>
                    <div class="col-md-12">
                        <app-home-featured homeCardEvent="Pet Cards" limit="12"></app-home-featured>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="cursor btn-more-card" routerLink="/events">More Card Categories</div>
                    </div>
                </div>
            </div>
            <!-- <div>
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">Featured Categories</h2>
                    </div>
                    <div class="row my-selections">
                        <div class="col-md-3">
                            <div routerLink="/cards/events/Birthday" class="cursor selection">
                                <img src="/assets/images/layout2/Birthday.png" alt="Birthday" title="Birthday">
                                <div>Birthday</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div routerLink="/cards/events/Anniversary" class="cursor selection">
                                <img src="/assets/images/layout2/Anniversary.png" alt="Anniversary" title="Anniversary">
                                <div>Anniversary</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div routerLink="/cards/events/Sympathy" class="cursor selection">
                                <img src="/assets/images/layout2/Sympathy.png" alt="Sympathy" title="Sympathy">
                                <div>Sympathy</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div routerLink="/cards/events/Pet Cards" class="cursor selection">
                                <img src="/assets/images/layout2/Pet.png" alt="Pet" title="Pet">
                                <div>Pet Cards</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> -->
            <br /> <br />
            <div>
                <div class="">
                    <img src="/assets//images/fathers/sparkle.png" routerLink="/events" class="img-fluid cursor w100" title="Add some sparkle and spice in your life. Fibei Grettings is here for you.">
                    <br /><br />
                </div>
            </div>
            <div>
                <app-home-bestseller></app-home-bestseller>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-3 col-12">
                        <img src="/assets/images/fathers/Homepage Graduation Banner-min.png" routerLink="/cards/events/Graduation"
                            class="img-fluid cursor" style="width:100%">
                        <br /><br />
                    </div>
                    <div class="col-md-9 col-m12">
                        <img src="/assets/images/fathers/shopping greeting cards banner-min.png" routerLink="/cards/events/Gifts for Graduates"
                            class="img-fluid cursor">
                        <br /><br />
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="/assets/images/fathers/banner Quest for Perfect Gifts-min.png" routerLink="/gifts"
                            class="img-fluid cursor">
                        <br /> <br />
                    </div>
                </div>

            </div>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="/assets/images/fathers/Free Shipping Banners-min-2.png" class="img-fluid " style="width:100%">
                        <br /> <br />
                    </div>
                </div>

            </div>

        </div>
    </section>
    <app-footer></app-footer>
</ion-content>