.cursor{
    cursor: pointer;
}

.my-selections div .selection {
    border: 4px solid #ccc;
    padding: 10px;
    display: inline-block;
    border-radius: 6px;
}

.my-selections div .selection div {
    text-align: center;
    color: blueviolet;
    font-weight: bold;
    margin-top: 6px;
    font-size: 18px;
}

.my-selections div a:hover {
    border: 4px solid blueviolet;
}

.btn-more-card
{
    background: #7030a0;
    color: white;
    padding: 10px 30px;
    display: inline-block;
    font-size: 22px;
    border-radius: 6px;
    font-weight: bold;
}
// .cursor
// {
//     cursor: pointer;
//     opacity: 0.7;
//     transition: 0.3s;
// }
// .cursor:hover
// {
//     opacity:1;
// }
.cus-text-title
{
    color:#4b0082;
    text-transform: uppercase;
    font-weight: bolder;
}
.w100
{
width:100% !important
}