.info-wrap {
    padding: 16px 14px !Important;
}

.card{
    cursor: pointer;
}

.card .img-wrap {
    background-color: #fbf4ff;
    // height: 200px;
}

.card card-product-grid:hover {
    border: 1px solid darkviolet
}

.title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    max-width: 1005;
}

.bestseller {
    left: -15px;
    top: -15px;
}

.bestseller img {
    height: 90px;
}

.featured {
    width: 80px;
}
.ecard-design
{
    padding: 20px;
    background: #ba8fcc;
    border: 4px solid #ba8fcc;
    border-radius: 0 40px 0 40px;
    box-shadow: 6px 6px 6px #80808029;
}
.ecard-design:hover
{
    border: 4px solid #dc17be;
}

.ecard-design > a,
.ecard-img
{
    border-radius: 0 40px 0 40px;  
    
}
.ecard-img
{
    height: 160px;  
}
.price
{
    height: 30px;
    line-height: 30px;
}