<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container animate main">
            <h2 > Cart</h2>
            <div *ngIf="(phOrder.length == 0) && (usOrder.length == 0) && (sgOrder.length == 0)">
                <div class="row border">
                    <div class="col-12 allign-center">
                        <label>{{'cart.noitems'|translate}}</label>
                    </div>
                </div>
            </div>
            <div *ngIf="phOrder.length > 0">
                <app-cart-total [uid]="uid" [orders]="phOrder" location="ph"></app-cart-total>
            </div>
            <div *ngIf="usOrder.length > 0">
                <app-cart-total [uid]="uid" [orders]="usOrder" location="us"></app-cart-total>
            </div>
            <div *ngIf="sgOrder.length > 0">
                <app-cart-total [uid]="uid" [orders]="sgOrder" location="sg"></app-cart-total>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>