.main{
    min-height: 500px;
}

.allign-center{
    text-align: center;
}

.allign-right{
    text-align: right;
}

.border{
    border: solid 1px gray;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.total{
    padding-top: 20px;
    padding-bottom: 20px;
}

.full-size{
    width: 100%;
    font-size: 18px;
    border-radius: 0px;
}

.upload{
    padding: 8px 2px 8px 2px;
    border: 1px solid gray;
    width: 100%;
}

.img{
    max-width: 100%;
}

.valign-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delete{
    color: red;
    cursor: pointer;
}

.total{
    font-size: 20px;
}