<div>
  <p style="font-size: 150%; text-align: center;" *ngIf="currentRateStr!='0.0'"><b>{{'card.customerreviews'|translate}}</b></p>
  <div class="row main" style="display: flex; background-color: #f8f9fa;border:1px solid #ccc" *ngIf="currentRateStr!='0.0'">
    <div class="col-md-5 col-12 v-align">
      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
        </span>
      </ng-template>
      <div style="text-align: center;">
        <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]=5></ngb-rating>
        <div class="rate-count">
          <div><b style="font-size: 150%;">{{currentRateStr}}/5.0</b></div>
          <div>{{rateCount}} {{'card.reviews'|translate}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-12" style="padding-top:8px">
      <div class="progress-bar-span">
        <span>5&#9733;&nbsp;&nbsp;</span>
        <mat-progress-bar class="my-bar" mode="determinate" value={{calculateRate(rate5)}}></mat-progress-bar>
        <span>&nbsp;&nbsp;{{rate5}}</span>
      </div>
      <div class="progress-bar-span">
        <span>4&#9733;&nbsp;&nbsp;</span>
        <mat-progress-bar class="my-bar" mode="determinate" value={{calculateRate(rate4)}}></mat-progress-bar>
        <span>&nbsp;&nbsp;{{rate4}}</span>
      </div>
      <div class="progress-bar-span">
        <span>3&#9733;&nbsp;&nbsp;</span>
        <mat-progress-bar class="my-bar" mode="determinate" value={{calculateRate(rate3)}}></mat-progress-bar>
        <span>&nbsp;&nbsp;{{rate3}}</span>
      </div>
      <div class="progress-bar-span">
        <span>2&#9733;&nbsp;&nbsp;</span>
        <mat-progress-bar class="my-bar" mode="determinate" value={{calculateRate(rate2)}}></mat-progress-bar>
        <span>&nbsp;&nbsp;{{rate2}}</span>
      </div>
      <div class="progress-bar-span">
        <span>1&#9733;&nbsp;&nbsp;</span>
        <mat-progress-bar class="my-bar" mode="determinate" value={{calculateRate(rate1)}}></mat-progress-bar>
        <span>&nbsp;&nbsp;{{rate1}}</span>
      </div>
    </div>
    <div class="col-md-2 col-12 v-align" *ngIf="!isLogIn">
      <button type="button" class="btn btn-outline-dark" (click)="writeReviewDialog(confimation)">{{'card.writeareview'|translate}}</button>
    </div>
  </div>

  <div *ngIf="currentRateStr=='0.0'">
    <p style="font-size: 150%; text-align: center;" *ngIf="!isLogIn"><b>{{'card.customerreview'|translate}}</b></p>
    <div>
      <div class="col-lg-12 col-sm-12" style="display: flex;">
        <div style="text-align: center;margin:auto" *ngIf="!isLogIn">
          <button mat-raised-button (click)="writeReviewDialog(confimation)">
            {{'card.writeareview'|translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #confimation let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'card.confirmation'|translate}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label>{{'card.reviewsaved'|translate}}</label><br />
        <label>{{'card.title'|translate}}: {{rating.title}}</label><br />
        <label>{{'card.review'|translate}}: {{rating.review}}</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">{{'card.close'|translate}}</button>
  </div>
</ng-template>