.father-greetings-selection {
    background-repeat: no-repeat;
    background-size: cover;
    // padding-top: 50px;
    // padding-bottom: 50px;
    background-position: center right;
}

.father-greetings-selection button {
    margin-bottom: 16px;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    background: #c6a242;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 24px;
}


.father-greetings-selection a:hover {
    background: #1f2b70;
}

.w100 {
    width: 100%;
}

.f-mails {
    padding: 20px;
    background: #ccc;
    box-shadow: 1px 4px 3px #978c8c;
    margin-bottom: 5px;
    opacity: 0.8;
    display: block;
    color: black;
    text-decoration: none;
}

.fmails:hover {
    opacity: 1
}

.to-link {
    cursor: pointer;
}

.card-display {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 1.5rem;
}

.bk-hw {
    // background-image: url('../../assets/images/newyear/fireworks.gif');
    background-image: url('../../../assets/images/hearts.gif')
}