<ion-content>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/newyear/greeting/1-min.png">
                    <img src="/assets/images/newyear/greeting/banner-2.png">
                    <div class="father-greetings-selection">
                    <div class="row ">
                        <div class="col-md-4">
                            <img src="/assets/images/newyear/greeting/btn-quote.png" (click)="scroll(quote1)" class="to-link">
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <br/><br/> <br/><br/>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <button (click)="scroll(father1)" class="to-link">For Fathers</button>
                                    <!-- <img src="/assets/images/newyear/greeting/btn-father.png" > -->
                                    <br/><br/>
                                </div>
                                <div class="col-md-6 text-center">
                                    <button  (click)="scroll(mother1)"  class="to-link">For Mothers</button>
                                    <!-- <img src="/assets/images/newyear/greeting/btn-mother.png"> -->
                                    <br/><br/>
                                </div>
                                <div class="col-md-6 text-center">
                                    <button (click)="scroll(son1)"  class="to-link">For Sons</button>
                                    <!-- <img src="/assets/images/newyear/greeting/btn-son.png" > -->
                                    <br/><br/>
                                </div>
                                <div class="col-md-6 text-center">
                                    <button  (click)="scroll(daugther1)"  class="to-link">For Daughters</button>
                                    <!-- <img src="/assets/images/newyear/greeting/btn-daugther.png"> -->
                                    <br/><br/>
                                </div>
                                <div class="col-md-12 text-center">
                                    <div class="col-md-6 col-md-6 offset-md-3">
                                        <button (click)="scroll(all1)"  class="to-link">For All</button>
                                        <!-- <img src="/assets/images/newyear/greeting/btn-all.png" > -->
                                        <br/><br/>
                                    </div>
                                </div>
                             </div>
                        </div> 
                        </div>
                    </div>
                </div>
                <div class="card-panel">
                    <br/><br/>
                    <div #father1></div>
                    <img src="/assets/images/newyear/greeting/2-min.png" class="w100">
                    <img src="/assets/images/newyear/greeting/3-min.png" class="w100">
                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display">
                            <app-halloween-card id="5FeXg9n8DbEdXrHzRPUt"></app-halloween-card>
                            <app-halloween-card id="iQxWYtCciPLv7tVNKuX7"></app-halloween-card>
                            <app-halloween-card id="ABtAVKyovKrfRP7I6RWR"></app-halloween-card>
                            <app-halloween-card id="S4L4LvaSESvmFHzt6TTX"></app-halloween-card>
                            <app-halloween-card id="JzVcFaLBUtqtohZo0dyn"></app-halloween-card>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="card-panel">
                    <div #mother1></div>
                    <img src="/assets/images/newyear/greeting/4-min.png" class="w100">
                    <img src="/assets/images/newyear/greeting/5-min.png" class="w100">
                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display">
                            <app-halloween-card id="FOFl3f77NUzPLRCeJZS8"></app-halloween-card>
                            <app-halloween-card id="yhQvBuc60B2p4ESYzc1I"></app-halloween-card>
                            <app-halloween-card id="t4CESxfPXjvGUHeVXjcd"></app-halloween-card>
                            <app-halloween-card id="Df067Vo4iTnkIDO2LiBa"></app-halloween-card>
                            <app-halloween-card id="l7gv4KFpOvGTypq0qIJJ"></app-halloween-card>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="card-panel">
                    <div #son1></div>
                    <img src="/assets/images/newyear/greeting/6-min.png" class="w100">
                    <img src="/assets/images/newyear/greeting/7-min.png" class="w100">
                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display">
                            <app-halloween-card id="rU0qBC6L8yb0bQvkE2wr"></app-halloween-card>
                            <app-halloween-card id="Cl6F1Fdt3qcP5bNeWNKb"></app-halloween-card>
                            <app-halloween-card id="D8f6i2RVkNP5t2qGVupp"></app-halloween-card>
                            <app-halloween-card id="x0bkZUZITRc1Il8hmjiA"></app-halloween-card>
                            <app-halloween-card id="msmfzKRHYaddsbdW5xF9"></app-halloween-card>
                        </div>
                    </div>
                   
                    <br/><br/>
                    <br /><br />
                </div>
                <div class="card-panel">
                    <div #daugther1></div>
                    <img src="/assets/images/newyear/greeting/8-min.png" class="w100">
                    <img src="/assets/images/newyear/greeting/9-min.png" class="w100">
                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display"> <!--wala pa -->
                            <app-halloween-card id="9aNWMWz2PRjyXTeFTXHK"></app-halloween-card>
                            <app-halloween-card id="yhQvBuc60B2p4ESYzc1I"></app-halloween-card>
                            <app-halloween-card id="rU0qBC6L8yb0bQvkE2wr"></app-halloween-card>
                            <app-halloween-card id="U4C8JvTlYJG1aVPAh77h"></app-halloween-card>
                            <app-halloween-card id="quBnEz5dtYmylfUMBP4h"></app-halloween-card>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="card-panel">
                    <div #all1></div>
                    <img src="/assets/images/newyear/greeting/10-min.png" class="w100">
                    <img src="/assets/images/newyear/greeting/11-min.png" class="w100">

                    <div class="col-md-12 text-center mt-2 mb-4 cards">
                        <div class="card-display">
                            <app-halloween-card id="qRfETwpqCb04NbzzSlPy"></app-halloween-card>
                            <app-halloween-card id="ibRe4ekd5nlDM4hLEYlo"></app-halloween-card>
                            <app-halloween-card id="7OGfbVEwu6jZRMow4fGl"></app-halloween-card>
                            <app-halloween-card id="8hOsMVaCuwKAwjorBHig"></app-halloween-card>
                            <app-halloween-card id="feU2hiyPKQ0y5tPmQAVU"></app-halloween-card>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="card-panel">
                    <div #quote1></div>
                    <!-- <img src="/assets/images/newyear/greeting/snow-decor.png" class="w100"> -->
                    <img src="/assets/images/newyear/greeting/12-min.png" class="w100">
                    <img src="/assets/images/newyear/greeting/13-min.png" class="w100">
                    <!-- <img src="/assets/images/newyear/greeting/snow-decor.png" class="w100"> -->
                </div>
            </div>   
            <div class="row">

            
            <div class="col-md-6">
                <br/> <br/>
                <img src="/assets/images/halloween/v2/cards-min.png" class="img-fluid hover-effect" [routerLink]="['/specialtycardpage']">
            </div>
            <div class="col-md-6">
                <br/> <br/>
                <img src="/assets/images/halloween/v2/gifts-min.png" class="img-fluid hover-effect" [routerLink]="['/gifts']">
            </div>
            <div class="col-md-12">
                <br/>
                <img src="/assets/images/halloween/v2/free-fs.png" class="img-fluid hover-effect">
            </div>
        </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>