<ion-content>
    <section class="section-name padding-y-sm">
        <div class="container animate main">

            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/sticker_banner1.png" class="img-fluid">
                    <br/>
                    <img src="/assets/images/sticker_banner2.png" class="img-fluid">
                    <br/>
                </div>

            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-light actionbtn" (click)="clickPrev()" [disabled]="!disablePrev" *ngIf="pages.length > 1">
                    <i class="fa fa-i fa-angle-left"></i>
                    </button>
                    <select class="form-select custom-select" aria-label="Default select example" (change)="changeSelected($event)">
                        <option *ngFor="let page of pages" [selected]="page.selected == true" value="{{page.index}}">{{page.display}}</option>
                    </select>
                    <button class="btn btn-light actionbtn" (click)="clickNext()" [disabled]="!disableNext" *ngIf="pages.length > 1">
                        <i class="fa fa-i fa-angle-right"></i>
                    </button>
                </div>
            
                <div class="col-12 text-center">
                    <label>{{batchShowing}}</label>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-6" *ngFor="let card of displayCards">
                    <app-card id="{{card?.id}}"></app-card>
                </div>
            </div> 
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-light actionbtn" (click)="clickPrev()" [disabled]="!disablePrev" *ngIf="pages.length > 1">
                    <i class="fa fa-i fa-angle-left"></i>
                    </button>
                    <select class="form-select custom-select" aria-label="Default select example" (change)="changeSelected($event)">
                        <option *ngFor="let page of pages" [selected]="page.selected == true" value="{{page.index}}">{{page.display}}</option>
                    </select>
                    <button class="btn btn-light actionbtn" (click)="clickNext()" [disabled]="!disableNext" *ngIf="pages.length > 1">
                        <i class="fa fa-i fa-angle-right"></i>
                    </button>
                </div>
                <div class="col-12 text-center">
                    <label>{{batchShowing}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/layout2/Sticker Landing_1-min.png">
                </div>
            </div>

        </div>
    </section>
    <section style="background: #eff399;padding-top: 2%; padding-bottom: 2%;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a [routerLink]="['/events']">
                    <img src="/assets/images/layout2/Sticker Landing_3-min.png">
                </a>
                </div>
                <div class="col-md-6">
                    <a [routerLink]="['/gifts']">
                    <img src="/assets/images/layout2/Sticker Landing_2-min.png">
                </a>
                </div>
            </div>
        </div>
    </section>
<app-footer></app-footer>
</ion-content>
