
<div class="row">
    <div class="col-md-12">
        <img src="/assets/images/sticker_banner1.png" class="img-fluid">
        <br/>
        <img src="/assets/images/sticker_banner2.png" class="img-fluid">
        <br/>
    </div>

</div>
<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-light actionbtn" (click)="clickPrev()" [disabled]="!disablePrev" *ngIf="pages.length > 1">
           <i class="fa fa-i fa-angle-left"></i>
        </button>
        <select class="form-select custom-select" aria-label="Default select example" (change)="changeSelected($event)">
            <option *ngFor="let page of pages" [selected]="page.selected == true" value="{{page.index}}">{{page.display}}</option>
        </select>
        <button class="btn btn-light actionbtn" (click)="clickNext()" [disabled]="!disableNext" *ngIf="pages.length > 1">
            <i class="fa fa-i fa-angle-right"></i>
        </button>
    </div>
   
    <div class="col-12 text-center">
        <label>{{batchShowing}}</label>
        <br/>
        <br/>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-6" *ngFor="let card of displayCards">
        <app-card id="{{card?.id}}"></app-card>
    </div>
</div> <!-- row.// -->
<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-light actionbtn" (click)="clickPrev()" [disabled]="!disablePrev" *ngIf="pages.length > 1">
           <i class="fa fa-i fa-angle-left"></i>
        </button>
        <select class="form-select custom-select" aria-label="Default select example" (change)="changeSelected($event)">
            <option *ngFor="let page of pages" [selected]="page.selected == true" value="{{page.index}}">{{page.display}}</option>
        </select>
        <button class="btn btn-light actionbtn" (click)="clickNext()" [disabled]="!disableNext" *ngIf="pages.length > 1">
            <i class="fa fa-i fa-angle-right"></i>
        </button>
    </div>
    <div class="col-12 text-center">
        <label>{{batchShowing}}</label>
    </div>
</div>

