.actionbtn {
  border-radius: 50%;
}

.custom-select {
  position: relative;
  font-family: Arial;
  width: 200px;
  text-align-last: center;
  border-radius: 0rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000;
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.hover-target:hover {
  background-color: blueviolet;
  /* whatever styles you want to apply */
}

.bk-hw {
  // background-image: url('../../assets/images/newyear/fireworks.gif');
  background-image: url('../../assets/images/hearts.gif');
  }

.btn-category {
  padding: 2%;
  background-color: white;
  color: black;
  display: block;
  margin-bottom: 18px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 0.9;
  border: 4px solid #502d7d;
}

.btn-category:hover,
.btn-category:active {
  opacity: 1;
  background-color: #502d7d;
  color: white;
}

.active {
  background: #dd00ae;
}

.btn-featured {
  opacity: 0.9;
  cursor: pointer;
}

.btn-featured:hover,
.btn-featured:active {
  opacity: 1;
}

.purple-box
{
    padding:20px;
    background:#daa6d6;
}