<ion-content>
    <h2 style="font-size:0px;margin: 0;">Poetry Cards</h2>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container animate main">
            <div class="row text-center">
                <div class="col-md-12">
                    <img src="/assets/images/2023/hw/banner/pc-01-min.png" class="img-fluid">
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="position: relative">
                    <img src="/assets/images/2023/hw/banner/pc-02-min.png">
                    <div style="height: 64%;
                    width: 10.5%;
                    position: absolute;
                    left: 26.5%;
                    bottom: 21%;
                    transform: rotate(6deg);
                    cursor: pointer;" [routerLink]="['https://fibeigreetings.com/card/2AEIb48FFsCWKUg7PO4o']"></div>

                    <div style="height: 64%;
                    width: 11.5%;
                    position: absolute;
                    left: 16%;
                    bottom: 21%;
                    cursor: pointer;" [routerLink]="['https://fibeigreetings.com/card/7TgrexuQzr8CgyAR0uyb']"></div>

                    <div style="height: 64%;
                    width: 10.5%;
                    position: absolute;
                    left: 6%;
                    bottom: 27%;
                    transform: rotate(-9deg);
                    cursor: pointer;" [routerLink]="['https://fibeigreetings.com/card/17qZs9hDay42JCQfsVj7']"></div>

                    <div style=" height: 52%;
                    width: 9%;
                    position: absolute;
                    left: 43.5%;
                    bottom: 16%;
                    cursor: pointer;" [routerLink]="['https://fibeigreetings.com/card/9TSmVtjnbq3mIy6jIwFM']"></div>
                 
                    <div style=" height: 52%;
                    width: 9%;
                    position: absolute;
                    left: 53.2%;
                    bottom: 16%;
                    cursor: pointer;" [routerLink]="['https://fibeigreetings.com/card/5QsMub0wLF8mEnfA4LFN']"></div>

                    <div style=" height: 52%;
                    width: 9%;
                    position: absolute;
                    left: 59.5%;
                    bottom: 16%;
                    cursor: pointer;" [routerLink]="['https://fibeigreetings.com/card/0WmVZDeys7fOibF4rhkx']"></div>

                    <div style=" height: 52%;
                    width: 9%;
                    position: absolute;
                    left: 79.2%;
                    bottom: 16%;
                    cursor: pointer;" [routerLink]="['https://fibeigreetings.com/card/OxYX9CUN7sk5hxb5VjzK']"></div>
                    

                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <img src="/assets/images/2023/hw/banner/pc-04-min.png" class="img-fluid">
                    <br />
                </div>
            </div>
            <!-- <br /><br />
            <div class="row">
                <div class="col-md-3 col-6">
                    <br />
                    <img src="/assets/images/featured/poetry/title.png">
                </div>
                <div class="col-md-3 col-6">
                    <a [routerLink]="['/poetrycards/5tx9z163Jql77mBmvHls']" class="to-link"> <img
                            src="/assets/images/category/cc-ty.png" alt="Thank you" title="Thank you"></a>
                </div>
                <div class="col-md-3 col-6">
                    <a [routerLink]="['/poetrycards/dGiyJX4go7yPhCJNJN4P']" class="to-link"> <img
                            src="/assets/images/category/cc-bday.png" alt="birthday" title="birthday"></a>
                </div>
                <div class="col-md-3 col-6">
                    <a [routerLink]="['/poetrycards/aRQdu4FYb4rASkDhbQmZ']" class="to-link"> <img
                            src="/assets/images/category/cc-wedding.png" alt="wedding" title="wedding"></a>
                </div>
            </div> -->
            <div class="row bg-white pt-4">
                <div class="col-12 ps-4 ms-4">
                    <h1 class="cus-text-title m-0" style="text-transform: none">EVENTS</h1>
                </div>
            </div>
            <div class="row bg-white py-3">
                <div class="col-12 my-2"></div>
                <!--<div class="col-12 ">
                    <a class="btn-featured" *ngIf="featured" [routerLink]="['/poetrycards/' + featured.id]">
                        <img src="/assets/images/poetry/featured-category.jpg" class="img-fluid">
                    </a>
                    <img src="/assets/images/poetry/other.jpg" class="img-fluid">
                </div>-->
                <div class="col-md-12  my-auto">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let event of events">
                            <a class="btn-category py-2" [routerLink]="['/poetrycards/' + event.id]">
                                {{event.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <img src="/assets/images/poetry/Sub-banner.png" class="img-fluid">
                </div>
            </div>
            <div class="row bg-white pt-4">
                <div class="col-12 ps-4 ms-4">
                    <h1 class="cus-text-title m-0" style="text-transform: none">OCCASIONS</h1>
                </div>
            </div>
            <div class="row bg-white pt-4 justify-content-md-center">
                <div class="col-md-10 col-12">
                    <div class="row text-center">
                        <div class="col-6 col-md-6 px-4" *ngFor="let event of occasions">
                            <a class="btn-category" [routerLink]="['/poetrycards/' + event.id]">
                                {{event.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-white py-4">
                <div class="col-12 ps-4 ms-4">
                    <h1 class="cus-text-title m-0" style="text-transform: none">SPECIALTY CARDS</h1>
                </div>
            </div>
            <div class="row bg-white py-4 justify-content-md-center">
                <div class="col-md-10 col-12">
                    <div class="row text-center">
                        <div class=" col-6 col-md-4 ps-4 pe-4" *ngFor="let event of specialty">
                            <a class="btn-category" [routerLink]="['/poetrycards/' + event.id]">
                                {{event.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12 mb-4">
                    <img src="assets/images/banner/select/title.png">
                </div>
                <div class="col-3">
                    <a [routerLink]="['/poetry']"><img src="assets/images/banner/select/p-1.png"></a>
                </div>
                <div class="col-3">
                    <a [routerLink]="['/e-cards']"><img src="assets/images/banner/select/p-2.png"></a>
                </div>
                <div class="col-3">
                    <a [routerLink]="['/postcards']"><img src="assets/images/banner/select/p-3.png"></a>
                </div>
                <div class="col-3">
                    <div class="d-none d-sm-block">
                        <br /><br />
                    </div>
                    <img src="assets/images/banner/select/p-4.png">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br /> <br />
                    <a [routerLink]="['/gifts']" *ngIf="priceService.getLocation() == 'ph'"> <img
                            src="assets/images/banner/shop-gifts.png"></a>
                    <a [routerLink]="['/e-cards']" *ngIf="priceService.getLocation() != 'ph'"> <img
                            src="assets/images/banner/shop-ecards.png"></a>
                    <br /> <br />
                    <img src="assets/images/banner/fs-free.png" *ngIf="priceService.getLocation() == 'ph'">
                    <img src="assets/images/banner/fs-free-us.png" *ngIf="priceService.getLocation() != 'ph'">
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-12">
                    <img src="/assets/images/2023/hw/more-with-fb.png">
                    <br /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="position: relative">
                    <img src="/assets/images/2023/hw/check.png">
                    <div style="height: 67%;width: 21%; position: absolute; left: 5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/poetry']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 27.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/postcards']"></div>
                    <div style="height: 67%;width: 21%; position: absolute; left: 49.5%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/signandsend']"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() == 'ph'">
                    <img src="/assets/images/2023/hw/two.png">
                    <a href="https://fibeidigicards.com/home"
                        style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                        target="_blank"></a>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/gifts']"></div>
                </div>
                <div class="col-md-12" style="position: relative" *ngIf="priceService.getLocation() != 'ph'">
                    <img src="/assets/images/2023/hw/f-usa.png">
                    <div style="height: 100%;width: 50%; position: absolute; left: 0%; bottom: 0%;cursor: pointer;"
                    [routerLink]="['/stickercards']"></div>
                    <div style="height: 100%;width: 50%; position: absolute; right: 0%; bottom: 0%;cursor: pointer;"
                        [routerLink]="['/postcards']"></div>
                </div>
                <div class="col-md-12">
                    <img src="/assets/images/2023/hw/homepage/09-min.png">
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>