<ion-content>
    <section class="section-name padding-y-sm bk-hw">
        <div class="container animate main">
            <div class="row text-center">
                <div class="col-md-12">
                    <img src="/assets/images/poetry/Banner.png" class="img-fluid">
                    <br />
                </div>
            </div>
            <div class="row bg-white py-4">
                <!-- <div class="col-12 mt-2 mb-4">
                    <h1 class="text-center cus-text-title m-0">Poetry Cards Category</h1>
                </div>
                <div class="col-3 ps-4 ms-4">
                    <h1 class="cus-text-title m-0" style="text-transform: none">Events</h1>
                </div> -->
                <div class="col-12 my-2"></div>
                <div class="col-12 ">
                    <a class="btn-featured" (click)="clickEvent(featured)" *ngIf="featured">
                        <img src="/assets/images/poetry/featured-category.jpg" class="img-fluid">
                    </a>
                    <img src="/assets/images/poetry/other.jpg" class="img-fluid">
                </div>

                <!-- <div class="col-md-3 px-4">
                    <div class="row">
                        <div class="col-12">
                            <a class="btn-featured" (click)="clickEvent(featured)" *ngIf="featuredButton != ''"><img [src]="featuredButton"></a>
                        </div> 
                        <div class="col-12 ms-4 mb-2" *ngIf="featuredButton == ''">
                            <p class="fs-2 featured text-success">FEATURED!</p>
                        </div>
                        <div class="col-12 mx-4" *ngIf="featuredButton == ''">
                            <button type="button" class="btn btnfeatured w-100" (click)="clickEvent(featured)" *ngIf="featured">
                                {{featured.name}}
                            </button>
                        </div>
                    </div>
                </div> pe-4-->
                <div class="col-md-12  my-auto">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let event of events">
                            <a (click)="clickEvent(event)" [ngClass]="activeid == event.id!?'btn-category py-2 active':'btn-category py-2'">
                                {{event.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <img src="/assets/images/poetry/Sub-banner.png" class="img-fluid">
                </div>
            </div>
            <div class="row bg-white pt-4">
                <div class="col-3 ps-4 ms-4">
                    <h1 class="cus-text-title m-0" style="text-transform: none">Occasions</h1>
                </div>
            </div>
            <div class="row bg-white pt-4 justify-content-md-center">
                <div class="col-10">
                    <div class="row text-center">
                        <div class="col-md-6 px-4" *ngFor="let event of occasions">
                            <a (click)="clickEvent(event)" [ngClass]="activeid == event.id!?'btn-category active':'btn-category'">
                                {{event.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-white py-4">
                <div class="col-3 ps-4 ms-4">
                    <h1 class="cus-text-title m-0" style="text-transform: none">Specialty Card</h1>
                </div>
            </div>
            <div class="row bg-white py-4 justify-content-md-center">
                <div class="col-10">
                    <div class="row text-center">
                        <div class="col-md-4 ps-4 pe-4" *ngFor="let event of specialty">
                            <a (click)="clickEvent(event)" [ngClass]="activeid == event.id?'btn-category active':'btn-category'">
                                {{event.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-white px-4" id="data-top">
                <app-card-list *ngIf="cards.length > 0" [cards]="cards" mode="card"></app-card-list>
            </div>
            <div class="row">
                <div class="col-md-12 mb-4">
                    <img src="assets/images/banner/select/title.png">
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['/poetry']"><img src="assets/images/banner/select/p-1.png"></a>
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['/e-cards']"><img src="assets/images/banner/select/p-2.png"></a>
                </div>
                <div class="col-md-3">
                    <a [routerLink]="['/postcards']"><img src="assets/images/banner/select/p-3.png"></a>
                </div>
                <div class="col-md-3">
                    <br /><br />
                    <img src="assets/images/banner/select/p-4.png">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br /> <br />
                    <a [routerLink]="['/gifts']"> <img src="assets/images/banner/shop-gifts.png"></a>
                    <br /> <br />
                    <img src="assets/images/banner/fs-free.png">
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>